p {
  margin: 0;
}

.round-button {
  height: 3rem;
  width: 3rem;
}

.info {
  background-color: rgba(var(--ion-color-primary-rgb), 0.2);
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
  border-radius: 6px;
  padding: 0.5rem 0.3rem;
  text-align: center;
  margin-top: 2rem;

  ion-icon{
    font-size: 1.7rem;
  }

  p {
    width: 96%;
    font-size: 0.7rem;
    letter-spacing: 0.01rem;
    font-family: BwModelicaLight;
    font-weight: 600;
  }
}


ion-row.btn-row{
    margin-top: 7rem;
}


ion-modal.enter-pin {

  ion-content{

    .p1{
      margin-top: 1.5rem;
    }

    .px:first-child{
      margin-bottom: .2rem;
    }

    h4{
      margin-bottom: .3rem;
    }
  }
}