<ion-header>
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left">Notifications</h2>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <div class="notification-wrapper" *ngFor="let not of notifications">
    <div class="round-button">
      <ion-icon [src]="'assets/icon/v2-icons/round-btns/bell.svg'"></ion-icon>
    </div>
    <div class="notification">
      <p>{{not.message}}</p>
      <p>{{not.created_at | date}}</p>
    </div>
  </div>
  <!-- <div class="notification-wrapper">
    <div class="round-button">
      <ion-icon [src]="'assets/icon/v2-icons/round-btns/bell.svg'"></ion-icon>
    </div>
    <div class="notification">
      <p>
        Your $2,000 deposit into First (Levadura) has been accepted
      </p>
      <p>16 Feb 2023</p>
    </div>
  </div> -->
</ion-content>
