<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left">Change Password</h2>

  <ion-row class="inputs-wrapper" style="margin-top: 2rem;">
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          name="passwordReg"
          placeholder=" "
          [type]="passwordType"
          [(ngModel)]="currentPassword"
          required
          autocomplete="off"
        />
        <ion-icon
          slot="end"
          [src]="'assets/icon/v2-icons/'+passwordIcon+'-green.svg'"
          class="passwordIcon"
          (click)="hideShowPassword()"
        ></ion-icon>
        <label class="did-floating-label">Enter Current password</label>
      </div>
    </ion-col>
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          name="passwordReg"
          placeholder=" "
          [type]="passwordType"
          [(ngModel)]="currentPassword"
          required
          autocomplete="off"
        />
        <ion-icon
          slot="end"
          [src]="'assets/icon/v2-icons/'+passwordIcon+'-green.svg'"
          class="passwordIcon"
          (click)="hideShowPassword()"
        ></ion-icon>
        <label class="did-floating-label">Enter New password</label>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="rules">
        Your password must include at least
        <ul>
          <li>
            <div>
              Eight (8) characters
              <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
            </div>
          </li>
          <li>
            <div>
              One lowercase letter
              <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
            </div>
          </li>
          <li>
            <div>
              One UPPERCASE letter
              <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
            </div>
          </li>
          <li>
            <div>
              One special character (@, #, $, %, e.t.c)
              <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
            </div>
          </li>
        </ul>
      </div>
    </ion-col>
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          name="passwordReg"
          placeholder=" "
          [type]="passwordType"
          [(ngModel)]="currentPassword"
          required
          autocomplete="off"
        />
        <ion-icon
          slot="end"
          [src]="'assets/icon/v2-icons/'+passwordIcon+'-green.svg'"
          class="passwordIcon"
          (click)="hideShowPassword()"
        ></ion-icon>
        <label class="did-floating-label">Confirm New password</label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="btn-row">
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button class="kwakol-btn ion-text-uppercase" type="submit">Confirm</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
