<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading">Change Password</h2>

  <h1 class="subheader">Hi {{ this.user.fullname }},</h1>
  <p>Kindly reset your password</p>

  <form class="auth-form" (ngSubmit)="changePassword(form)" #form="ngForm">
    <ion-row class="row-auth">
      <ion-col size="12" class="kwakol-input">
        <ion-item class="password-input">
          <ion-input placeholder="Enter New Password" [type]="passwordType" name="password" ngModel #password="ngModel" required></ion-input>
          <!-- <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon> -->
        </ion-item>
      </ion-col>
      <ion-col size="12" class="kwakol-input">
        <ion-item class="password-input">
          <ion-input placeholder="Confirm Password" [type]="passwordType" name="password_confirmation" ngModel #password_confirmation="ngModel" required></ion-input>
          <!-- <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon> -->
          <p></p>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center btn-col">
        <ion-button class="kwakol-btn ion-text-uppercase" type="submit">Change Password</ion-button>
      </ion-col>
    </ion-row>
  </form>

  </ion-content>
