p{
    margin: 0;
}

h1{
    margin-bottom: .3rem;
}

.auth-form{
    margin-top: 2rem;

    .btn-col{
        margin-top: 20rem;
    }

    ion-row{

        ion-col:nth-of-type(1){
            ion-item{
                margin-bottom: .2rem;
            }

            p{
                margin-bottom: 0.7rem;
                font-size: .72rem;
                font-family: 'BwModelicaRegular';
                padding-left: .2rem;
            }
        }
    }
}