<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading">Profit Summary</h2>

  <div class="item">
    <p>Closed Trade</p>
    <h3>${{ util.numberWithCommas(hist.close_trade || '0') }}</h3>
  </div>

  <div class="item">
    <p>Commission</p>
    <h3>${{ util.numberWithCommas(hist.commission || '0') }}</h3>
  </div>

  <div class="item">
    <p>Percentage P/L</p>
    <h3>${{ util.numberWithCommas(hist.percentage || '0') }}%</h3>
  </div>

  <div class="item">
    <p>Opening Balance</p>
    <h3>${{ util.numberWithCommas(hist.opening_balance || '0') }}</h3>
  </div>
<!-- 
  <div class="item">
    <p>Deposit</p>
    <h3>$0</h3>
  </div>

  <div class="item">
    <p>Bonus</p>
    <h3>$0</h3>
  </div> -->

  <div class="item">
    <p>Net Profit</p>
    <h3>${{ hist.net_profit || '0' }}</h3>
  </div>

  <!-- <div class="report">
    <h5>Trading Report</h5>
    <ion-row>
      <ion-col size="4">
        <p>Type</p>
        <h6>Sell</h6>
      </ion-col>
      <ion-col size="8">
        <p>Symbol</p>
        <h6>DJIUSD</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <p>Type</p>
        <h6>Buy</h6>
      </ion-col>
      <ion-col size="8">
        <p>Symbol</p>
        <h6>NZDUSD</h6>
      </ion-col>
    </ion-row>
  </div> -->

  </ion-content>
