<ion-header class="{{account.name.toLowerCase()}}">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back-white.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left down">{{ account.name }}</h2>
  <img [src]="'assets/imgs/investment-types/'+ account.name.toLowerCase() + '-lg.svg'" alt="">
</ion-header>

<ion-content class="page-content">

  <h3>About {{ account.name }} </h3>
  
  <p>
    {{ account.description }}
  </p>
  
  <h3>Features</h3>

  <div class="about">
    <!-- <div class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       {{ account.description }}
    </div> -->
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       Minimum investment: ${{util.numberWithCommas(account.desc_minimum_investment)}}.
    </p>
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       {{ account.desc_commission}}
    </p>
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       {{ account.desc_comment}}
    </p>
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       {{ account.desc_comment}}
    </p>
    <p class="footer">
      * Projected returns only provide estimates of performance based on Kwakol’s prudent investment approach and historic trading performance.
    </p>
  </div>

  <h3>Performance</h3>

  <div class="performance">
    <p>Past year(Jan. - Dec.)</p>
    <p>{{account.percentage}}%</p>
  </div>

  <ion-row>
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button class="kwakol-btn ion-text-uppercase" type="button" (click)="goToInvestInAccount()">Invest</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
