ion-header {
  position: relative;
  background: var(--ion-color-tertiary);
  padding: 7rem 1.35rem 0.2rem 1.35rem;

  &.levadura {
    background: linear-gradient(to top, #01010180, #51af4e00), #d8c680;
  }
  &.marigold {
    background: linear-gradient(to top, #01010180, #51af4e00), #af9685;
  }
  &.junzi {
    background: linear-gradient(to top, #01010180, #51af4e00), #295513;
  }
  &.antipasto {
    background: linear-gradient(to top, #01010180, #51af4e00), #41b651;
  }
  &.veterano {
    background: linear-gradient(to top, #01010180, #51af4e00), #5e5d5c;
  }

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    // background: linear-gradient(to top, #01010180, #51af4e00);
  }
}

.header-md::after {
  background-image: none;
}

h2.subpage-heading.left {
  color: var(--ion-color-tertiary);
  font-family: BwModelicaBold;
  margin-left: 0.5rem;
  font-size: 1.7rem;
  padding-left: 0;

  &.down {
  }
}

p {
  letter-spacing: 0.02rem;
  margin: 0;
  font-family: BwModelicaLight;
  color: rgba(var(--ion-color-secondary-rgb), 0.6);
  font-size: 0.9rem;
  font-weight: 600;
}

h3 {
  font-size: 1.23rem;
  margin-top: 1.7rem;
  font-family: BwModelicaBold;
}

.about {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--ion-light-green-color);
  border-radius: 5px;
  background: #fff;
  .item {
    font-size: 0.8rem;
    position: relative;
    padding: 0.3rem 0rem 0.8rem 2rem;

    ion-icon {
      position: absolute;
      left: 0;
      font-size: 1.5rem;
      top: .15rem;
    }
  }

  .footer {
    font-size: 0.6rem;
    color: rgba(var(--ion-color-primary-rgb), 0.7);
    font-weight: 100;
    letter-spacing: 0.01rem;
  }
}

.performance {
  display: flex;
  align-items: center;
  padding: .85rem 0.5rem;
  border: 1px solid var(--ion-light-green-color);
  border-radius: 5px;
  background: #fff;
  margin-bottom: 2rem;
  p {
    width: 50%;
    text-align: center;

    &:first-child {
        font-size: .85rem;
    }

    &:last-child {
      font-size: 2.5rem;
      color: rgba(var(--ion-color-primary-rgb), 0.7);
      border-left: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
      font-weight: 100;
    }
  }
}
