<ion-header class="{{account}}">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back-white.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left down">{{ account | capitalize }}</h2>
  <img [src]="'assets/imgs/investment-types/'+ account + '-lg.svg'" alt="">
</ion-header>

<ion-content class="page-content">

  <h3>About Levadura</h3>
  
  <p>
    Levadura is a short-term investment package with a 3-month tenure.
  </p>
  
  <h3>Features</h3>

  <div class="about">
    <!-- <div class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       {{ account.description }}
    </div> -->
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       <!-- Minimum investment: $ {{ util.numberWithCommas(account.desc_minimum_investment) }}. -->
       Minimum investment: $1,000.
    </p>
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       <!-- {{ account.desc_commission}} -->
       Commission: 50% of Profit.
    </p>
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       This package trades stock indices (50%) and currencies (50%)
       <!-- {{ account.desc_comment}} -->
    </p>
    <p class="item">
       <ion-icon src="assets/icon/check-circle.svg"></ion-icon>
       Projected Returns*: 35% profit margin per annum
       <!-- {{ account.desc_comment}} -->
    </p>
    <p class="footer">
      * Projected returns only provide estimates of performance based on Kwakol’s prudent investment approach and historic trading performance.
    </p>
  </div>

  <h3>Performance</h3>

  <div class="performance">
    <p>Past year(Jan. - Dec.)</p>
    <p>35.12%</p>
  </div>

  <ion-row>
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button class="kwakol-btn ion-text-uppercase" type="button" (click)="goToInvestInAccount()">Invest</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
