<ion-content [fullscreen]="true" class="page-content" slot="fixed">

  <!-- <div class="logo-wrapper"> -->
    <img class="logo-img" *ngIf="slideLogo" [ngClass]="{'animated-logo': slideLogo}" src="assets/imgs/logo-alt.svg" />
  <!-- </div> -->

  <div class="main-img-wrapper">
    <img src="assets/imgs/onboarding-img.svg" />
  </div>

  <p class="p1">KWAKOL FUNDS</p>

  <h3 class="feature">Your gateway to smart-innovative investments.</h3>

  <!-- id="open-login-pin"  to open login with pin modal--> 

  <ion-row class="btn-row">
    <ion-col size="6">
      <ion-button
        (click)="openLoginPasswordModal()"
        class="kwakol-btn kwakol-btn-outline white ion-text-uppercase"
        >Log in</ion-button
      >
    </ion-col>
    <ion-col size="6">
      <ion-button
        class="kwakol-btn ion-text-uppercase"
        id="open-register"
        (click)="showRegister()"
        >Register</ion-button
      >
    </ion-col>
  </ion-row>

  <p class="p2">
    By registering with us, you accept <span>Client Agreement</span> and
    <span>Privacy Policy</span>
  </p>

  <!-- Auth Modals -->

  <!-- Login with pin modal -->
  <ion-modal
    #pinLoginModal
    trigger="open-login-pin"
    [initialBreakpoint]="0.85"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 0.85]"
    class="login-pin"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="handle-wrapper">
          <span class="handle"></span>
        </div> -->
        <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div>
        <h3>Log in</h3>
        <p class="p1">Enter your pin to log in</p>
        <div class="pin-wrapper">
          <ion-input
            [type]="inputPinTypePassword ? 'password' : 'text'"
            name="password"
            [maxlength]="4"
            [(ngModel)]="pin"
            disabled
            (click)="onTapPinInput()"
            [ngStyle]="{fontSize: inputPinTypePassword ? '5rem' : '1.5rem', color: inputPinTypePassword ? 'rgba(81, 175, 78, 0.2)' : '#211F42'}"
          ></ion-input>
        </div>
        <ion-grid class="grid-keypad">
          <ion-row>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('1')"
                >1</ion-button
              >
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('2')"
                >2</ion-button
              >
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('3')"
                >3</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('4')"
                >4</ion-button
              >
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('5')"
                >5</ion-button
              >
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('6')"
                >6</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('7')"
                >7</ion-button
              >
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('8')"
                >8</ion-button
              >
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('9')"
                >9</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center" size="4"> </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button size="small" fill="clear" (click)="getPressedKey('0')"
                >0</ion-button
              >
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-button
                size="small"
                fill="clear"
                (click)="getPressedKey('cancel')"
                ><ion-icon name="chevron-back-outline"></ion-icon
              ></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row class="btn-row">
          <ion-col size="10" class="ion-text-center btn-col">
            <ion-button
              class="kwakol-btn ion-text-uppercase"
              type="submit"
              (click)="loginWithPin()"
              >Log in</ion-button
            >
          </ion-col>
        </ion-row>
        <p class="footer-text" (click)="openLoginPasswordModal()">
          Log in with Password
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Login with Pin -->

  <!-- Login With Password Modal Begin -->
  <div
    #loginPasswordDiv
    class="login-password login animate__animated animate__slideInUp"
    *ngIf="showLoginPasswordForm"
    [ngClass]="{'slide-up': loginInputFocused , 'slide-down': !loginInputFocused}"
  >
    <div class="header">
      <!-- <div class="switch-login">
        Login with Biometrics
      </div> -->
      <div>
        <h3 class="type">Login</h3>
        <p class="p3">Right on time. There's money to be made.</p>
      </div>
      <div class="round-button" (click)="closeLoginPasswordForm()">
        <ion-icon src="assets/icon/close.svg"></ion-icon>
      </div>
    </div>
    <!-- <h3 class="type">Login</h3>
    <p class="p3">Right on time. There's money to be made.</p> -->

    <form
      class="auth-form"
      (ngSubmit)="doLoginWithPassword(loginForm)"
      #loginForm="ngForm"
    >
      <ion-row class="row-auth">
        <ion-col size="12" class="kwakol-input">
          <div class="did-floating-label-content">
            <input
              class="did-floating-input"
              type="email"
              placeholder=" "
              name="emailLogin"
              [(ngModel)]="credentials.email"
              required
              autocomplete="off"
            />
            <label class="did-floating-label">Enter your email</label>
          </div>
        </ion-col>
        <ion-col size="12" class="kwakol-input">
          <div class="did-floating-label-content">
            <input
              class="did-floating-input"
              name="passwordLogin"
              placeholder=" "
              [type]="passwordType"
              [(ngModel)]="credentials.password"
              required
              autocomplete="off"
            />
            <ion-icon
              slot="end"
              [src]="'assets/icon/v2-icons/'+passwordIcon+'-green.svg'"
              class="passwordIcon"
              (click)="hideShowPassword()"
            ></ion-icon>
            <label class="did-floating-label">Enter your password</label>
          </div>
          <p class="forgot-password">
            <a (click)="openResetPasswordModal()">Forgot Password</a>
          </p>
        </ion-col>
        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button class="kwakol-btn ion-text-uppercase" type="submit"
            >Continue</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>
  <!-- Login With Password Modal End -->

  <!-- Register Modal -->
  <div
    #registerDiv
    class="login-password register animate__animated animate__slideInUp"
    *ngIf="showRegisterForm"
    [ngClass]="{'slide-up': registrationInputFocused , 'slide-down': !registrationInputFocused}"
  >
    <div class="header">
      <div class="title">
        <h3>Register as a new user</h3>
        <p>
          <ion-icon src="assets/icon/basket.svg"></ion-icon> &nbsp; Earn $1 on
          your first deposit
        </p>
      </div>
      <div class="round-button" (click)="closeRegisterForm()">
        <ion-icon src="assets/icon/close.svg"></ion-icon>
      </div>
    </div>

    <form
      class="auth-form"
    >
      <ion-row class="row-auth">
        <ion-col size="12" class="kwakol-input">
          <div class="did-floating-label-content">
            <input
              class="did-floating-input"
              type="email"
              placeholder=" "
              name="emailReg"
              [(ngModel)]="regCreds.email"
              required
              autocomplete="off"
              (focus)="onInputsFocus('register')"
              (blur)="onInputsBlur('register')"
            />
            <label class="did-floating-label">Enter your email</label>
          </div>
        </ion-col>
        <!-- <ion-col size="12" class="kwakol-input">
        <ion-item>
          <ion-label position="floating" color="secondary"
          >Enter your email</ion-label
          >
          <ion-input
              (ionFocus)="onInputsFocus()"
              (ionBlur)="onInputsBlur()"
              type="email"
              name="email"
              ngModel
              #email="ngModel"
              required
              ></ion-input>
            </ion-item>
          </ion-col> -->
        <ion-col size="12" class="kwakol-input">
          <div class="did-floating-label-content">
            <input
              class="did-floating-input"
              name="passwordReg"
              placeholder=" "
              [type]="passwordType"
              [(ngModel)]="regCreds.password"
              required
              autocomplete="off"
              (focus)="onInputsFocus('register')"
              (blur)="onInputsBlur('register')"
            />
            <ion-icon
              slot="end"
              [src]="'assets/icon/v2-icons/'+passwordIcon+'-green.svg'"
              class="passwordIcon"
              (click)="hideShowPassword()"
            ></ion-icon>
            <label class="did-floating-label">Enter your password</label>
          </div>
        </ion-col>

        <ion-col size="12" class="kwakol-input">
          <div class="did-floating-label-content">
            <input
              class="did-floating-input"
              name="confirmPassword"
              placeholder=" "
              [type]="passwordType"
              [(ngModel)]="regCreds.confirmPassword"
              required
              autocomplete="off"
              (focus)="onInputsFocus('register')"
              (blur)="onInputsBlur('register')"
            />
            <ion-icon
              slot="end"
              [src]="'assets/icon/v2-icons/'+passwordIcon+'-green.svg'"
              class="passwordIcon"
              (click)="hideShowPassword()"
            ></ion-icon>
            <label class="did-floating-label">Confirm Password</label>
          </div>
        </ion-col>

        <div class="rules">
          Your password must include at least
          <ul>
            <li>
              <div>
                Eight (8) characters
                <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
              </div>
            </li>
            <li>
              <div>
                One lowercase letter
                <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
              </div>
            </li>
            <li>
              <div>
                One UPPERCASE letter
                <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
              </div>
            </li>
            <li>
              <div>
                One special character (@, #, $, %, e.t.c)
                <ion-icon src="assets/icon/check-circle-gray.svg"></ion-icon>
              </div>
            </li>
          </ul>
        </div>
        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            (click)="proceedRegistration()"
            class="kwakol-btn ion-text-uppercase"
            type="submit"
            >Continue</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>

  <!-- End Register Modal -->

  <!-- Reset Password Modal Begin -->
  <div
    #resetPasswordDiv
    class="login-password reset animate__animated animate__slideInUp"
    *ngIf="showResetPasswordForm"
    [ngClass]="{'slide-up': resetPasswordInputFocused , 'slide-down': !resetPasswordInputFocused}"
  >
    <div class="header">
      <!-- <div class="switch-login" (click)="openLoginPinModal()">
        Login with Pin
      </div> -->
      <div>
        <h3 class="type">Reset Password</h3>
        <p class="p3">It's alright, everyone forgets</p>
      </div>
      <div class="round-button" (click)="closeResetPasswordForm()">
        <ion-icon src="assets/icon/close.svg"></ion-icon>
      </div>
    </div>
    <!-- <h3 class="type">Reset Password</h3>
    <p class="p3">It's alright, everyone forgets</p> -->

    <form
      class="auth-form"
      (ngSubmit)="doResetPassword()"
    >
      <ion-row class="row-auth">
        <ion-col size="12" class="kwakol-input">
          <div class="did-floating-label-content">
            <input
              class="did-floating-input"
              type="email"
              placeholder=" "
              name="emailReset"
              [(ngModel)]="emailReset"
              required
              autocomplete="off"
              (focus)="onInputsFocus('reset')"
              (blur)="onInputsBlur('reset')"
            />
            <label class="did-floating-label">Enter your email</label>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button class="kwakol-btn ion-text-uppercase" type="submit"
            >Continue</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>
  <!-- Reset Password Modal End -->

  <!-- <ion-modal
    #passwordLoginModal
    trigger="open-login-password"
    class="login-password"
    [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation"
  >
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Connor Smith</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Daniel Smith</h2>
              <p>Product Designer</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Greg Smith</h2>
              <p>Director of Operations</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal> -->
  <!-- End Modal Login with Password -->

  <!-- <ion-modal
    #passwordLoginModal
    trigger="open-register"
    class="login-password register"
    [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation"
  >
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Connor Smith</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Daniel Smith</h2>
              <p>Product Designer</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Greg Smith</h2>
              <p>Director of Operations</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal> -->
  <!-- End Modal Register -->
</ion-content>
