<div
  class="backdrop animate__animated animate__fadeIn"
  #backdrop
  *ngIf="backdropActive"
  (click)="closeLoadingModal()"
></div>

<!-- Loading Modal Begin -->
<div
  #LoadingModalDiv
  class="info-modal reset animate__animated animate__slideInUp"
  [ngClass]="{'center-page': loadingModalType === 'alert'}"
  *ngIf="showLoadingModal"
>
  <div class="content">
    <div class="loader-wrapper no-animation">
      <ion-icon *ngIf="loadingModalType === 'alert'" src="assets/imgs/v2-imgs/hour-glass.svg" alt=""></ion-icon>
      <ion-icon *ngIf="loadingModalType === 'confirm'" src="assets/imgs/v2-imgs/red-flag.svg" alt=""></ion-icon>
      <!-- <p class="loading-text" *ngIf="loadingModalType">
        Your liquidation request is being processed. <br/> You will receive an email when it is approved.
      </p> -->
      <p class="loading-text" *ngIf="loadingModalType === 'alert'">
        Your withdrawal request is being reviewed. <br/> You'll get a notification once it is approved.
      </p>
      <p class="loading-text" *ngIf="loadingModalType === 'confirm'">
        Withdrawing from an active investment <br/> might affect your profit. <br/> Do you still want to proceed?
      </p>
    </div>
  </div>

  <div class="footer">
    <div class="yes-button" *ngIf="loadingModalType === 'confirm'" (click)="openEnterWithdrawalAmount()">
      Yes, I'm Sure
    </div>
    <div class="round-button" (click)="closeLoadingModal()">
      <ion-icon src="assets/icon/close.svg"></ion-icon>
    </div>
  </div>
</div>
<!-- Loading Modals End -->

<ion-header>
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left">First</h2>
  <div class="summary-block">
    <div class="top">
      <div class="balance">
        <p>Available Balance</p>
        <h3>$1,255.49</h3>
      </div>
      <div class="inv">
        <p>Investment</p>
        <div class="investment">
          <div class="icon-wrapper">
            <ion-icon
              [src]="'assets/icon/inv-type/'+ (getIconForInvName('levadura') || 'special-big') +'.svg'"
            ></ion-icon>
          </div>
          Levadura
        </div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
  <div class="cta-wrapper">
    <div class="cta">
      <div class="btn">
        <ion-icon src="assets/icon/v2-icons/cta-deposit.svg"></ion-icon>
      </div>
      <p>Deposit</p>
    </div>
    <div class="cta" (click)="openLoadingModal('confirm')">
      <div class="btn">
        <ion-icon src="assets/icon/v2-icons/cta-withdraw.svg"></ion-icon>
      </div>
      <p>Withdraw</p>
    </div>
    <div class="cta">
      <div class="btn">
        <ion-icon src="assets/icon/v2-icons/cta-more.svg"></ion-icon>
      </div>
      <p>More</p>
    </div>
  </div>

  <div class="sub-header">
    <ion-segment value="history" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="history" mode="md">
        <ion-label>History</ion-label>
      </ion-segment-button>
      <ion-segment-button value="statistics">
        <ion-label>Statistics</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">

  <!-- History Segment... -->
  <div *ngIf="activeSegment === 'history'" class="segment segment-history">
    <div class="transactions-list">
      <!-- <div
          class="transaction"
          (click)="openInfoModal(trans.type.toLowerCase(), trans)"
          *ngFor="let trans of wallet?.latest_wallet_transactions | slice:0:5"
        >
          <div class="trans-type-wrapper">
            <ion-icon
              [src]="'assets/icon/v2-icons/'+getIconForType(trans.type.toLowerCase())+'.svg'"
            ></ion-icon>
            <div class="trans-type">
              <h3>{{trans.type}}</h3>
              <p class="trans-type-p">Bank Transfer</p>
            </div>
          </div>
          <div class="amount-date">
            <div
              class="amount"
              [ngClass]="!showBalance ? 'hide-text' : 'reveal-text'"
            >
              {{util.getAmountSign(trans.type.toLowerCase())}}${{util.numberWithCommas(trans.amount)}}
            </div>
            <div class="trans-date">{{trans.created_at | date }}</div>
          </div>
        </div> -->

      <div class="transaction">
        <div class="trans-type-wrapper">
          <ion-icon src="assets/icon/v2-icons/trans-withdraw.svg"></ion-icon>
          <div class="trans-type">
            <h3>Withdrawal</h3>
            <p class="trans-type-p">To Bank Account</p>
          </div>
        </div>
        <div class="amount-date">
          <div class="amount">+$3,403.58</div>
          <div class="trans-date">16 June 2023</div>
        </div>
      </div>
      <div class="transaction">
        <div class="trans-type-wrapper">
          <ion-icon src="assets/icon/v2-icons/trans-deposit.svg"></ion-icon>
          <div class="trans-type">
            <h3>Deposit</h3>
            <p class="trans-type-p">To Bank Account</p>
          </div>
        </div>
        <div class="amount-date">
          <div class="amount">+$3,403.58</div>
          <div class="trans-date">16 June 2023</div>
        </div>
      </div>
      <div class="transaction">
        <div class="trans-type-wrapper">
          <ion-icon
            src="assets/icon/v2-icons/trans-transfer-user.svg"
          ></ion-icon>
          <div class="trans-type">
            <h3>Transfer</h3>
            <p class="trans-type-p">To Bank Account</p>
          </div>
        </div>
        <div class="amount-date">
          <div class="amount">+$3,403.58</div>
          <div class="trans-date">16 June 2023</div>
        </div>
      </div>
    </div>
  </div>

<!-- Statistics Segment... -->
<div *ngIf="activeSegment === 'statistics'" class="segment segment-statistics">
  <div class="stat-wrapper">
    <div class="stat-item">
      <h3>3.4%</h3>
      <p>Projected Performance</p>
    </div>
    <div class="stat-item">
      <h3>4.2%</h3>
      <p>Last Month's Performance</p>
    </div>
    <div class="stat-item">
      <h3>$345.11</h3>
      <p>My Total Profit</p>
    </div>
    <div class="stat-item">
      <h3>$1,000.50</h3>
      <p>My Total Deposits</p>
    </div>
    <div class="stat-item">
      <h3>$125.03</h3>
      <p>My Total Withdrawals</p>
    </div>
    <div class="stat-item">
      <h3>2</h3>
      <p>Free Withdrawals Left</p>
    </div>
  </div>
</div>

<!-- Withdraw to wallet modal -->
<ion-modal
#withdrawToWalletModal
[initialBreakpoint]="0.75"
[breakpoints]="[0, 0.30, 0.50, 0.75]"
class="kwakol-modal-bottom-drawer2 transfer-investment"
handle="true"
>
<ng-template>
  <ion-content>
    <!-- <div class="round-button">
      <ion-icon src="assets/icon/padlock.svg"></ion-icon>
    </div> -->
    <h3>Withdraw to wallet</h3>

    <div class="investment-item" style="margin-top: 1rem">
      <div class="investment-name">
        <div class="round-button">
          <!-- <ion-icon [src]="'assets/icon/inv-type/'+ (getIconForInvName(selectedInvestment?.name) || 'special-big') +'.svg'"></ion-icon> -->
          <ion-icon [src]="'assets/icon/inv-type/'+ (getIconForInvName('levadura') || 'special-big') +'.svg'"></ion-icon>
        </div>
        <div class="name">
          <p>The Plan</p>
          <!-- <h3>{{selectedInvestment?.name}}</h3> -->
          <h3>Levadura</h3>
        </div>
      </div>
      <h3>$1,255.49</h3>
    </div>

    <div
      class="investment-item animate__animated animate__slideInDown"
      style="--animate-duration: 0.5s; margin-top: 1rem"
    >
      <ion-row>
        <ion-col size="12" class="kwakol-input">
          <div class="did-floating-label-content">
            <input
              class="did-floating-input"
              type="tel"
              placeholder="0.00"
              [(ngModel)]="withdrawAmount"
              required
              autocomplete="off"
            />
            <div>
              <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
              <span>USD</span>
            </div>
            <label class="did-floating-label">Enter Amount</label>
          </div>
        </ion-col>
        <ion-col size="12">
          <p class="wallet-balance">
            Free withdrawals left:
            <span>3</span>
          </p>
        </ion-col>
      </ion-row>
    </div>

    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button
        class="kwakol-btn ion-text-uppercase"
        (click)="openEnterPinModal()"
        type="submit"
      >
        Transfer
      </ion-button>
    </ion-col>
    <!-- </div> -->
  </ion-content>
</ng-template>
</ion-modal>
<!-- End Withdraw to wallet modal -->

<!-- Pin Modal -->
<ion-modal
#pinEnterModal
trigger="open-enter-pin"
[initialBreakpoint]="0.8"
[breakpoints]="[0, 0.25, 0.5, 0.6, 0.8]"
class="enter-pin"
handle="true"
>
<ng-template>
  <ion-content>
    <div class="img-wrapper">
      <div class="round-button">
        <!-- <ion-icon [src]="'assets/icon/inv-type/'+ (getIconForInvName(account.name.toLowerCase()) || 'special-big') +'.svg'"></ion-icon> -->
        <ion-icon [src]="'assets/icon/inv-type/'+ (getIconForInvName('levadura') || 'special-big') +'.svg'"></ion-icon>
      </div>
    </div>

    <p style="margin: .5rem 0; text-align: center;">Withdraw</p>

    <h3>${{withdrawAmount}}</h3>

    <p class="p0">
      from The Plan (<span>Levadura</span>)
    </p>
    <!-- <p class="p0">
      to {{customName || beneficiary.firstname+' '+beneficiary.lastname ||
      ''}} (<span>{{account.name}}</span>)
    </p> -->

    <p class="p1">Enter your pin to complete transaction</p>
    <div class="pin-wrapper">
      <ion-input
        [type]="inputPinTypePassword ? 'password' : 'text'"
        name="password"
        [maxlength]="4"
        [(ngModel)]="pin"
        disabled
        (click)="onTapPinInput()"
        [ngStyle]="{fontSize: inputPinTypePassword ? '5rem' : '1.5rem', color: inputPinTypePassword ? 'rgba(81, 175, 78, 0.2)' : '#211F42'}"
      ></ion-input>
    </div>
    <app-keypad (keypadEmitter)="onPinInputChange($event)"></app-keypad>
  </ion-content>
</ng-template>
</ion-modal>

</ion-content>
