ion-content{
    --background: #FFF;

    .img-wrapper{
        margin-top: 15rem;
        margin-bottom: 2rem;
        text-align: center;

        img{
            width: 7rem;
        }
    }

    .message{
        text-align: center;
        color: var(--ion-color-secondary);

        h2{
            font-family: BwModelicaMedium;
            font-size: 1.6rem;
        }

        p{
            font-family: BwModelicaHairline;
            letter-spacing: -0.01em;
            font-weight: 600;
            /* line-height: 100%; */
            font-size: 0.9rem;
            margin: 0 auto;
            width: 80%;
        }
    }


    .btn-row{
        margin-top: 3rem;
    }
}