h3,h4,p{
    margin: 0;
}

ion-header{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    background-color: #fff;
}

.header-md::after{
    background-image: none;
}

ion-row.types-wrapper{
    overflow-y: scroll;
    flex-wrap: nowrap;
    margin: 1rem -1.35rem 0 -1.35rem;

    &::-webkit-scrollbar {
      display: none; //Disables browser's default scroll bar
    }

    ion-col{
      padding: 0;
    //   margin-right: -1rem;
    }
}

.type{
    font-size: .83rem;
    position: relative;
    border: 1px solid var(--ion-light-green-color);
    color: var(--ion-color-secondary);
    padding: .9rem .8rem .9rem 2.7rem;
    border-radius: 6px;
    margin-right: .7rem;

    ion-icon{
        position: absolute;
        left: .5rem;
        top: .65rem;
        font-size: 1.5rem;
    }

    &.profit{
        background-color: var(--ion-light-green-color);
        // ion-icon{
        //     left: .3rem;
        //     top: .3rem;
        //     font-size: 2rem;
        // }
    }

    &.pending{
        background-color: #F5F1E6;
    }

    &.bonus{
        background-color: #FFF8D1;
    }

    &.withdrawal{
        background-color: #FCD9D7;
        font-size: .78rem;
        padding-left: 2rem;
        padding-right: .5rem;
    }

    &.deposit{
        background-color: #D3D2D9;
    }

    &.selected{
        border: 1px solid var(--ion-color-secondary);
        font-family: BwModelicaBold;
    }
}

.history-list{
    .history{
        ion-icon{
            font-size: 2.2rem;
        }
  
        h4{
            margin-bottom: .2rem;
        }
        p{
            font-size: .8rem;
        }
    }
}

ion-button{
    position: fixed;
    bottom: 1rem;
    right: 1.6rem;
    width: 25%;
    height: 2.5rem;
    font-size: .8rem;
    ion-icon{
        font-size: .9rem !important;
    }
}

.tt-skeletons{
    ion-avatar{
        width: 2rem;
        height: 2rem;
    }
    ion-label{
        ion-skeleton-text.left{
            float: left;
        }
        ion-skeleton-text.right{
            float: right;
        }
    }
    ion-item{
        margin-bottom: .3rem;
        --inner-border-width: 0px;
    }
}

.no-histories{
    position: absolute;
    color: var(--ion-color-secondary);
    font-size: 0.9rem;
    top: 50%;
    width: 70%;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
}
