<ion-header>
  <div class="auth-banner small">
    <h3 class="title">History</h3>
  </div>
  <div class="sub-header">
    <ion-segment value="wallet" [(ngModel)]="activeSegment" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="wallet" mode="md">
        <ion-label>Wallet</ion-label>
      </ion-segment-button>
      <ion-segment-button value="investments">
        <ion-label>Investments</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-row class="types-wrapper">
      <!-- <ion-col size="{{ filter.size }}" *ngFor="let filter of filters"> -->
      <ion-col size="5" *ngFor="let filter of filters">
        <div
          class="type"
          [class]="filter.class"
          [ngClass]="{'selected': filter.selected}"
          (click)="onTapFilter(filter)"
        >
          <ion-icon
            [src]="'assets/icon/history/'+filter.icon+'.svg'"
          ></ion-icon>
          {{ filter.name }}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div
    *ngIf="activeSegment === 'wallet'"
    class="segment segment-investments"
  >
    <div class="month-wrapper" *ngFor="let wH of walletHistories">
      <p class="month">{{wH.year+'/'+wH.month | date : 'MMMM, y'}}</p>
      <div class="transactions-list no-border">
        <div class="transaction" *ngFor="let hist of wH.transactions" (click)="openInfoModal(hist.type.toLowerCase(), hist)">
          <div class="trans-type-wrapper">
            <ion-icon [src]="'assets/icon/v2-icons/'+getIconForType(hist.type.toLowerCase())+'.svg'"></ion-icon>
            <div class="trans-type">
              <h3>{{hist.type | capitalize}}</h3>
              <p class="trans-type-p">{{hist.comment?.length > 45 ? hist.comment.slice(0,45)+'...' : hist.comment}}</p>
            </div>
          </div>
          <div class="amount-date">
            <div class="amount">{{util.getAmountSign(hist.type.toLowerCase())}}${{hist.amount}}</div>
            <div class="trans-date">{{hist.status === 'pending' ?  'pending' : (hist.created_at | date) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="activeSegment === 'investments'" class="segment segment-investments">
    <div class="month-wrapper" *ngFor="let iH of investmentHistories">
      <p class="month">{{iH.year?  (iH.year+'/'+iH.month | date : 'MMMM, y') : ''}}</p>
      <div class="transactions-list no-border">
        <div class="transaction" *ngFor="let hist of iH.transactions" (click)="openInfoModal(hist.type.toLowerCase(), hist)">
          <div class="trans-type-wrapper">
            <ion-icon [src]="'assets/icon/v2-icons/'+getIconForType(hist.type.toLowerCase())+'.svg'"></ion-icon>
            <div class="trans-type">
              <h3>{{hist.type | capitalize}}</h3>
              <p class="trans-type-p">{{hist.comment?.length > 45 ? hist.comment.slice(0,45)+'...' : hist.comment}}</p>
            </div>
          </div>
          <div class="amount-date">
            <div class="amount">{{util.getAmountSign(hist.type.toLowerCase())}}${{hist.amount}}</div>
            <div class="trans-date">{{hist.status === 'pending' ?  'pending' : (hist.created_at | date) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="history-list">
    <div
      class="history"
      (click)="openHistorySummary(hist)"
      *ngFor="let hist of histories"
    >
      <ion-icon
        [src]="'assets/icon/history/'+getIconForType(hist.type)+'.svg'"
      ></ion-icon>
      <h4>
        {{ hist.type | capitalize }}
        <span class="{{ hist.type }}">
          ${{ util.numberWithCommas(hist.amount) }}
        </span>
      </h4>
      <p>
        {{ hist.date }}<span *ngIf="hist.type === 'profit'"
          >{{ hist.percentage || 0}}%</span
        >
      </p>
    </div>
  </div>

  <div class="loading-spinner-wrapper" *ngIf="listSpinner">
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  </div>

  <div
    class="no-transactions animate__animated animate__pulse"
    *ngIf="!listSpinner && (walletHistories.length <= 0 || investmentHistories.length <= 0)"
  >
    <img src="assets/imgs/cacti.svg" />
    <p>It's a bit empty here because you haven't made any transaction yet.</p>
    <div class="quick-btn-round" (click)="openDepositModal()">
      Deposit Now
    </div>
  </div>

  <!-- <p class="no-histories" *ngIf="histories && histories?.length <= 0">
    '{{ this.selectedFilter.name }}' filter has no histories...
  </p> -->

  <!-- <ion-button class="kwakol-btn round ion-text-uppercase" type="button" (click)="sort()">
    <ion-icon slot="start" src="assets/icon/calendar-white.svg"></ion-icon>
    Sort
    [ngClass]="{'less-padding': false, 'more-padding': walletHistories.length <= 0}"
  </ion-button> -->
</ion-content>
