<ion-content [fullscreen]="true" class="page-content tab-page-white">
  <div class="auth-banner small">
    <h3>History</h3>
  </div>

  <ion-row class="types-wrapper">
    <ion-col size="5" *ngFor="let filter of filters">
      <div class="type" [class]="filter.class" [ngClass]="{'selected': filter.selected}" (click)="onTapFilter(filter)">
        <ion-icon [src]="'assets/icon/history/'+filter.icon+'.svg'"></ion-icon>
        {{ filter.name }}
      </div>
    </ion-col>
  </ion-row>

  <div class="history-list">
    <div class="history" (click)="openHistorySummary()">
      <ion-icon src="assets/icon/history/profit.svg"></ion-icon>
      <h4>Profit <span>$23.12</span></h4>
      <p>February 2020 <span>8.25%</span></p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/withdrawal.svg"></ion-icon>
      <h4>Withdrawal <span class="with">$1,500.00</span></h4>
      <p>February 2020</p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/deposit.svg"></ion-icon>
      <h4>Deposit <span class="dep">$5,000.50</span></h4>
      <p>February 2020</p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/bonus.svg"></ion-icon>
      <h4>Bonus <span>$23.12</span></h4>
      <p>February 2020 <span>8.25%</span></p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/profit.svg"></ion-icon>
      <h4>Profit <span>$53.12</span></h4>
      <p>January 2020 <span>8.25%</span></p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/profit.svg"></ion-icon>
      <h4>Profit <span>$53.12</span></h4>
      <p>January 2020 <span>8.25%</span></p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/profit.svg"></ion-icon>
      <h4>Profit <span>$53.12</span></h4>
      <p>January 2020 <span>8.25%</span></p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/profit.svg"></ion-icon>
      <h4>Profit <span>$53.12</span></h4>
      <p>January 2020 <span>8.25%</span></p>
    </div>
  </div>

  <ion-button class="kwakol-btn round ion-text-uppercase" type="button" (click)="sort()">
    <ion-icon slot="start" src="assets/icon/calendar-white.svg"></ion-icon>
    Sort
  </ion-button>
  

</ion-content>
