<ion-header>
  <div class="auth-banner small">
    <h3>History</h3>
  </div>
  <ion-row class="types-wrapper">
    <ion-col size="5" *ngFor="let filter of filters">
      <div class="type" [class]="filter.class" [ngClass]="{'selected': filter.selected}" (click)="onTapFilter(filter)">
        <ion-icon [src]="'assets/icon/history/'+filter.icon+'.svg'"></ion-icon>
        {{ filter.name }}
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true" class="page-content tab-page-white">

  <div class="history-list">
    <div class="history" (click)="openHistorySummary(hist)" *ngFor="let hist of histories">
      <ion-icon [src]="'assets/icon/history/'+getIconForType(hist.type)+'.svg'"></ion-icon>
      <h4>
        {{ hist.type | capitalize }} 
        <span class="{{ hist.type }}">
          ${{ util.numberWithCommas(hist.amount) }}
        </span>
      </h4>
      <p>{{ hist.date }}<span *ngIf="hist.type === 'profit'">{{ hist.percentage || 0}}%</span></p>
    </div>
  </div>

  <div class="tt-skeletons" *ngIf="!histories">
    <ion-item *ngFor="let f of [1,2,3,4,5,6]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text class="left" animated style="width: 25%"></ion-skeleton-text>
          <ion-skeleton-text class="right" animated style="width: 15%"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </div>
  
  <p class="no-histories" *ngIf="histories && histories?.length <= 0">'{{ this.selectedFilter.name }}' filter has no histories...</p>

  <ion-button class="kwakol-btn round ion-text-uppercase" type="button" (click)="sort()">
    <ion-icon slot="start" src="assets/icon/calendar-white.svg"></ion-icon>
    Sort
  </ion-button>
  

</ion-content>
