<ion-content class="drawer-content">

  <div class="wrapper bank" *ngIf="type === 'bank'">

    <h3>Select Bank</h3>
    <p>Make a Transfer to any of the Kwakol Markets accounts below</p>
    <!-- <p>To choose a bank account, you must select a currency</p> -->

    <h5 *ngFor="let bank of banks" (click)="onTapBank(bank)">
      <span class="bullet" [ngClass]="{'selected': bank.selected}"></span>
      {{ bank.bankName }}
    </h5>
  </div>

  <div class="wrapper investment" *ngIf="type === 'investment'">
    <h3>Choose Investment Account</h3>
    <p *ngIf="currentURL.includes('/deposit')">Which account would you like to deposit to?</p>
    <p *ngIf="currentURL.includes('/withdrawal')">Which account would you like to withdraw from?</p>
    <h5 *ngFor="let investment of investments" (click)="onTapInvestment(investment)">
      <span class="bullet" [ngClass]="{'selected': investment.selected}"></span>
      {{ investment.name }}
      <span class="balance">
        <p>Balance</p>
        <p>${{ util.numberWithCommas(investment.balance )}}</p>
      </span>
    </h5>
  </div>

  <div class="wrapper currencie" *ngIf="type === 'currency'">
    <h3>Select Currency</h3>
    <p>Choose the currency you would like to make your deposit in</p>
    <h5 *ngFor="let currency of currencies" (click)="onTapCurrency(currency)">
      <span class="bullet" [ngClass]="{'selected': currency.selected}"></span>
    {{ currency.sym }} {{ currency.name }}
    </h5>
  </div>

  <div class="wrapper sort" *ngIf="type === 'sort'">
    <h3>Sort by Custom Range</h3>
    <p>Choose a date to sort your account history</p>
    <div class="buttons">
      <div class="date-btn" id="open-modal-1">
        {{ from.split('T')[0] || 'From' }}
        <ion-icon slot="end" src="assets/icon/calendar.svg"></ion-icon>
      </div>
      <div class="date-btn" id="open-modal-2">
        {{ to.split('T')[0] || 'To' }}
        <ion-icon slot="end" src="assets/icon/calendar.svg"></ion-icon>
      </div>
    </div>
    <ion-modal trigger="open-modal-1" cssClass="date-picker-modal" [animated]="false">
      <ng-template>
        <ion-content>
          <ion-datetime 
            [size]="'fixed'" 
            [(ngModel)]="from" 
            presentation="date"
            showDefaultButtons="true"
            mode="md"
            [doneText]="'Select'"
            >
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-modal trigger="open-modal-2" cssClass="date-picker-modal" [animated]="false">
      <ng-template>
        <ion-content>
          <ion-datetime 
            [size]="'fixed'" 
            [(ngModel)]="to" 
            presentation="date"
            showDefaultButtons="true"
            mode="md"
            [doneText]="'Select'"
            >
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-button class="kwakol-btn ion-text-uppercase" type="button" (click)="sortByDate()">Sort</ion-button>
  </div>

</ion-content>
