p{
    letter-spacing: .02em;
    margin: 0;
    font-family: BwModelicaRegular;
}

.currency{
    background-color: var(--ion-light-green-color);
    position: relative;
    margin-bottom: 1rem;
    width: 27%;
    text-align: center;
    padding: .8rem 1rem .8rem .6rem;
    font-size: .9rem;
    border-radius: 5px;

    ion-icon{
        position: absolute;
        top: 0.85rem;

        &.dollar{
            top: .9rem;
            font-size: .85rem;
            left: .8rem;
        }
        &.arrow-down{
            right: 0.7rem;
            font-size: 1rem;
        }
    }
}

ion-col.kwakol-input{

    ion-item.select-input{
        font-size: .9rem;
    }

    ion-input{
        --padding-top: 0;
        --padding-bottom: 0;
    }
    ion-icon{
        position: absolute;
        top: 0.9rem;
        right: 1rem;
        font-size: 1.1rem;
    }
}

p.proof{
    margin: .5rem 0;
}

.selected-bank{
    border: 1px solid var(--ion-light-green-color);
    box-shadow: 0px 3px 4px rgba(33, 31, 66, 0.1);
    padding: .625rem;
    border-radius: 10px;
    margin-bottom: 1rem;

    p{
        color: var(--ion-text-gray-color);
        letter-spacing: .02em;
        font-family: BwModelicaLight;
        margin: .3rem 0;
        span{ float: right; color: var(--ion-color-primary);}

        &:last-child{
            span{ color: var(--ion-color-secondary);}
        }
    }
}

.upload{
    border: 2px dashed var(--ion-light-green2-color);
    padding: .7rem .6rem .7rem 5rem;
    position: relative;
    margin-bottom: 7rem;

    ion-icon{
        position: absolute;
        left: 1.2rem;
        font-size: 2.5rem;
    }
    
    p:nth-of-type(1){
        color: var(--ion-color-primary);
        margin-bottom: .3rem;
    }
    p:nth-of-type(2){
        font-size: .65rem;
    }
}