<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading">Deposit</h2>

  <h1 class="subheader">How much would you like to deposit?</h1>

  <div class="currency" (click)="onTapSelect('currency')">
    {{ selectedCurrency?.sym }} {{ selectedCurrency?.name }}
    <ion-icon class="arrow-down" src="assets/icon/arrow-down.svg"></ion-icon>
  </div>

  <ion-row class="input-rows">
    
    <ion-col size="12" class="kwakol-input">
      <ion-item>
        <ion-input placeholder="Enter Amount" type="tel" name="amount" [(ngModel)]="amount" required></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12" class="kwakol-input">
      <ion-item class="select-input" (click)="onTapSelect('investment')">
        {{ selectedInvestment?.name}}
        <ion-icon class="arrow-down" src="assets/icon/arrow-down.svg"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col size="12" class="kwakol-input">
      <ion-item class="select-input" (click)="onTapSelect('bank')">
        {{ selectedBank?.bankName }}
        <ion-icon class="arrow-down" src="assets/icon/arrow-down.svg"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>

  <div class="selected-bank" *ngIf="selectedBank.selected">
    <p>
      Account Number
      <span>{{ selectedBank?.accountNum  }} <ion-icon src="assets/icon/copy.svg"></ion-icon></span>
    </p>
    <p>
      Account name
      <span>{{ selectedBank?.accountName }}</span>
    </p>
  </div>

  <p class="proof">Proof of Transfer</p>
  <div class="upload">
    <ion-icon src="assets/icon/upload.svg"></ion-icon>
    <p>Upload Receipt</p>
    <p>Supported file types: JPEG, PNG, PDF <br/>Max file size: 1mb</p>
    <input type="file" (change)="onFileChange($event)" />
  </div>

  <ion-row>
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button class="kwakol-btn ion-text-uppercase" type="button" (click)="confirm()">Confirm</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
