<div
  class="backdrop animate__animated animate__fadeIn"
  #backdrop
  *ngIf="backdropActive"
></div>

<!-- Loading Modal Begin -->
<div
  #LoadingModalDiv
  class="info-modal center-page reset animate__animated animate__slideInUp"
  *ngIf="showLoadingModal"
>
  <div class="content">
    <div class="loader-wrapper no-animation">
      <ion-icon
        src="assets/imgs/v2-imgs/hour-glass.svg"
        alt=""
      ></ion-icon>
      <p class="loading-text">
        Your deposit request is being processed. <br/> Your account will be updated once it is confirmed.
      </p>
    </div>
  </div>

  <div class="footer">
    <div class="round-button" (click)="closeLoadingModal(true)">
      <ion-icon src="assets/icon/close.svg"></ion-icon>
    </div>
  </div>
</div>
<!-- Loading Modal End -->

<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>

  <h2 *ngIf="currency === 'dollar'" class="subpage-heading left">USD Bank Transfer</h2>
  <h2 *ngIf="currency === 'naira'" class="subpage-heading left">Naira Bank Transfer</h2>

  <h1 class="subheader">Deposit into the account details below.</h1>


  <div class="content-wrapper">
    <p>
      <span>Account Number</span>
      <span>{{accInfo.account_number}} <ion-icon (click)="util.clipboardCopy(accInfo.account_number)" src="assets/icon/copy.svg"></ion-icon></span>
    </p>
    <p>
      <span>Account Name</span>
      <span>{{accInfo.bank_name}}</span>
    </p>
    <p>
      <span>Bank Name</span>
      <span>{{accInfo.bank_account_name}}</span>
    </p>
    <p *ngIf="currency === 'dollar'">
      <span>Swift Code</span>
      <span>{{accInfo.swift_code}} <ion-icon (click)="util.clipboardCopy(accInfo.swift_code)" src="assets/icon/copy.svg"></ion-icon></span>
    </p>
    <p *ngIf="currency === 'dollar'">
      <span>Sort Code</span>
      <span>{{accInfo.sort_code}} <ion-icon (click)="util.clipboardCopy(accInfo.sort_code)" src="assets/icon/copy.svg"></ion-icon></span>
    </p>
    <p *ngIf="currency === 'dollar'">
      <span>Branch</span>
      <span>{{accInfo.branch}} <ion-icon (click)="util.clipboardCopy(accInfo.branch)" src="assets/icon/copy.svg"></ion-icon></span>
    </p>
    <p *ngIf="currency === 'dollar'">
      <span>Address</span>
      <span>{{accInfo.branch_address}} <ion-icon (click)="util.clipboardCopy(accInfo.branch_address)" src="assets/icon/copy.svg"></ion-icon></span>
    </p>
  </div>

  <ion-col size="12" class="kwakol-input" id="open-select-bank" *ngIf="currency === 'naira'">
    <p style="margin-bottom: 1rem;" class="p-input">{{selectedBank.bank_name || 'Bank Name'}}</p>
  </ion-col>

  <ion-col size="12" class="kwakol-input">
    <div class="did-floating-label-content">
      <input
        class="did-floating-input"
        type="tel"
        placeholder="0.00"
        [(ngModel)]="depositAmount"
        required
        autocomplete="off"
      />
      <label class="did-floating-label">Enter Amount</label>
    </div>
  </ion-col>

  <p class="proof">Proof of Transfer</p>
  <div class="upload">
    <input type="file" class="form__upload" (change)="onFileChange($event)" />
    <ion-icon src="assets/icon/upload.svg"></ion-icon>
    <p>Upload Receipt</p>
    <p>Supported file types: JPEG, PNG, PDF <br/>Max file size: 1mb</p>
    <p class="file-name">{{ fileName }}</p>
  </div>

  <ion-row class="btn-row">
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button class="kwakol-btn ion-text-uppercase" type="button" (click)="doTransfer()">Complete</ion-button>
    </ion-col>
  </ion-row>


  <!-- Select Bank Modal -->
  <ion-modal
    #selectBankModal
    trigger="open-select-bank"
    [initialBreakpoint]="0.45"
    [breakpoints]="[0.34, 0.45]"
    class="kwakol-modal-bottom-drawer2 deposit-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Select Bank</h3>

        <p class="p0">
          Make a Transfer to any of the Kwakol accounts below
        </p>

        <div class="content-wrapper banks">
          <p class="bank-name" *ngFor="let bank of banks" (click)="selectBank(bank)">{{bank.bank_name}}</p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- ESelect Bank Modal -->

</ion-content>
