<ion-content class="page-content">
  <div class="back-button" [routerLink]="'/login'" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading">Reset Password</h2>

  <p class="title">It's alright, everyone forgets</p>

  <form class="auth-form" (ngSubmit)="doReset(resetForm)" #resetForm="ngForm">
    <ion-row class="row-auth">
      <ion-col size="12" class="kwakol-input">
        <ion-item>
          <ion-input placeholder="Email Address" type="email" name="email" ngModel #email="ngModel" required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-text-center btn-col">
        <ion-button class="kwakol-btn ion-text-uppercase" type="submit">Reset</ion-button>
      </ion-col>
      <ion-col size="12" class="cta-text">
        <p>Don't have an account? <a [routerLink]="'/register'">Sign Up</a></p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
