h2,
h3,
h4,
p {
  margin: 0;
}

p {
  //   letter-spacing: 0.04em;
}

ion-content {
  &.investments {
    --background: linear-gradient(
      to bottom,
      #d9ecd8,
      #d9ecd8 53%,
      var(--ion-color-tertiary) 53%,
      var(--ion-color-tertiary)
    );

    &.no-trans {
      --background: linear-gradient(
        to bottom,
        #d9ecd8,
        #d9ecd8 38%,
        var(--ion-color-tertiary) 38%,
        var(--ion-color-tertiary)
      );
    }
    // background-attachment: fixed;
  }
}
// Normal = 53%

.daily-rate {
  width: fit-content;
  background-color: rgba(var(--ion-color-primary-rgb), 0.2);
  color: var(--ion-color-primary);
  font-family: BwModelicaBold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  letter-spacing: 0.04rem;
  padding: 0 0.5rem;
  height: 2rem;
  border-radius: 6px;
  margin-top: 0.5rem;
}

.main-header {
  margin: 4.3rem 0 0.3rem 0;
  display: flex;
  justify-content: space-between;

  .header-name {
    display: flex;
    gap: 0.5rem;

    .name {
      h3 {
        // margin: 4.3rem 0 0.3rem 0;
        font-size: 1.25rem;
        font-family: BwModelicaMedium;
        color: var(--ion-color-secondary);
      }
      p {
        font-size: 0.63rem;
        font-family: BwModelicaRegular;
        letter-spacing: 0.02rem;
      }
    }
  }

  ion-icon {
    position: absolute;
    right: 0rem;
    top: 0.3rem;
    font-size: 1.4rem;
    z-index: 20000000;
  }
}

.segment {
  margin-top: 0.5rem;

  .finish-kyc {
    margin-top: 1rem;
  }
}

ion-segment {
  // --background: rgba(var(--ion-color-primary-rgb), 0.2);
}

ion-segment-button {
  // --background: rgba(var(--ion-color-primary-rgb), 0.2);
  text-transform: capitalize;
  --ripple-color: transparent;
  font-size: 0.87rem;
  font-family: "BwModelicaLight";
  letter-spacing: 0rem;
  --color-checked: var(--ion-color-secondary);
  --indicator-color: var(--ion-color-primary);
  // --padding-top: .5rem;
  // --padding-bottom: .5rem;

  &::part(indicator) {
  }

  &::part(native) {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.summary {
  padding: 1.1rem;
  background: linear-gradient(103.58deg, #211f42 21.06%, #51af4e 102.24%);
  box-shadow: 0px 3px 4px rgba(33, 31, 66, 0.1);
  color: var(--ion-color-tertiary);
  border-radius: 10px;
  font-family: BwModelicaLight;

  .summary-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .balance {
      p {
        font-family: BwModelicaLight;
        color: rgba(var(--ion-color-tertiary-rgb), 0.7);
        letter-spacing: -0.015rem;
        margin-bottom: 0.2rem;
        font-size: 0.83rem;
      }
      h2 {
        font-family: BwModelicaBold;
        font-size: 1.7rem;
      }
    }

    .hidden-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      height: 2.2rem;
      width: 2.2rem;

      ion-icon {
        font-size: 1.7rem;
        z-index: 200000;
      }
    }
  }

  ion-row {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 1rem 0 0.9rem 0;

    ion-col {
      &:first-child {
        .cta {
          border-right: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.2);
        }
      }

      &:last-child {
        .cta {
          border-left: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.2);
        }
      }

      .cta {
        // margin: 0rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        ion-icon {
          font-size: 1.5rem;
        }
        p {
          color: rgba(var(--ion-color-tertiary-rgb), 0.6);
          font-family: BwModelicaLight;
          font-size: 0.7rem;
          letter-spacing: 0.05rem;
        }
      }
    }
  }
}

.quick-summary {
  margin-top: 0.8rem;

  p.title {
    text-align: center;
    font-size: 0.629rem;
    letter-spacing: 0.02rem;
  }

  h3 {
    margin-top: 0.3rem;
    font-family: BwModelicaBold;
    color: var(--ion-color-primary);
    font-size: 1.75rem;
    text-align: center;
  }

  .cta-wrapper {
    margin: 1rem 0;
    padding: 0 4rem;
    display: flex;
    justify-content: space-around;

    .cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;

      .btn {
        background: var(--ion-color-primary);
        box-shadow: 0px 3px 4px rgba(33, 31, 66, 0.1);
        border-radius: 100%;
        height: 2.7rem;
        width: 2.7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
          font-size: 1.6rem;
        }
      }
      p {
        font-size: 0.6rem;
        letter-spacing: 0.03rem;
      }
    }
  }
}

.list-wrapper {
  height: 55%;
  padding-top: 1.3rem;
}

p.section-title {
  color: rgba(var(--ion-color-secondary-rgb), 0.4);
  letter-spacing: -0.015rem;
  font-size: 0.85rem;
  font-family: BwModelicaRegular;
}

.quick-trans {
  margin-top: 1rem;
}

.recent-trans {
  margin: 1rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;

  &.investments {
    margin: 0.5rem 0;
  }

  p {
    &:last-child {
      display: flex;
      align-items: center;

      ion-icon {
        font-size: 1rem;
      }
    }
  }
}

ion-row.quick-transfer-wrapper {
  overflow-y: scroll;
  flex-wrap: nowrap;
  margin: 0.5rem -1.8rem;

  &::-webkit-scrollbar {
    display: none; //Disables browser's default scroll bar
  }

  ion-col {
    padding: 0;
    margin-right: 0.5rem;
  }

  ion-col:first-child {
    // padding-top: 3rem;
    display: flex;
    align-items: center;
    margin-right: -1.2rem;
    margin-left: -1rem;
    .add-quick {
      font-size: 2rem;
      width: 100%;
    }
  }
}

.quick-transfer-item {
  background-color: #fff;
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
  border-radius: 100px;
  padding: 0.27rem 0.3rem;
  width: 98%;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .default-img {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
    font-family: BwModelicaRegular;
  }
}

div.segment-head {
  margin: 0 -1.8rem;
  div.quick-summary {
    p.title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      ion-icon {
        font-size: 1.1rem;
      }
    }
  }
}

ion-row.investments-wrapper {
  overflow-y: scroll;
  flex-wrap: nowrap;
  margin: 1rem -1.8rem;
  // margin-left: -7rem;

  &::-webkit-scrollbar {
    display: none; //Disables browser's default scroll bar
  }

  ion-col {
    padding: 0;
    margin-right: -2.3rem;
  }

  ion-col:first-child {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;

    .add-investment-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 100%;
      border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);

      .add-investment {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        text-align: center;
        background-color: var(--ion-color-tertiary);
        border-radius: 100%;

        ion-icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.investment-item {
  background-color: #fff;
  border: 1px solid var(--ion-light-green-color);
  border-radius: 7px;
  padding: 0.7rem;
  width: 75%;

  p {
    margin-top: 0.5rem;
    font-size: 0.624rem;
    letter-spacing: 0.03rem;
    font-family: BwModelicaRegular;
  }

  h4 {
    font-family: BwModelicaExtraBold;
    color: var(--ion-color-primary);
    font-size: 0.9rem;

    span:first-child {
      font-family: BwModelicaRegular;
      font-size: 0.62rem;
      letter-spacing: 0.03rem;
    }

    span.balance {
      font-family: BwModelicaBold;
      font-size: 0.72rem;
      letter-spacing: 0.03rem;
    }
  }

  .type-area {
    padding: 0.3rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    div.icon-wrapper {
      background: #fff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      width: 1.6rem;
      height: 1.6rem;
      padding-bottom: 0.2rem;
      padding-left: 0.1rem;
      ion-icon {
        font-size: 1.3rem;
      }
    }

    &.levadura-big {
      background-color: #d8c680;
    }
    &.marigold-big {
      background-color: #af9685;
    }
    &.junzi-big {
      background-color: #295513;
    }

    h4 {
      color: var(--ion-color-secondary);
    }
  }

  .hidden {
    font-size: 1rem;
  }
}

.account-history {
  font-family: BwModelicaBold;
  font-size: 0.7rem;
  span {
    float: right;
    color: var(--ion-color-primary);
    font-family: BwModelicaLight;
  }
}

.inv-skeleton {
  padding: 0;
  margin-right: -1rem;
  ion-thumbnail {
    width: 10rem;
    height: 7rem;
  }
}

.tt-skeletons {
  ion-avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
  ion-label {
    ion-skeleton-text.left {
      float: left;
    }
    ion-skeleton-text.right {
      float: right;
    }
  }
  ion-item {
    margin-bottom: 0.3rem;
    --inner-border-width: 0px;
  }
}

.no-histories {
  position: absolute;
  color: var(--ion-color-secondary);
  font-size: 0.8rem;
  bottom: 20%;
  width: 70%;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}

.round-button {
  width: 3rem;
  height: 3rem;

  ion-icon {
    font-size: 1.8rem;
  }
}

.kwakol-modal-bottom-drawer2 {
  ion-content {
    --color: var(--ion-color-secondary);
    h3 {
      margin-top: 0.5rem;
    }
  }

  .content-wrapper {
    .item {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-family: BwModelicaBold;
        letter-spacing: 0.02rem;
        font-size: 0.85rem;
      }
    }
  }

  &.transfer-user {
    ion-content {
      .input-wrapper {
        margin: 1rem -1rem 0 -1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid rgba(var(--ion-color-primary-rgb), 0.5);
        border-bottom: 1px solid rgba(var(--ion-color-primary-rgb), 0.5);
        padding: 1rem 0.625rem;

        label {
          margin-right: 10px;
        }

        input {
          font-size: 0.9rem;
          background: transparent;
          border: none;
          outline: none;
          width: 100%;

          &::placeholder {
            color: rgba(var(--ion-color-secondary-rgb), 0.3);
          }
        }
      }

      .user-items {
        margin-top: 1rem;
        .item {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          p.text {
            font-family: BwModelicaRegular;
            span {
              font-family: BwModelicaBold;
            }
          }
        }
      }
    }
  }

  &.transfer-investment {
    ion-content {
      .investment-item {
        --animate-duration: 0.7s;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--ion-color-tertiary);
        border: 1px solid rgba(var(--ion-color-primary-rgb), 0.25);
        border-radius: 6px;
        padding: 0.7rem;
        margin-bottom: 0.7rem;

        &:last-child {
          margin-bottom: 0;
        }

        p,
        h3 {
          margin: 0;
          font-size: 0.95rem;
        }

        .investment-name {
          display: flex;
          gap: 0.3rem;
          align-items: center;

          .name {
            p {
              font-size: 0.7rem;
              letter-spacing: 0.04rem;
              color: rgba(var(--ion-color-secondary-rgb), 0.5);
            }
            h3 {
              font-family: BwModelicaRegular;
            }
          }
        }

        h3 {
          font-family: BwModelicaBold;
        }

        &.no-investments {
          padding: 1rem 0.7rem;
          display: flex;
          justify-content: flex-start;
          gap: 0.5rem;
          ion-icon {
            font-size: 1.4rem;
          }

          p {
            color: rgba(var(--ion-color-secondary-rgb), 0.5);
            font-size: 1rem;
            letter-spacing: -0.04rem;
          }
        }

        .did-floating-label-content {
          position: relative;

          div {
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            gap: .5rem;

            ion-icon{ font-size: 1.3rem;}

            span {
              font-size: 0.85rem;
              color: rgba(var(--ion-color-secondary-rgb), 0.5);
            }
          }
        }

        .did-floating-input {
          border: 2px solid var(--ion-color-primary);
        }
      }
    }
  }

  &.deposit-modal {
    .p0 {
      margin-top: 0.5rem;
      font-family: BwModelicaRegular;
    }

    .content-wrapper {
      padding: 0.9rem;
    }

    .type-currency {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:first-child {
        margin-bottom: 1rem;
      }

      .round-button {
        border: none;
        ion-icon {
          font-size: 1.6rem;
        }
      }

      p {
        font-family: BwModelicaBold;
      }
    }
  }

  &.deposit-naira-modal {
    text-align: center;

    .round-button,
    .daily-rate {
      margin: 0 auto;
      border: none;
    }

    .daily-rate {
      margin-top: 1rem;
    }

    p {
      font-family: BwModelicaRegular;
    }

    .p0 {
      margin: 0.5rem auto 0 auto;
      width: 85%;
    }

    ion-content {
      --padding-start: 1.8rem;
      --padding-end: 1.8rem;
    }

    .content-wrapper {
      padding: 0.9rem;
      margin-bottom: 1rem;

      p {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        span:first-child {
          color: rgba(var(--ion-color-secondary-rgb), 0.5);
        }

        span:last-child {
          // font-family: BwModelicaMedium;
          display: flex;
          gap: 0.4rem;
          align-items: center;

          ion-icon {
            font-size: 1.2rem;
          }
        }
      }
    }

    .options-wrapper {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      gap: 3rem;
    }
  }
}

//Enter PIN Modal
ion-modal.enter-pin {
  &::part(handle) {
    background-color: var(--ion-color-primary);
  }
  --border-radius: 20px;
  --border-width: 0;
  ion-content {
    --background: var(--ion-color-tertiary);
    --padding-top: 2rem;

    .img-wrapper {
      width: 100%;
      margin-bottom: 0.5rem;
      .round-button {
        border: none;
        margin: 0 auto;
      }
    }

    .p0,
    .p1 {
      font-size: 0.87rem;
      letter-spacing: 0.01rem;
      text-align: center;
      margin: 0.5rem 0rem;
      font-family: BwModelicaRegular;
    }

    .p0 {
      margin-top: 0;
      margin-bottom: 2rem;

      span {
        font-family: BwModelicaBold;
      }
    }

    h3 {
      text-align: center;
      font-family: BwModelicaBold;
      font-size: 1.8rem;
    }

    .pin-wrapper {
      text-align: center;
      margin-bottom: 3rem;
      ion-input {
        letter-spacing: 0.5rem;
        position: absolute;
        --color: rgba(81, 175, 78, 0.2); //#b3b3b3;
        font-size: 3rem;
        height: 3.4rem;
      }
    }
  }
}

.loading-spinner-wrapper {
  margin: 6rem 0;
  text-align: center;
}
