<!-- <ion-content [fullscreen]="true" class="page-content tab-page-white"> -->
<ion-content
  [fullscreen]="true"
  class="page-content"
  [ngClass]="activeSegment === 'investments' ? investment?.user_details.subscriber.subscription.length > 0 ? 'investments' : 'investments no-trans' : ''"
>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="segment-tabs-wrapper" [ngClass]="activeSegment === 'investments' ? 'is-investments' : ''">
    <div class="main-header">
      <div class="header-name">
        <div class="img-wrapper" (click)="goToProfilePage()">
          <!-- <img src="" alt=""> -->
          <div class="default-img">
            {{user?.fullname.split(' ')[0][0]}}{{user?.fullname.split(' ')[1][0]}}
          </div>
        </div>
        <div class="name">
          <h3>Hi {{ user?.fullname.split(' ')[0] }},</h3>
          <p>Hope you're having a great {{ getTimeOfDay()}}.</p>
        </div>
      </div>
  
      <div class="daily-rate">{{home? home.daily_rate : '-----' }}</div>
  
      <!-- <ion-icon src="assets/icon/chat.svg"></ion-icon> -->
    </div>
  
    <ion-segment value="wallet" [(ngModel)]="activeSegment" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="wallet" mode="md">
        <ion-label>Wallet</ion-label>
      </ion-segment-button>
      <ion-segment-button value="investments">
        <ion-label>Investments</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Wallet Segment... -->
  <div *ngIf="activeSegment === 'wallet'" class="segment segment-wallet">
    <div class="summary">
      <div class="summary-header">
        <div class="balance">
          <p>Wallet Balance</p>
          <h2 [ngClass]="!showBalance ? 'blur-text' : 'show-text'">
            ${{util.numberWithCommas(wallet?.balance)}}
          </h2>
        </div>
        <div class="hidden-wrapper">
          <ion-icon
            [src]="'assets/icon/'+balanceIcon+'.svg'"
            (click)="hideShowBalance()"
          ></ion-icon>
        </div>
      </div>

      <ion-row>
        <ion-col>
          <div class="cta" (click)="openDepositModal()">
            <ion-icon src="assets/icon/v2-icons/deposit.svg"></ion-icon>
            <p>Deposit</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="cta" (click)="openWithdrawalModal()">
            <ion-icon src="assets/icon/v2-icons/withdraw.svg"></ion-icon>
            <p>Withdraw</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="cta" (click)="openTransferModal()">
            <ion-icon src="assets/icon/v2-icons/transfer.svg"></ion-icon>
            <p>Transfer</p>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="quick-trans" *ngIf="wallet?.quick_transfers.length > 0">
      <p class="section-title">Quick Transfer</p>

      <ion-row class="quick-transfer-wrapper">
        <ion-col size="3">
          <ion-icon
            class="add-quick"
            src="assets/icon/v2-icons/quick-add.svg"
            (click)="openTransferUserModal()"
          ></ion-icon>
        </ion-col>

        <ion-col size="auto" *ngFor="let quick of wallet?.quick_transfers">
          <div
            class="quick-transfer-item"
            (click)="goToTransferUserPage(true, quick.username)"
          >
            <div class="default-img">
              {{quick.fullname.split(' ')[0][0]}}{{quick.fullname.split('
              ')[1][0]}}
            </div>
            <p>
              {{quick.fullname.split(' ')[0]}}
            </p>
            <!-- <p>
              {{(quick.fullname.split(' ')[0].length > 7 ? quick.fullname.split(' ')[0].slice(0,7)+'...' : quick.fullname.split(' ')[0])+' '+ (quick.fullname.split(' ')[1] ? quick.fullname.split(' ')[1].trim()[0] : '')}}
            </p> -->
          </div>
        </ion-col>

      </ion-row>
    </div>

    <div
      class="recent-trans"
      [ngClass]="{'more-margin': wallet?.quick_transfers.length <= 0}"
    >
      <p class="section-title">Recent Wallet Transactions</p>
      <p class="section-title" (click)="goToHistory('wallet')">
        View all
        <ion-icon src="assets/icon/v2-icons/forward-green.svg"></ion-icon>
      </p>
    </div>

    <div
      class="transactions-list"
      *ngIf="!listSpinner &&  wallet?.latest_wallet_transactions?.length > 0"
    >
      <div
        class="transaction"
        (click)="openInfoModal(trans.type.toLowerCase(), trans)"
        *ngFor="let trans of wallet?.latest_wallet_transactions | slice:0:5"
      >
        <div class="trans-type-wrapper">
          <ion-icon
            [src]="'assets/icon/v2-icons/'+getIconForType(trans.type.toLowerCase())+'.svg'"
          ></ion-icon>
          <div class="trans-type">
            <h3>{{trans.type | capitalize}}</h3>
            <p class="trans-type-p">{{trans.comment}}</p>
          </div>
        </div>
        <div class="amount-date">
          <div
            class="amount"
            [ngClass]="!showBalance ? 'hide-text' : 'reveal-text'"
          >
            {{util.getAmountSign(trans.type.toLowerCase())}}${{util.numberWithCommas(trans.amount)}}
          </div>
          <div class="trans-date">{{trans.status === 'pending' ?  'pending' : (trans.created_at | date) }}</div>
        </div>
      </div>
      <!-- 
      <div class="transaction">
        <div class="trans-type-wrapper">
          <ion-icon src="assets/icon/v2-icons/trans-withdraw.svg"></ion-icon>
          <div class="trans-type">
            <h3>Withdrawal</h3>
            <p class="trans-type-p">To Bank Account</p>
          </div>
        </div>
        <div class="amount-date">
          <div
            class="amount"
            [ngClass]="!showBalance ? 'hide-text' : 'reveal-text'"
          >
            +$3,403.58
          </div>
          <div class="trans-date">16 June 2023</div>
        </div>
      </div> -->
    </div>

    <div class="loading-spinner-wrapper" *ngIf="listSpinner">
      <ion-spinner color="primary" name="crescent"></ion-spinner>
      Loading transactions...
    </div>

    <div
      class="no-transactions animate__animated animate__pulse"
      [ngClass]="{'less-padding': wallet?.quick_transfers.length > 0, 'more-padding': wallet?.quick_transfers.length <= 0, 'mid-padding': !user?.verified_kyc}"
      *ngIf="!listSpinner && wallet?.latest_wallet_transactions?.length <= 0"
    >
      <img src="assets/imgs/cacti.svg" />
      <p>It's a bit empty here because you haven't made any transaction yet.</p>
      <div class="quick-btn-round" (click)="openDepositModal()">
        Deposit Now
      </div>
    </div>

    <div class="finish-kyc" *ngIf="!user.verified_kyc" (click)="goToKYC()">
      <div
        class="progress"
        [style]="'background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(var(--ion-color-primary) '+ percent +'%, rgba(var(--ion-color-secondary-rgb), 0.2) 0)'"
      >
        {{percent}}%
      </div>
      <div class="text">
        <p>Finish setting up your account</p>
        <p>Complete your KYC to get full access to Kwakol Funds</p>
      </div>
    </div>
  </div>
  <!-- End Wallet Segment -->

  <!------------------ Investments Segment... ------------------------>
  <div
    *ngIf="activeSegment === 'investments'"
    class="segment segment-investments"
  >
    <div class="segment-head">
      <div class="quick-summary investments-green">
        <p class="title">
          Total Investments
          <ion-icon
            [src]="'assets/icon/v2-icons/'+balanceIcon+'-green.svg'"
            (click)="hideShowBalance()"
          ></ion-icon>
        </p>

        <h3 [ngClass]="!showBalance ? 'blur-text green' : 'show-text'">
          ${{ homeBalance || '0.00'}}
        </h3>

        <div class="cta-wrapper">
          <!-- False to denote that this opens investment list modals for deposit or transfer and not withdrawal -->
          <div class="cta" (click)="openTransferInvestmentModal(false)">
            <div class="btn">
              <ion-icon src="assets/icon/v2-icons/cta-deposit.svg"></ion-icon>
            </div>
            <p>Deposit</p>
          </div>
          <div class="cta">
            <div class="btn" (click)="startInvestmentWithdrawal()">
              <ion-icon src="assets/icon/v2-icons/cta-withdraw.svg"></ion-icon>
            </div>
            <p>Withdraw</p>
          </div>
          <div class="cta" (click)="openMoreOptionsModal()">
            <div class="btn">
              <ion-icon src="assets/icon/v2-icons/cta-more.svg"></ion-icon>
            </div>
            <p>More</p>
          </div>
        </div>
      </div>

      <ion-row
        class="investments-wrapper investments-green"
        *ngIf="investment?.user_details.subscriber.subscription.length > 0"
      >
        <ion-col size="2">
          <div class="add-investment-wrapper">
            <div class="add-investment" (click)="goToNewAccount()">
              <ion-icon src="assets/icon/v2-icons/add-green.svg"></ion-icon>
            </div>
          </div>
        </ion-col>

        <ion-col
          size="5"
          *ngFor="let inv of investment?.user_details.subscriber.subscription"
          [ngClass]="{'alter-margin': investment?.user_details.subscriber.subscription.length === 1}"
        >
          <!-- <div class="investment-item" (click)="goToInvestmentDeets(inv)"> -->
          <div
            class="investment-item"
            (click)="openInvestementDetailsPage(inv)"
          >
            <div *ngIf="inv.status !== 'active'" class="blur-cover"></div>
            <div *ngIf="inv.status !== 'active'" class="inv-pending">Pending</div>
            <div
              class="type-area {{ getIconForInvName(inv.subscription.name) || 'levadura-big' }}"
            >
              <div class="icon-wrapper">
                <ion-icon
                  [src]="'assets/icon/inv-type/'+ (getIconForInvName(inv.subscription.name) || 'special-big') +'.svg'"
                ></ion-icon>
              </div>
              <h4>
                <span>{{inv.custom_name?.length > 11 ? inv.custom_name.slice(0,11)+'...' : inv.custom_name || 'My Plan'}}</span><br />
                <span>
                  {{ inv.subscription.name.substring(0,8)
                  }}{{inv.subscription.name.length > 8 ? '...': ''}}
                </span>
              </h4>
            </div>
            <p>Balance</p>
            <h4>
              <span
                class="balance"
                [ngClass]="!showBalance ? 'blur-text green' : 'show-text regular'"
                >${{ util.numberWithCommas(addInvBalances(inv)) }}</span
              >
              <!-- <span *ngIf="!showBalance" class="hidden">******</span> -->
            </h4>
          </div>
        </ion-col>
        <!-- 
        <ion-col size="6">
          <div class="investment-item">
            <p>Balance</p>
            <h4>$1,255.49</h4>
            <div class="type-area levadura-big">
              <ion-icon src="assets/icon/inv-type/levadura.svg"></ion-icon>
              <h4>Levadura</h4>
            </div>
          </div>
        </ion-col> -->
      </ion-row>
    </div>

    <div class="list-wrapper">
      <div class="recent-trans investments">
        <p class="section-title">Transaction History</p>
        <p class="section-title" (click)="goToHistory('investments')">
          View all
          <ion-icon src="assets/icon/v2-icons/forward-green.svg"></ion-icon>
        </p>
      </div>

      <div
        class="transactions-list no-border"
        *ngIf="homeHistories?.length > 0"
      >
        <div
          class="transaction"
          *ngFor="let hist of homeHistories | slice:0:5"
          (click)="openInfoModal(hist.type.toLowerCase(), hist, false)"
        >
          <div class="trans-type-wrapper">
            <ion-icon
              [src]="'assets/icon/v2-icons/'+getIconForType(hist.type)+'.svg'"
            ></ion-icon>
            <div class="trans-type">
              <h3>{{ hist.type | capitalize }}</h3>
              <p class="trans-type-p">{{hist.comment.slice(0,50).length > 50 ? hist.comment.slice(0,45)+'...' :hist.comment.slice(0,45)}}</p>
            </div>
          </div>
          <div class="amount-date">
            <div
              class="amount"
              [ngClass]="!showBalance ? 'hide-text' : 'reveal-text'"
            >
            {{util.getAmountSign(hist.type.toLowerCase())}}${{ util.numberWithCommas(hist.amount) }}
            </div>
            <div class="trans-date">{{hist.status === 'pending' ?  'pending' : (hist.created_at | date) }}</div>
          </div>
        </div>
      </div>

      <div
        class="no-transactions no-border"
        *ngIf="homeHistories?.length === 0"
      >
        <img src="assets/imgs/cacti.svg" />
        <p>
          It's a bit empty here because you haven't made any transaction yet.
        </p>
        <div class="quick-btn-round" (click)="openDepositModalFromInvestmentsTab()">Deposit Now</div>
      </div>

      <div class="loading-spinner-wrapper" *ngIf="listSpinner">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
        Loading transactions...
      </div>

    </div>
  </div>

  <!----------------------- MODALS FOR WALLET SECTION --------------------------->

  <!-- Make transfer modal -->
  <ion-modal
    #transferModal
    trigger="open-transfer-drawer"
    [initialBreakpoint]="0.37"
    class="kwakol-modal-bottom-drawer2"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->
        <h3>Where would you like to transfer to?</h3>
        <!-- <p class="p1">Enter your pin to log in</p> -->

        <div class="content-wrapper">
          <div class="item" (click)="openTransferUserModal()">
            <div class="round-button">
              <ion-icon
                src="assets/icon/v2-icons/round-btns/user.svg"
              ></ion-icon>
            </div>
            <p>User</p>
          </div>
          <!-- False to denote that this opens investment list modals for deposit or transfer and not withdrawal -->
          <div class="item" (click)="openTransferInvestmentModal(false)">
            <div class="round-button">
              <ion-icon
                src="assets/icon/v2-icons/round-btns/investment.svg"
              ></ion-icon>
            </div>
            <p>Investment</p>
          </div>
          <div class="item" (click)="openTransferBeneficiaryModal()">
            <div class="round-button">
              <ion-icon
                src="assets/icon/v2-icons/round-btns/beneficiary.svg"
              ></ion-icon>
            </div>
            <p>Beneficiary</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Transfer Modal -->

  <!-- Transfer to User Modal -->
  <ion-modal
    #transferUserModal
    trigger="open-transfer-user-drawer"
    [initialBreakpoint]="0.75"
    class="kwakol-modal-bottom-drawer2 transfer-user"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="round-button center">
          <ion-icon src="assets/icon/v2-icons/round-btns/user.svg"></ion-icon>
        </div>

        <h3 class="ion-text-center">Transfer to User</h3>
        <!-- <p class="p1">Enter your pin to log in</p> -->

        <div class="input-wrapper">
          <label for="input-field">To:</label>
          <input
            type="text"
            id="input-field"
            name="input-field"
            [(ngModel)]="usernameOrEmail"
            (ngModelChange)="onUsernameEmailInputChange($event)"
            placeholder="@Username or email address"
            #doUserTransferRef
          />
        </div>

        <div class="user-items" *ngIf="userToTransferTo">
          <div class="item" (click)="goToTransferUserPage(false)">
            <div class="img-wrapper">
              <!-- <img src="" alt=""> -->
              <div class="default-img">
                {{userToTransferTo.fullname.split('
                ')[0][0]}}{{userToTransferTo.fullname.split(' ')[1][0]}}
              </div>
            </div>
            <p class="text">
              {{userToTransferTo.fullname}} <br />
              <span>{{userToTransferTo.email}}</span>
            </p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Transfer to User Modal -->

  <!-- Make investment transfer modal -->
  <ion-modal
    #investmentTransferModal
    trigger="open-investment-transfer-drawer"
    [initialBreakpoint]="0.45"
    
    [breakpoints]="[0, 0.30, 0.45, 0.70, 0.90, 1.0]"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->
        <h3 *ngIf="!isInvestmentWithdrawal">Choose investment account</h3>
        <h3 *ngIf="isInvestmentWithdrawal">Choose the investment you would like to withdraw from</h3>

        <div class="content-wrapper">
          <div
            class="investment-item animate__animated animate__fadeIn"
            (click)="openDoTransferInvestmentModal(inv)"
            *ngFor="let inv of myInvestments"
          >
            <div class="investment-name">
              <div class="round-button">
                <ion-icon
                  [src]="'assets/icon/inv-type/'+ (getIconForInvName(inv.name) || 'special-big') +'.svg'"
                ></ion-icon>
              </div>
              <div class="name">
                <p>{{inv.custom_name}}</p>
                <h3>{{inv.name}}</h3>
              </div>
            </div>
            <h3>${{util.numberWithCommas(inv.balance)}}</h3>
          </div>

          <div
            class="loading-spinner-wrapper"
            *ngIf="listSpinner && myInvestments?.length <= 0"
          >
            <ion-spinner color="primary" name="crescent"></ion-spinner>
          </div>

          <div
            class="investment-item no-investments"
            *ngIf="!listSpinner && myInvestments?.length <= 0"
          >
            <ion-icon
              slot="end"
              src="assets/icon/v2-icons/clock.svg"
            ></ion-icon>
            <p>No investments yet</p>
          </div>

          <ion-col size="12" class="ion-text-center btn-col">
            <ion-button class="kwakol-btn ion-text-uppercase" type="submit" (click)="goToNewAccount()">
              New Investment
              <ion-icon
                slot="end"
                src="assets/icon/v2-icons/add-white.svg"
                style="font-size: 1.4rem"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Transfer Investment Modal -->

  <!-- Do investment transfer modal -->
  <ion-modal
    #doInvestmentTransferModal
    [initialBreakpoint]="0.75"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->
        <h3>Transfer to investment account</h3>

        <!-- <div class="content-wrapper"> -->
        <div class="investment-item" style="margin-top: 1rem">
          <div class="investment-name">
            <div class="round-button">
              <ion-icon
                [src]="'assets/icon/inv-type/'+ (getIconForInvName(selectedInvestment?.name) || 'special-big') +'.svg'"
              ></ion-icon>
            </div>
            <div class="name">
              <p>The Plan</p>
              <h3>{{selectedInvestment?.name}}</h3>
            </div>
          </div>
          <h3>${{util.numberWithCommas(selectedInvestment?.balance)}}</h3>
        </div>

        <div
          class="investment-item animate__animated animate__slideInDown"
          style="--animate-duration: 0.5s"
        >
          <ion-col size="12" class="kwakol-input">
            <div class="did-floating-label-content">
              <input
                class="did-floating-input"
                type="tel"
                placeholder="0.00"
                [(ngModel)]="investmentTransferAmount"
                required
                autocomplete="off"
                #doInvestmentTransferRef
              />
              <label class="did-floating-label">Enter Amount</label>
            </div>
          </ion-col>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="makeInvestmentOrBeneficiaryTransfer('investment')"
            type="submit"
          >
            Transfer
          </ion-button>
        </ion-col>
        <!-- </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Do investment transfer Modal -->

  <!-- Make beneficiary transfer modal -->
  <ion-modal
    #beneficiaryTransferModal
    [initialBreakpoint]="0.45"
    [breakpoints]="[0, 0.30, 0.45, 0.70, 0.90]"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Choose beneficiary</h3>

        <div class="content-wrapper">
          <div
            class="investment-item animate__animated animate__fadeIn"
            (click)="openDoTransferBeneficiaryModal(ben)"
            *ngFor="let ben of myBeneficiaries"
          >
            <div class="investment-name">
              <div class="img-wrapper">
                <!-- <img src="" alt=""> -->
                <div class="default-img">
                  {{ben.fullname.split(' ')[0][0]}}{{ben.fullname.split(' ')[1] ? ben.fullname.split(' ')[1].trim()[0] : ''}}
                </div>
              </div>
              <div class="name">
                <p>{{ben.subscription_name}}</p>
                <h3>{{ben.fullname}}</h3>
              </div>
            </div>
            <h3>${{util.numberWithCommas(ben.balance)}}</h3>
          </div>
          <div
            class="investment-item no-investments"
            *ngIf="myBeneficiaries?.length <= 0"
          >
            <ion-icon
              slot="end"
              src="assets/icon/v2-icons/clock.svg"
            ></ion-icon>
            <p>No beneficiaries yet</p>
          </div>

          <ion-col size="12" class="ion-text-center btn-col">
            <ion-button class="kwakol-btn ion-text-uppercase" type="submit" (click)="goToCreateBeneficiaryPage()">
              New Beneficiary
              <ion-icon
                slot="end"
                src="assets/icon/v2-icons/add-white.svg"
                style="font-size: 1.4rem"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Transfer Beneficiary Modal -->

  <!-- Do beneficiary transfer modal -->
  <ion-modal
    #doBeneficiaryTransferModal
    [initialBreakpoint]="0.70"
    [breakpoints]="[0, 0.30, 0.50, 0.70, 0.90]"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->
        <h3>Transfer to beneficiary</h3>

        <!-- <div class="content-wrapper"> -->
        <div class="investment-item" style="margin-top: 1rem">
          <div class="investment-name">
            <div class="img-wrapper">
              <!-- <img src="" alt=""> -->
              <div class="default-img">
                {{selectedBeneficiary?.fullname.split('
                ')[0][0]}}{{(selectedBeneficiary?.fullname.split(' ')[1]) ? selectedBeneficiary?.fullname.split(' ')[1].trim()[0] : ''}}
              </div>
            </div>
            <div class="name">
              <p>{{selectedBeneficiary.subscription_name}}</p>
              <h3>{{selectedBeneficiary?.fullname}}</h3>
            </div>
          </div>
          <h3>${{util.numberWithCommas(selectedBeneficiary.balance)}}</h3>
        </div>

        <div
          class="investment-item animate__animated animate__slideInDown"
          style="--animate-duration: 0.5s"
        >
          <ion-col size="12" class="kwakol-input">
            <div class="did-floating-label-content">
              <input
                class="did-floating-input"
                type="tel"
                placeholder="0.00"
                [(ngModel)]="beneficiaryTransferAmount"
                required
                autocomplete="off"
                #doBeneficiaryTransferRef
              />
              <label class="did-floating-label">Enter Amount</label>
            </div>
          </ion-col>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="makeInvestmentOrBeneficiaryTransfer('beneficiary')"
            type="submit"
          >
            Transfer
          </ion-button>
        </ion-col>
        <!-- </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Do beneficiary transfer Modal -->

  <!-- Enter pin for transfers modal -->
  <!-- [keepContentsMounted]="true" -->
  <ion-modal
    #pinEnterModal
    trigger="open-enter-pin"
    [initialBreakpoint]="0.8"
    [breakpoints]="[0, 0.8]"
    class="enter-pin"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="img-wrapper">
          <div class="round-button" *ngIf="typeOfTransfer === 'investment'">
            <ion-icon
              [src]="'assets/icon/inv-type/'+ (getIconForInvName(selectedInvestment?.name) || 'special-big') +'.svg'"
            ></ion-icon>
          </div>
          <div class="default-img" *ngIf="typeOfTransfer === 'beneficiary'">
            {{selectedBeneficiary?.fullname.split('
            ')[0][0]}}{{selectedBeneficiary?.fullname.split(' ')[1] ? selectedBeneficiary?.fullname.split(' ')[1].trim()[0] : ''}}
          </div>
        </div>
        <p class="p0" *ngIf="typeOfTransfer === 'investment' && isInvestmentWithdrawal">Withdraw</p>
        <h3>
          ${{util.numberWithCommas(investmentTransferAmount || withdrawalInvestmentAmount ||
          beneficiaryTransferAmount)}}
        </h3>
        <p *ngIf="typeOfTransfer === 'investment'" class="p0">
          <span *ngIf="!isInvestmentWithdrawal">to</span> <span *ngIf="isInvestmentWithdrawal">from</span> the Plan <span class="plan-name">({{selectedInvestment?.name}})</span>
        </p>
        <p *ngIf="typeOfTransfer === 'beneficiary'" class="p0">
          to the Beneficiary <br />
          {{selectedBeneficiary?.fullname}} <span>({{'Plan'}})</span>
        </p>
        <p class="p1">Enter your pin to complete transaction</p>
        <div class="pin-wrapper">
          <ion-input
            [type]="inputPinTypePassword ? 'password' : 'text'"
            name="password"
            [maxlength]="4"
            [(ngModel)]="pin"
            disabled
            (click)="onTapPinInput()"
            [ngStyle]="{fontSize: inputPinTypePassword ? '5rem' : '1.5rem', color: inputPinTypePassword ? 'rgba(81, 175, 78, 0.2)' : '#211F42'}"
          ></ion-input>
        </div>
        <app-keypad (keypadEmitter)="onPinInputChange($event)"></app-keypad>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Enter Pin for Transfers -->

  <!-- START DEPOST AREA!!! -->

  <!-- Start Deposit Modal (Select currency)-->
  <ion-modal
    #depositModal
    [initialBreakpoint]="0.34"
    class="kwakol-modal-bottom-drawer2 deposit-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Select Currency</h3>

        <p class="p0">
          Choose the currency you would like to make your deposit in
        </p>

        <div class="content-wrapper">
          <div
            class="type-currency"
            (click)="openCurrencyDepositModal('naira')"
          >
            <div class="round-button">
              <ion-icon [src]="'assets/imgs/flags/nigeria.svg'"></ion-icon>
            </div>
            <p>N NGN - Naira</p>
          </div>
          <div
            class="type-currency"
            (click)="openCurrencyDepositModal('dollar')"
          >
            <div class="round-button">
              <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
            </div>
            <p>$ USD - Dollars</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Deposit Modal -->

  <!-- Start Naira Depost -->
  <ion-modal
    #depositNairaModal
    [initialBreakpoint]="0.50"
    class="kwakol-modal-bottom-drawer2 deposit-naira-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="round-button">
          <ion-icon [src]="'assets/imgs/flags/nigeria.svg'"></ion-icon>
        </div>
        <h3>Deposit using Naira</h3>
        <p class="p0">
          Deposit to your account details below to fund your wallet.
        </p>
        <div class="daily-rate">{{home? home.daily_rate : '-----' }}</div>

        <div class="content-wrapper">
          <p>
            <span>Account Number</span>
            <span
              >{{nairaDepositeModalData?.accounts.account_number}}
              <ion-icon
                (click)="util.clipboardCopy(nairaDepositeModalData?.accounts.account_number)"
                src="assets/icon/copy.svg"
              ></ion-icon
            ></span>
          </p>
          <p>
            <span>Account Name</span>
            <span>{{nairaDepositeModalData?.accounts.account_name}}</span>
          </p>
          <p>
            <span>Bank Name</span>
            <span>{{nairaDepositeModalData?.accounts.bank_Name}}</span>
          </p>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button class="kwakol-btn ion-text-uppercase" type="submit" (click)="openShareToSocials()">
            Share Details
          </ion-button>
        </ion-col>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Naira Depost -->

  <!-- Start Dollar Depost -->
  <ion-modal
    #depositDollarModal
    [initialBreakpoint]="0.40"
    class="kwakol-modal-bottom-drawer2 deposit-naira-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="round-button">
          <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
        </div>
        <h3>Deposit using USD</h3>
        <p class="p0">Choose your deposit method</p>

        <div class="options-wrapper">
          <div class="option" (click)="openDollarCashDepositModal()">
            <img
              src="assets/imgs/v2-imgs/cash-deposit.svg"
              class="animate__animated animate__pulse"
              alt=""
            />
            <p>Cash Deposit</p>
          </div>
          <div class="option" (click)="goToDepositDollarBankTransferPage()">
            <img
              src="assets/imgs/v2-imgs/bank-transfer.svg"
              class="animate__animated animate__pulse"
              alt=""
            />
            <p>Bank Transfer</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Dollar Depost -->

  <!-- Dollar cash deposit modal -->
  <ion-modal
    #dollarCashDepositModal
    [initialBreakpoint]="0.65"
    [breakpoints]="[0, 0.30, 0.50, 0.65]"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->
        <h3>Enter cash amount</h3>

        <div
          class="investment-item animate__animated animate__slideInDown"
          style="--animate-duration: 0.5s; margin-top: 1rem"
        >
          <ion-col size="12" class="kwakol-input">
            <div class="did-floating-label-content">
              <input
                class="did-floating-input"
                type="tel"
                placeholder="0.00"
                [(ngModel)]="dollarCashAmount"
                required
                autocomplete="off"
                #dollarCashDepositRef
              />
              <div>
                <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
                <span>USD</span>
              </div>
              <label class="did-floating-label">Enter Amount</label>
            </div>
          </ion-col>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="makeDollarCashDeposit()"
            type="submit"
          >
            Confirm
          </ion-button>
        </ion-col>
        <!-- </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Dollar cash deposit modal -->

  <!-- Start USD Cash Depost Modal -->
  <ion-modal
    #doDepositDollarCashModal
    [initialBreakpoint]="0.70"
    [breakpoints]="[0, 0.70]"
    class="kwakol-modal-bottom-drawer2 deposit-naira-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="round-button">
          <ion-icon [src]="'assets/icon/v2-icons/qr.svg'"></ion-icon>
        </div>
        <h3>Deposit using USD Cash</h3>

        <h1>${{util.numberWithCommas(dollarQRPageData?.amount)}}</h1>

        <p class="p0">
          Show the cash recipient the QR code to confirm your deposit.
        </p>

        <div class="qr-wrapper">
          <img src="assets/imgs/v2-imgs/qr-img.svg" alt="" />
        </div>

        <p class="p1">or copy code</p>

        <div class="code-wrapper">
          {{dollarQRPageData?.ref}}
          <ion-icon
            (click)="util.clipboardCopy(dollarQRPageData?.ref)"
            src="assets/icon/copy.svg"
          ></ion-icon>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End USD Cash Depost Modal -->

  <!-- END DEPOST AREA!!! -->

  <!-- START WITHDRAWAL AREA!!! -->

  <!-- Start Withdrawal Modal (Select currency) -->
  <ion-modal
    #withdrawalModal
    [initialBreakpoint]="0.33"
    class="kwakol-modal-bottom-drawer2 deposit-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Withdrawal Currency</h3>

        <p class="p0">Select the currency for your withdrawal</p>

        <div class="content-wrapper">
          <div
            class="type-currency"
            (click)="openCurrencyWithdrawalModal('naira')"
          >
            <div class="round-button">
              <ion-icon [src]="'assets/imgs/flags/nigeria.svg'"></ion-icon>
            </div>
            <p>N NGN - Naira</p>
          </div>
          <div
            class="type-currency"
            (click)="openCurrencyWithdrawalModal('dollar')"
          >
            <div class="round-button">
              <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
            </div>
            <p>$ USD - Dollars</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Withdrawal Modal -->

  <!-- Start Dollar Withdrawal -->
  <ion-modal
    #withdrawDollarModal
    [initialBreakpoint]="0.40"
    class="kwakol-modal-bottom-drawer2 deposit-naira-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="round-button">
          <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
        </div>
        <h3>USD Withdrawal</h3>
        <p class="p0">How would you like your withdrawal?</p>

        <div class="options-wrapper">
          <div
            class="option"
            (click)="openDollarAndNairaWithdrawalModal('cash')"
          >
            <img
              src="assets/imgs/v2-imgs/cash-deposit.svg"
              class="animate__animated animate__pulse"
              alt=""
            />
            <p>Cash</p>
          </div>
          <div class="option" (click)="openChooseBankAccountModal('USD')">
            <img
              src="assets/imgs/v2-imgs/bank-transfer.svg"
              class="animate__animated animate__pulse"
              alt=""
            />
            <p>Bank Transfer</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Dollar Withdrawal -->

  <!-- Choose Dollar Bank Account modal -->
  <ion-modal
    #chooseDollarBankAccountModal
    [initialBreakpoint]="0.4"
    [breakpoints]="[0, 0.3, 0.4, 0.5, 0.7]"
    class="kwakol-modal-bottom-drawer2"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3 *ngIf="withdrawCurrentcy === 'NGN'">Choose Naira Account</h3>
        <h3 *ngIf="withdrawCurrentcy === 'USD'">Choose Dollar Account</h3>

        <div class="content-wrapper banks-wrapper">
          <div *ngIf="myBanks">
            <div
              class="bank"
              *ngFor="let bank of myBanks"
              (click)="openDollarAndNairaWithdrawalModal('transfer', bank)"
            >
              <h4>{{bank.bank_name}}</h4>
              <p>{{bank.bank_account_name}}</p>
              <p>{{bank.account_number}}</p>
            </div>
          </div>
          <div *ngIf="!myBanks || myBanks.length <= 0" class="no-banks">
            <h5>No Bank Accounts Here</h5>
            <p>Kindly Add a bank account to continue</p>
          </div>
        </div>
        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="goToAddBank(withdrawCurrentcy)"
            type="submit"
          >
            Add Bank
            <ion-icon
              [src]="'assets/icon/v2-icons/add-white.svg'"
              style="font-size: 1.3rem"
            ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End More Options Modal -->

  <!-- Dollar and naira withdrawal modal -->
  <ion-modal
    #dollarAndNairaWithdrawalModal
    [initialBreakpoint]="0.65"
    [breakpoints]="[0, 0.30, 0.50, 0.65]"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->

        <h3 *ngIf="withdrawCurrentcy === 'NGN'">Naira Withdrawal</h3>
        <h3 *ngIf="withdrawCurrentcy === 'USD'">
          USD Withdrawal -
          <span *ngIf="typeOfWithdrawal === 'cash'">Cash</span>
          <span *ngIf="typeOfWithdrawal === 'transfer'">Bank Transfer</span>
        </h3>

        <div
          class="investment-item animate__animated animate__slideInDown"
          style="--animate-duration: 0.5s; margin-top: 1rem"
        >
          <ion-row>
            <ion-col size="12" class="kwakol-input">
              <div class="did-floating-label-content">
                <input
                  class="did-floating-input"
                  type="tel"
                  placeholder="0.00"
                  [(ngModel)]="dollarOrNairaWithdrawAmount"
                  required
                  autocomplete="off"
                  #dollarAndNairaWithdrawalModalRef
                />
                <div>
                  <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
                  <span>USD</span>
                </div>
                <label class="did-floating-label" *ngIf="withdrawCurrentcy === 'USD'">Enter Amount</label>
                <label class="did-floating-label" *ngIf="withdrawCurrentcy === 'NGN'">Enter Amount in USD</label>
              </div>
            </ion-col>
            <ion-col size="12">
              <p class="wallet-balance">
                Wallet Balance:
                <span>${{util.numberWithCommas(wallet?.balance)}}</span>
              </p>
            </ion-col>
          </ion-row>
        </div>

        <div class="naira-equiv" *ngIf="withdrawCurrentcy === 'NGN'">
          <div class="round-button">
            <ion-icon [src]="'assets/imgs/flags/nigeria.svg'"></ion-icon>
          </div>
          <h5><del>N</del>{{util.numberWithCommas(+dollarOrNairaWithdrawAmount * +dailyRate) || '0.00'}}</h5>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="makeDollarCashWithdrawal()"
            type="submit"
          >
            Withdraw
          </ion-button>
        </ion-col>
        <!-- </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Dollar and naira withdrawal modal -->

  <!-- Enter pin for withdrawal modal -->
  <!-- [keepContentsMounted]="true" -->
  <ion-modal
    #pinEnterModalWithdrawal
    trigger="open-enter-pin"
    [initialBreakpoint]="0.85"
    [breakpoints]="[0, 0.25, 0.5, 0.65, 0.85]"
    class="enter-pin"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="img-wrapper">
          <div class="round-button">
            <ion-icon [src]="'assets/imgs/flags/usa.svg'" *ngIf="withdrawCurrentcy === 'USD'"></ion-icon>
            <ion-icon [src]="'assets/imgs/flags/nigeria.svg'" *ngIf="withdrawCurrentcy === 'NGN'"></ion-icon>
          </div>
        </div>

        <h4 *ngIf="withdrawCurrentcy === 'NGN'">Naira Withdrawal</h4>
        <h4 *ngIf="withdrawCurrentcy === 'USD'">
          USD Withdrawal -
          <span *ngIf="typeOfWithdrawal === 'cash'">Cash</span>
          <span *ngIf="typeOfWithdrawal === 'transfer'">Bank Transfer</span>
        </h4>

        <p *ngIf="withdrawCurrentcy === 'NGN'" class="px y">${{dollarOrNairaWithdrawAmount}} at {{home.daily_rate}}</p>
        
        <h3 *ngIf="withdrawCurrentcy === 'USD'">${{util.numberWithCommas(dollarOrNairaWithdrawAmount)}}</h3>
        <h3 *ngIf="withdrawCurrentcy === 'NGN'" style="margin-bottom: .5rem;"><del>N</del>{{util.numberWithCommas(nairaWithdrawEquivalentAmount)}}</h3>
        
        <p *ngIf="withdrawCurrentcy === 'NGN'" class="px y">+ <del>N</del>{{home.fees[0].amount}} processing fee</p>

        <div class="bank-transfer-details" *ngIf="typeOfWithdrawal === 'transfer'">
          <h6>{{selectedBank.bank_name}}</h6>
          <p class="px">{{selectedBank.bank_account_name}}</p>
          <p class="px">{{selectedBank.account_number}}</p>
        </div>

        <p class="p1" style="margin-top: 2rem;">Enter your pin to complete transaction</p>
        <div class="pin-wrapper">
          <ion-input
            [type]="inputPinTypePassword ? 'password' : 'text'"
            name="password"
            [maxlength]="4"
            [(ngModel)]="pin"
            disabled
            (click)="onTapPinInput()"
            [ngStyle]="{fontSize: inputPinTypePassword ? '5rem' : '1.5rem', color: inputPinTypePassword ? 'rgba(81, 175, 78, 0.2)' : '#211F42'}"
          ></ion-input>
        </div>
        <app-keypad
          (keypadEmitter)="onWithdrawalPinInputChange($event)"
        ></app-keypad>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Enter Pin for Withdrawal -->

  <!--------------------- INVESTMENTS MODALS SECTION!!!!! -------------------------------->

  <!-- More options modal -->
  <ion-modal
    #moreOptionsModal
    [initialBreakpoint]="0.28"
    [breakpoints]="[0, 0.28]"
    class="kwakol-modal-bottom-drawer2"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>More Options</h3>

        <div class="content-wrapper">
          <div class="item" (click)="goToBeneficiariesPage()">
            <div class="round-button">
              <ion-icon
                src="assets/icon/v2-icons/round-btns/beneficiary.svg"
              ></ion-icon>
            </div>
            <p>Beneficiaries</p>
          </div>
          <div class="item" (click)="goToNewAccount()">
            <div class="round-button">
              <ion-icon src="assets/icon/v2-icons/add-green.svg"></ion-icon>
            </div>
            <p>New Account</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End More Options Modal -->

   <!-- Start Withdrawal Investment modal -->
   <ion-modal
   #withdrawalInvestmentModal
   [initialBreakpoint]="0.75"
   [breakpoints]="[0, 0.40, 0.75]"
   class="kwakol-modal-bottom-drawer2 transfer-investment"
   handle="true"
 >
   <ng-template>
     <ion-content>

      <h3>Withdraw to wallet</h3>

      <!-- <div class="content-wrapper"> -->
      <div class="investment-item" style="margin-top: 1rem">
        <div class="investment-name">
          <div class="round-button">
            <ion-icon
              [src]="'assets/icon/inv-type/'+ (getIconForInvName(selectedInvestment?.name) || 'special-big') +'.svg'"
            ></ion-icon>
          </div>
          <div class="name">
            <p>The Plan</p>
            <h3>{{selectedInvestment?.name}}</h3>
          </div>
        </div>
        <h3>${{util.numberWithCommas(selectedInvestment?.balance)}}</h3>
      </div>

       <div
         class="investment-item animate__animated animate__slideInDown"
         style="--animate-duration: 0.5s; margin-top: 1rem"
       >
         <ion-col size="12" class="kwakol-input">
           <div class="did-floating-label-content">
             <input
               class="did-floating-input"
               type="tel"
               placeholder="0.00"
               [(ngModel)]="withdrawalInvestmentAmount"
               required
               autocomplete="off"
               #withdrawalInvestmentRef
             />
             <div>
               <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
               <span>USD</span>
             </div>
             <label class="did-floating-label">Enter Amount</label>
           </div>
         </ion-col>
       </div>

       <ion-col size="12" class="ion-text-center btn-col">
         <ion-button
           class="kwakol-btn ion-text-uppercase"
           (click)="makeInvestmentOrBeneficiaryTransfer('investment')"
           type="submit"
         >
           Withdraw
         </ion-button>
       </ion-col>
       <!-- </div> -->
     </ion-content>
   </ng-template>
 </ion-modal>
 <!-- End Withdrawal Investment modal -->

</ion-content>
