<ion-content [fullscreen]="true" class="page-content tab-page-white">
  <div class="header">
    <h3>Hi {{ user.fullname }},</h3>
    <p>Hope you're having a great afternoon.</p>
    <ion-icon src="assets/icon/chat.svg"></ion-icon>
  </div>

  <div class="summary">
    <img src="assets/icon/text-svgs/total-funds.svg">
    <h2>${{ home?.total_fund }}</h2>
    <ion-icon src="assets/icon/home-deposit.svg" (click)="goToPage('/deposit')"></ion-icon>
    <ion-icon src="assets/icon/home-withdraw.svg" (click)="goToPage('/withdrawal')"></ion-icon>
  </div>

  <p class="my-portfolio">My Portfolio <span><ion-icon src="assets/icon/plus.svg"></ion-icon>Add Investment Account</span></p>

  <ion-row class="investments-wrapper">
    <ion-col size="3">
      <div class="add-investment">
        Add Account
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="investment-item">
        <p>Balance</p>
        <h4>$1,255.49</h4>
        <div class="type-area levadura">
          <ion-icon src="assets/icon/inv-type/levadura.svg"></ion-icon>
          <h4>Levadura</h4>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="investment-item">
        <p>Balance</p>
        <h4>$7,534.59</h4>
        <div class="type-area marigold">
          <ion-icon src="assets/icon/inv-type/marigold.svg"></ion-icon>
          <h4>Marigold</h4>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="investment-item">
        <p>Balance</p>
        <h4>$1,255.49</h4>
        <div class="type-area levadura">
          <ion-icon src="assets/icon/inv-type/levadura.svg"></ion-icon>
          <h4>Levadura</h4>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <p class="account-history">Account History <span>View All</span></p>

  <div class="history-list">
    <div class="history">
      <ion-icon src="assets/icon/history/profit.svg"></ion-icon>
      <h4>Profit <span>$23.12</span></h4>
      <p>February 2020 <span>8.25%</span></p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/withdrawal.svg"></ion-icon>
      <h4>Withdrawal <span class="with">$1,500.00</span></h4>
      <p>February 2020</p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/deposit.svg"></ion-icon>
      <h4>Deposit <span class="dep">$5,000.50</span></h4>
      <p>February 2020</p>
    </div>
    <div class="history">
      <ion-icon src="assets/icon/history/bonus.svg"></ion-icon>
      <h4>Bonus <span>$23.12</span></h4>
      <p>February 2020 <span>8.25%</span></p>
    </div>
  </div>

</ion-content>
