<ion-header>
  <div class="auth-banner small">
    <h3 class="title">Explore</h3>
  </div>
  <div class="sub-header">
    <div class="recent-view">
      <p class="section-title">Recent Notification</p>
      <p class="section-title" (click)="viewNotifications()">
        View all
        <ion-icon src="assets/icon/v2-icons/forward-green.svg"></ion-icon>
      </p>
    </div>
    <div class="notification-wrapper" *ngIf="explore">
      <div class="round-button">
        <ion-icon
          [src]="'assets/icon/v2-icons/round-btns/bell.svg'"
        ></ion-icon>
      </div>
      <div class="notification">
        <p>{{notifications[0].message}}</p>
        <p>{{notifications[0].created_at | date}}</p>
      </div>
    </div>

    <div class="notification-loading-wrapper" *ngIf="!explore">
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

  </div>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  
  <div class="recent-view">
    <p class="section-title">Frequently Asked Questions</p>
    <p class="section-title" (click)="viewFAQs()">
      View all
      <ion-icon src="assets/icon/v2-icons/forward-green.svg"></ion-icon>
    </p>
  </div>
  
  <ion-row class="faqs-wrapper" *ngIf="explore">
    <ion-col size="6" *ngFor="let faq of faqs">
      <div class="thumbnail" (click)="viewFAQDetails(faq)" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9)), url('{{'https://v2.kwml.work/storage/'+faq.thumbnail_image}}')">
        <div class="icon-wrapper">
          <ion-icon src="assets/icon/v2-icons/play.svg"></ion-icon>
        </div>
        <p>{{faq.title}}</p>
      </div>
    </ion-col>
    <!-- <ion-col size="6">
      <div class="thumbnail" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9)), url('../../../../assets/imgs/v2-imgs/feed2.jpg');">
        <div class="icon-wrapper">
          <ion-icon src="assets/icon/v2-icons/play.svg"></ion-icon>
        </div>
        <p>How to deposit into your wallet</p>
      </div>
    </ion-col> -->
  </ion-row>

  <div class="faq-loading-wrapper" *ngIf="!explore">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
    Loading FAQs...
  </div>

  <div class="recent-view">
    <p class="section-title">Recent News</p>
    <p class="section-title" (click)="viewNewsFeeds()">
      View all
      <ion-icon src="assets/icon/v2-icons/forward-green.svg"></ion-icon>
    </p>
  </div>
  
  <ion-row class="news-wrapper" *ngIf="explore">
    <ion-col size="6" *ngFor="let feed of explore?.feeds">
      <div class="news" (click)="viewNewsFeedsDetails(feed)">
        <div class="img-wrapper">
          <img [src]="'assets/imgs/v2-imgs/news1.png'" alt="">
        </div>
        <h4>{{feed.title.slice(0, 65)}}</h4>
        <p>{{feed.published | date}}</p>
      </div>
    </ion-col>
  </ion-row>
  
  <div class="news-loading-wrapper" *ngIf="!explore">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
    Loading Feeds...
  </div>

  <!-- <div class="tt-skeletons" *ngIf="!explore">
    <ion-item *ngFor="let f of [1,2,3,4]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text
            class="left"
            animated
            style="width: 30%"
          ></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text
            class="left"
            animated
            style="width: 90%"
          ></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </div> -->

  <!-- <p class="no-feeds" *ngIf="feeds && feeds?.length <= 0">
    No feeds available for now...
  </p> -->
</ion-content>
