<ion-content [fullscreen]="true" class="page-content tab-page-white">
  <div class="auth-banner small">
    <h3>Feed</h3>
  </div>

  <div class="feeds-wrapper">
    <div class="feed">
      <img src="assets/imgs/feed.svg" alt="">
      <div class="content">
        <p class="date">February 21, 2022</p>
        <h5>
          10 Common Investment Terms Everyone Needs to Know
        </h5>
        <p class="author">by Ruth Umoru</p>
      </div>
    </div>
    <div class="feed">
      <img src="assets/imgs/feed.svg" alt="">
      <div class="content">
        <p class="date">February 21, 2022</p>
        <h5>
          10 Common Investment Terms Everyone Needs to Know
        </h5>
        <p class="author">by Ruth Umoru</p>
      </div>
    </div>
    <div class="feed">
      <img src="assets/imgs/feed.svg" alt="">
      <div class="content">
        <p class="date">February 21, 2022</p>
        <h5>
          10 Common Investment Terms Everyone Needs to Know
        </h5>
        <p class="author">by Ruth Umoru</p>
      </div>
    </div>
  </div>
  

</ion-content>
