ion-header {
  background-color: var(--ion-color-secondary);
}

.header-md::after {
  background-image: none;
}

ion-content {
  --padding-start: 1.3rem;
  --padding-end: 1.3rem;
  --background: var(--ion-color-tertiary);
  // --padding-bottom: 2rem;
}

h3,
p {
  margin: 0;
}

p {
  font-family: BwModelicaRegular;
}

.sub-header {
  padding: 0.8rem 1.3rem;
  border-bottom: none;
}

.recent-view {
  margin: 1rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
  color: rgba(var(--ion-color-secondary-rgb), 0.5);

  &.investments {
    margin: 0.5rem 0;
  }

  p {
    &:last-child {
      display: flex;
      align-items: center;

      ion-icon {
        font-size: 1rem;
      }
    }
  }
}

.notification-wrapper {
  position: relative;
  .round-button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: none;

    ion-icon {
      font-size: 1.3rem;
    }
  }
}

.notification {
  margin-top: 1rem;
  margin-left: 2.5rem;
  width: 88%;
  background-color: #fff;
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
  border-radius: 5px;
  padding: 0.6rem 0.6rem 0.4rem 0.6rem;

  p:first-child {
    font-size: 0.95rem;
    color: var(--ion-color-secondary);
    font-size: 0.85rem;
    text-align: justify;
  }

  p:last-child {
    margin-top: 0.2rem;
    color: rgba(var(--ion-color-secondary-rgb), 0.5);
    font-size: 0.7rem;
  }
}

ion-row.faqs-wrapper,
ion-row.news-wrapper {
  overflow-y: scroll;
  flex-wrap: nowrap;
  margin: 0.8rem -1.3rem 1.3rem -1.3rem; //Against the content padding of 1.3rem
  padding-left: 1.3rem;
  &::-webkit-scrollbar {
    display: none; //Disables browser's default scroll bar
  }
}

ion-row.faqs-wrapper {
  ion-col {
    .thumbnail {
      border-radius: 7px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 12rem;
      width: 93%;

      .icon-wrapper {
        width: 100%;
        padding: 0.6rem;
        ion-icon {
          float: right;
          font-size: 1.8rem;
        }
      }

      p {
        position: absolute;
        font-family: BwModelicaLight;
        // letter-spacing: rem;
        color: rgba(var(--ion-color-tertiary-rgb), 0.7);
        padding: 0.5rem;
        bottom: 0;
      }
    }
  }
}

ion-row.news-wrapper {
  ion-col {
    //   margin-right: -.3rem;
    .news {
      width: 93%;
      border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
      border-radius: 5px;
      padding: .6rem;

      .img-wrapper{
        width: 100%;
        text-align: center;
        img{
            width: 100%;
        }
      }

      h4{
        font-family: BwModelicaBold;
        font-size: .97rem;
        margin-top: .3rem;
      }

      p{
        font-size: .72rem;
        letter-spacing: .02rem;
        color: rgba(var(--ion-color-primary-rgb), 0.7);
      }
    }
  }
}

.notification-loading-wrapper{
  height: 3rem;

  p{
    font-size: .8rem;
    // font-weight: bold;
    letter-spacing: -.05rem;
  }
}

.faq-loading-wrapper{
  height: 13rem;
}

.news-loading-wrapper{
  height: 15rem;
}

.notification-loading-wrapper,
.faq-loading-wrapper,
.news-loading-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  justify-content: center;
  font-size: .75rem;
  color: rgba(var(--ion-color-secondary-rgb), 0.7);
}

.no-notifications {
  // position: absolute;
  color: rgba(var(--ion-color-secondary-rgb), 0.7);
  font-size: 0.75rem;
  // top: 50%;
  // width: 70%;
  text-align: center;
  // transform: translateX(-50%);
  // left: 50%;
}
