<ion-header>
  <div class="auth-banner small">
    <h3>Feed</h3>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="page-content tab-page-white">

  <div class="feeds-wrapper">
    <div class="feed" (click)="goToFeedDetails(feed)" *ngFor="let feed of feeds">
      <img src="assets/imgs/feed.svg" alt="">
      <div class="content">
        <p class="date">{{ feed.published | date}}</p>
        <h5>
          {{ feed.title }}
        </h5>
        <p class="author">by {{ feed.author }}</p>
      </div>
    </div>
  </div>

  <div class="tt-skeletons" *ngIf="!feeds">
    <ion-item *ngFor="let f of [1,2,3,4]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3><ion-skeleton-text class="left" animated style="width: 30%"></ion-skeleton-text></h3>
        <h3><ion-skeleton-text class="left" animated style="width: 90%"></ion-skeleton-text></h3>
        <h3><ion-skeleton-text class="left" animated style="width: 40%"></ion-skeleton-text></h3>
      </ion-label>
    </ion-item>
  </div>
  
  <p class="no-feeds" *ngIf="feeds && feeds?.length <= 0">No feeds available for now...</p>

</ion-content>
