ion-header{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.header-md::after{
    background-image: none;
}

h3,h5,p{
    margin: 0;
}

p{
    letter-spacing: .05em;
}

.feeds-wrapper{
    margin-top: 2rem;
}

.feed{
    position: relative;
    border: 1px solid var(--ion-light-green-color);
    background-color: var(--ion-color-tertiary);
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 5px;

    ion-row{
        ion-col{
            margin: 0;

            &[size='7']{
                padding-top: .1rem;
                margin-left: .5rem;
            }
        }
    }

    img{
        margin-top: .3rem;
        // position: absolute;
        // left: 0.6rem;
        // top: 0.7rem;
        width: 100%;
    }

    p.date{
        color: var(--ion-color-primary);
        font-size: .7rem;
    }
    h5{
        // height: 3.05rem;
        font-size: .85rem;
        font-family: BwModelicaBold;
        margin: .2rem 0;
    }

    p.author{
        font-size: .63rem;
    }
}

.tt-skeletons{
    ion-label{
        ion-skeleton-text.left{
            // float: left;
        }
    }
    ion-thumbnail{
        border-radius: 5px;
        width: 7.5rem;
        height: 4.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    ion-item{
        margin-bottom: .6rem;
        border-radius: 5px;
        --inner-border-width: 0px;
        --border-width: 1px;
        --border-color: var(--ion-light-green-color);
        --padding-top: .6rem;
        --padding-bottom: .6rem;
    }
}

.no-feeds{
    position: absolute;
    color: var(--ion-color-secondary);
    font-size: 0.9rem;
    top: 50%;
    width: 70%;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
}