// Common global styles for whole app

ion-content {
  --background: var(--ion-color-tertiary);
  position: relative;

  // div.backdrop {
  //   z-index: 1000;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(var(--ion-color-secondary-rgb), 0.4);
  // }
}

ion-content.page-content {
  --padding-start: 1.8rem;
  --padding-end: 1.8rem;
  --color: var(--ion-color-secondary);

  &.tab-page-white {
    --background: #fff;
  }
}

ion-toast {
  --color: #fff;
  // margin-top: 1.5rem;
  --width: 100%;
  --start: 0;
}

/** Typography Sylings **/
h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

p {
  font-size: 0.875rem;
  font-family: BwModelicaLight;
  // font-weight: 400;
  letter-spacing: -0.01em;
}

.validator-text {
  // font-family: PoppinsBold;
  float: right;
  font-size: 0.8rem;
  background: var(--ion-color-danger);
  padding: 0.1rem 0.3rem;
  color: #fff;
  border-radius: 100px;
}

/*
      Back button for subpages
  */
.back-button {
  position: absolute;
  top: 5.2rem;
  z-index: 100;
  left: 1.2rem;
  ion-icon {
    font-size: 1.3rem;
    display: inline-block;
    &.wrapper {
      background-color: #fff;
      padding: 1rem;
      border-radius: 8px;
    }
  }
}

/* Headings for subpages */
h2.subpage-heading {
  margin: 5.1rem 0 1rem 0;
  text-align: right;
  // padding-right: 1.3rem;
  font-family: BwModelicaBold;

  &.left {
    text-align: left;
    font-family: BwModelicaMedium;
    font-weight: bold;
    padding-left: 1.2rem;
    font-size: 1.4rem;
    letter-spacing: -0.06rem; //ios change
  }
}

h1.subheader {
  font-family: BwModelicaBold;
  margin-bottom: 1.5rem;
  width: 90%;
}

.auth-banner.small {
  padding: 4rem 1.35rem 1rem 1.35rem;
  margin: 0 -1.8rem;
  background: var(--ion-color-secondary);

  .title {
    text-align: center;
  }

  h3 {
    color: var(--ion-color-tertiary);
    font-family: BwModelicaRegular;
    font-size: 1.25rem;
  }
}
.sub-header {
  padding: 1.3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--ion-color-tertiary);
  margin-bottom: -0.5rem;
  border-bottom: 2px solid rgba(var(--ion-color-secondary-rgb), 0.1);
}

//Grid style
ion-grid {
  --ion-grid-padding: 1.7rem;
  ion-col {
    margin: 0px;
  }

  //For Auth pages
  &.auth-body {
    .row-logo {
      margin-top: 1.5rem;
      margin-bottom: 12rem;
      transition: margin-bottom ease-out 0.3s;

      ion-col.logo-area {
        margin-left: -1.8rem; //Accounts for the overall grid padding of 1.8rem
        img {
          max-width: 70%;
          transition: max-width ease-out 0.3s;

          &.shrink {
            max-width: 50%;
          }
        }
      }

      &.slide-up {
        margin-bottom: 0px;
      }
    }

    h1 {
      font-size: 2.5rem;
    }

    // .bartum-input{
    //   margin-bottom: .8rem;
    // }
  }
}

/** 
    Kwakol Inputs
**/

ion-col {
  margin: 0.1rem 0;
  padding: 0;
}
.kwakol-input {
  ion-icon {
    // color: var(--ion-color-secondary);

    &.symbol {
      color: rgb(130, 130, 130);
      font-size: 0.8rem;
    }
  }

  ion-item {
    --background: #fff;
    --border-width: 0.05rem;
    --border-radius: 7px;
    --border-color: rgba(var(--ion-color-primary-rgb), 0.45);
    --highlight-height: 0px;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --inner-border-width: 0px;
    --inner-padding-bottom: 0rem;
    --inner-padding-top: 0rem;
    margin-bottom: 0.6rem;

    ion-label {
      font-size: 0.9rem !important;
    }

    &::part(native) {
      border-bottom-color: rgba(var(--ion-color-primary-rgb), 0.5);
    }

    &.select-box {
      --background: #fff;
    }
  }

  ion-input {
    --color: var(--ion-color-secondary);
    // font-size: initial;
    --ion-font-family: BwModelicaRegular;
    --placeholder-color: var(--ion-color-secondary);
    --placeholder-opacity: 1;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;

    .has-focus.sc-ion-input-md {
      // pointer-events:
    }

    .native-input.sc-ion-input-md,
    .native-input.sc-ion-input-ios {
      font-size: 0.8rem;
      caret-color: var(--ion-color-secondary);
    }
  }
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 0.7rem;
}
.did-floating-label {
  color: var(--ion-color-secondary);
  font-size: .8125rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 1.1rem;
  padding: 0 5px;
  background: var(--ion-color-tertiary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.did-floating-input,
.did-floating-select {
  font-size: .8125rem;
  display: block;
  width: 100%;
  height: 3.3rem;
  padding: 0 20px;
  background: var(--ion-color-tertiary);
  color: var(--ion-color-secondary);
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.45);
  border-radius: 7px;
  box-sizing: border-box;
  letter-spacing: 0.02rem;

  .active {
  }

  // &[type="email"]{
  //     border: 1px solid var(--ion-color-tertiary);
  // }

  &:focus {
    outline: none;
    border: 2px solid var(--ion-color-primary);
    transition: border ease-in 0.1s;
    ~ .did-floating-label {
      top: -8px;
      font-size: .625rem;
      color: var(--ion-color-primary);
      // font-family: BwModelicaMedium;
    }
  }

  // &:valid{
  //   ~ .did-floating-label {
  //     color: var(--ion-color-primary);
  //   }
  // }
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -8px;
  font-size: .625rem;
}

.p-input {
  margin: 0;
  margin-bottom: 0.7rem;
  font-size: 0.82rem;
  width: 100%;
  height: 3.3rem;
  padding: 1rem 20px;
  color: var(--ion-color-secondary);
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.45);
  border-radius: 7px;
  box-sizing: border-box;
  letter-spacing: 0.02rem;
  font-family: "BwModelicaRegular";

  &.country {
    display: flex;
    justify-content: space-between;
  }
}

// End input section...

.round-button {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(81, 175, 78, 0.2);
  // border: 1px solid rgba(81, 175, 78, 0.2);
  border-radius: 100%;
  justify-content: center;
  align-items: center;

  &.center {
    margin: 0 auto;
  }

  ion-icon {
    font-size: 1.7rem;
  }
}

//Kwakol Buttons
ion-button.kwakol-btn {
  --ion-font-family: BwModelicaMedium;
  --color: var(--ion-color-tertiary);
  --border-radius: 5px;
  margin: 0px;
  width: 100%;
  height: 3.1rem;
  font-size: .9rem;
  --box-shadow: 5px 5px 15px 0px rgba(30, 51, 0, 0.1);

  &.round {
    --border-radius: 100px;
  }

  &.kwakol-btn-inverse {
    // font-weight: bolder;
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-primary);
    --background-activated: var(--ion-color-tertiary);
    --background-focused: var(--ion-color-tertiary);
    --background-hover: var(--ion-color-tertiary);
    --border-color: var(--ion-color-tertiary);
    --border-style: solid;
    --border-width: 1px;
  }

  &.kwakol-btn-outline {
    --background: transparent;
    color: var(--ion-color-secondary);
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --border-color: var(--ion-color-primary);
    --border-style: solid;
    --border-width: 1px;
    font-family: BwModelicaBold;

    &.white {
      color: var(--ion-color-tertiary);
      --border-color: var(--ion-color-tertiary) !important;
      font-family: BwModelicaMedium;
    }
  }
}

.quick-btn-round {
  border: 1px solid var(--ion-color-primary);
  border-radius: 100px;
  padding: 0.65rem;
  width: 45%;
  text-align: center;
  font-family: BwModelicaBold;
  text-transform: uppercase;
  font-size: 0.85rem;
}

//Start progress tracks

.progress-step {
  margin: 2rem -0.5rem 0.5rem -0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .track-circle {
    height: 0.5rem;
    width: 0.5rem;
    border: 1px solid var(--ion-color-primary);
    border-radius: 100%;
  }

  .track-circle.active {
    background-color: var(--ion-color-primary);
  }

  .track-line {
    border-top: 1px solid var(--ion-color-primary);
    border-bottom: 1px solid var(--ion-color-primary);
    height: 0.21rem;
    flex-grow: 1;
    margin: 0 -1px;
  }

  .track-line.active {
    background-color: var(--ion-color-primary);
  }

  .track-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .track-text {
    font-size: 12px;
    margin-top: 5px;
  }
}

.texts-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 4rem;

  .track-text {
    font-size: 0.65rem;
    letter-spacing: 0.01;
    // flex: 1;
    position: absolute;
    left: 2rem;

    &:first-child {
      left: 25%;
      transform: translateX(-25%);
    }

    &:last-child {
      left: 75%;
      transform: translateX(-75%);
    }
  }
}

//End progress tracks

/** 
    Authentication Pages
**/
.auth-form {
  .row-auth {
    ion-col {
      padding: 0;
    }

    .kwakol-input {
      .forgot-password {
        margin-top: 1rem;
        letter-spacing: 0.02em;
        a {
          color: var(--ion-color-secondary) !important;
          text-decoration: none;
          font-size: 0.8rem;
        }
      }
    }

    .cta-text {
      p {
        margin-top: 0.6rem;
        text-decoration: underline;
        color: var(--ion-text-gray-color);
        letter-spacing: 0.02em;
        font-family: BwModelicaLight;
        font-size: 0.8rem;
        text-align: center;
        a {
          color: var(--ion-color-primary);
        }
      }
    }

    .password-input {
      position: relative;
    }
  }
}

.passwordIcon {
  position: absolute;
  right: 1rem;
  font-size: 1.3rem;
  z-index: 1000;
  top: 1rem;
}

.rules {
  width: 80%;
  font-size: 0.75rem;
  letter-spacing: 0.01rem;
  color: rgba(var(--ion-text-gray-color-rgb), 0.85);
  font-family: "BwModelicaLight";

  ul {
    padding-left: 1.5rem;
    margin-top: 0.2rem;
    li {
      div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-icon {
          font-size: 0.9rem;
        }
      }
    }
  }
}

/** 
    Tabs Area Styles
**/

.tab-page-header {
  padding: 2.5rem 0 0.6rem 0;
  background-color: var(--ion-color-primary);
  position: relative;
  // border-radius: 0 0 16px 16px;

  h1 {
    color: #fff;
    font-size: 2rem;
    font-family: BwModelicaBold;
    margin-bottom: 0.3rem;
  }
  hr {
    height: 0.55rem;
    width: 25%;
    background-color: var(--ion-color-secondary);
    margin: 0px auto;
    border-radius: 10px;
  }
}

// Investment & Investment items
.investment-item {
  background-color: #fff;
  border: 1px solid var(--ion-light-green-color);
  border-radius: 7px;
  padding: 0.7rem;
  width: 75%;

  p {
    margin-top: 0.5rem;
    font-size: 0.624rem;
    letter-spacing: 0.03rem;
    font-family: BwModelicaRegular;
  }

  h4 {
    font-family: BwModelicaExtraBold;
    color: var(--ion-color-primary);
    font-size: 0.9rem;

    span:first-child {
      font-family: BwModelicaRegular;
      font-size: 0.62rem;
      letter-spacing: 0.03rem;
    }

    span.balance {
      font-family: BwModelicaBold;
      font-size: 0.72rem;
      letter-spacing: 0.03rem;
    }
  }

  .type-area {
    padding: 0.3rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    gap: 0.5rem;

    div.icon-wrapper {
      background: #fff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      width: 1.6rem;
      height: 1.6rem;
      padding-bottom: 0.2rem;
      padding-left: 0.1rem;
      ion-icon {
        font-size: 1.3rem;
      }
      img {
        width: 1.3rem;
      }
    }

    &.levadura-big {
      background-color: #d8c680;
    }
    &.marigold-big {
      background-color: #af9685;
    }
    &.junzi-big {
      background-color: #295513;
    }

    h4 {
      color: var(--ion-color-secondary);
    }
  }

  .hidden {
    font-size: 1rem;
  }
}

.kwakol-modal-bottom-drawer2 {
  ion-content {
    --color: var(--ion-color-secondary);
    h3 {
      margin-top: 0.5rem;
    }

    h1 {
      font-family: BwModelicaBold;
    }
  }

  .content-wrapper {
    .item {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-family: BwModelicaBold;
        letter-spacing: 0.02rem;
        font-size: 0.85rem;
      }
    }
  }

  &.transfer-user {
    ion-content {
      .input-wrapper {
        margin: 1rem -1rem 0 -1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid rgba(var(--ion-color-primary-rgb), 0.5);
        border-bottom: 1px solid rgba(var(--ion-color-primary-rgb), 0.5);
        padding: 1rem 0.625rem;

        label {
          margin-right: 10px;
        }

        input {
          font-size: 0.9rem;
          background: transparent;
          border: none;
          outline: none;
          width: 100%;

          &::placeholder {
            color: rgba(var(--ion-color-secondary-rgb), 0.3);
          }
        }
      }

      .user-items {
        margin-top: 1rem;
        .item {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          p.text {
            font-family: BwModelicaRegular;
            span {
              font-family: BwModelicaBold;
            }
          }
        }
      }
    }
  }

  &.transfer-investment {
    ion-content {
      .investment-item {

        ion-row{
          width: 100%;
        }

        --animate-duration: 0.7s;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--ion-color-tertiary);
        border: 1px solid rgba(var(--ion-color-primary-rgb), 0.25);
        border-radius: 6px;
        padding: 0.7rem;
        margin-bottom: 0.7rem;

        &:last-child {
          margin-bottom: 0;
        }

        p,
        h3 {
          margin: 0;
          font-size: 0.95rem;
        }

        .investment-name {
          display: flex;
          gap: 0.3rem;
          align-items: center;

          .name {
            p {
              font-size: 0.7rem;
              letter-spacing: 0.04rem;
              color: rgba(var(--ion-color-secondary-rgb), 0.5);
            }
            h3 {
              font-family: BwModelicaRegular;
            }
          }
        }

        h3 {
          font-family: BwModelicaBold;
        }

        &.no-investments {
          padding: 1rem 0.7rem;
          display: flex;
          justify-content: flex-start;
          gap: 0.5rem;
          ion-icon {
            font-size: 1.4rem;
          }

          p {
            color: rgba(var(--ion-color-secondary-rgb), 0.5);
            font-size: 1rem;
            letter-spacing: -0.04rem;
          }
        }

        .did-floating-label-content {
          position: relative;

          div {
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            ion-icon {
              font-size: 1.3rem;
            }

            span {
              font-size: 0.85rem;
              color: rgba(var(--ion-color-secondary-rgb), 0.5);
            }
          }
        }

        .did-floating-input {
          border: 2px solid var(--ion-color-primary);
        }
      }
    }

    ion-col {
      p.wallet-balance {
        background-color: rgba(var(--ion-color-primary-rgb), 0.2);
        color: rgba(var(--ion-color-secondary-rgb), 0.5);
        width: fit-content;
        padding: 0.1rem 0.3rem;
        font-size: 0.6rem !important;
        font-family: BwModelicaLight;
        font-weight: 600;
        margin: 0 auto !important;
        border-radius: 3px;

        span {
          color: var(--ion-color-secondary);
          font-family: BwModelicaMedium;
        }
      }
    }
  }

  &.deposit-modal {
    .p0 {
      margin-top: 0.4rem;
      font-family: BwModelicaLight;
      font-weight: 600;
      font-size: 0.78;
    }

    .content-wrapper {
      padding: 0.9rem;
    }

    .type-currency {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:first-child {
        margin-bottom: 1rem;
      }

      .round-button {
        border: none;
        ion-icon {
          font-size: 1.6rem;
        }
      }

      p {
        font-family: BwModelicaBold;
      }
    }
  }

  &.deposit-naira-modal {
    text-align: center;

    .round-button,
    .daily-rate {
      margin: 0 auto;
      border: none;
    }

    .daily-rate {
      margin-top: 1rem;
    }

    p {
      font-family: BwModelicaLight;
      font-weight: 600;
      font-size: 0.82rem;
    }

    .p0 {
      margin: 0.5rem auto 0 auto;
      width: 85%;
    }

    ion-content {
      --padding-start: 1.8rem;
      --padding-end: 1.8rem;
    }

    .content-wrapper {
      padding: 0.9rem;
      margin-bottom: 1rem;

      p {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        span:first-child {
          color: rgba(var(--ion-color-secondary-rgb), 0.5);
        }

        span:last-child {
          // font-family: BwModelicaMedium;
          display: flex;
          gap: 0.4rem;
          align-items: center;

          ion-icon {
            font-size: 1.2rem;
          }
        }
      }
    }

    .options-wrapper {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      gap: 3rem;

      .option{
        img{
          width: 6rem;
        }
      }
    }

    .code-wrapper {
      width: fit-content;
      padding: 0.5rem 1rem;
      border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
      border-radius: 5px;
      background: #fff;
      margin: 0 auto;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

/** 
    Modals Styles
**/

ion-modal.select-country,
ion-modal.select-dob,
ion-modal.otp-modal {

  --width: 100%;
  --height: 100%;

  &::part(handle) {
    background-color: var(--ion-color-primary);
  }
  --border-radius: 20px;
  --border-width: 0;
  ion-content {
    --background: var(--ion-color-tertiary);
    --padding-top: 1rem;
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
  }

  .round-button {
    margin: 0 auto;
  }

  p{
    font-family: BwModelicaLight;
    font-weight: 600;
  }

  .p1 {
    font-size: 0.7rem;
    letter-spacing: -0.04rem;
    text-align: center;
    margin: 0.5rem 0rem;
    width: 90%;
  }

  h3 {
    text-align: center;
    font-family: BwModelicaMedium;
    font-size: 1.2rem;
  }

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
    margin-bottom: 0.6rem;
    --padding-end: 1rem;
    --border-color: rgba(var(--ion-color-primary-rgb), 0.2);
  }

  .item.sc-ion-label-md-h,
  .item .sc-ion-label-md-h {
    padding-left: 0.5rem;
    font-family: BwModelicaRegular;
    color: var(--ion-color-secondary);
    font-size: 0.82rem;
  }
}

ion-modal.select-dob {
  
  h3,p{
    color: var(--ion-color-secondary);
  }

  p.selected-date{
    text-align: center;
    font-size: .8rem;
    // color: ;
  }

  ion-col {
    text-align: center;
  }

  .btn-row {
    margin-top: 2rem;
  }

  ion-button.kwakol-btn {
    height: 3rem;
    width: 95%;
    margin: 0 auto;
  }
}

//Enter PIN Modal
ion-modal.enter-pin {
  &::part(handle) {
    background-color: var(--ion-color-primary);
  }
  --border-radius: 20px;
  --border-width: 0;
  ion-content {
    --background: var(--ion-color-tertiary);
    --padding-top: 2rem;

    .img-wrapper {
      width: 100%;
      margin-bottom: 0.5rem;
      .round-button,
      .default-img {
        border: none;
        margin: 0 auto;
      }
    }

    .p0,
    .p1 {
      font-size: 0.87rem;
      letter-spacing: 0.01rem;
      text-align: center;
      margin: 0.5rem 0rem;
      font-family: BwModelicaLight;
      color: var(--ion-color-secondary);
      font-weight: 600;
    }

    .p0 {
      margin-top: 0;
      margin-bottom: 2rem;

      span.plan-name {
        font-family: BwModelicaBold;
      }
    }

    .px{
      text-align: center;
      font-family: BwModelicaLight;
      font-weight: 600;
      color: rgba(var(--ion-color-secondary-rgb), 0.5);
      font-size: .81rem;
    }

    h4 {
      text-align: center;
      font-family: BwModelicaMedium;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    
    h6 {
      margin: .5rem auto;
      text-align: center;
      font-family: BwModelicaBold;
      color: rgba(var(--ion-color-secondary-rgb), 0.5);
      font-size: .9rem;
    }

    h3 {
      text-align: center;
      font-family: BwModelicaBold;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .pin-wrapper {
      text-align: center;
      margin-bottom: 3rem;
      ion-input {
        letter-spacing: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        --color: rgba(81, 175, 78, 0.2); //#b3b3b3;
        font-size: 3rem;
        height: 3.4rem;
      }
    }
  }
}

.info-modal {
  z-index: 1000;
  position: absolute;
  bottom: 6rem;
  left: 5%;
  width: 90%;
  --animate-duration: 0.2s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--ion-color-tertiary);
  padding: 0.7rem 1rem;

  &.center-page {
    bottom: 6rem; //Temporary to fix positioning bug on round botton

    // .content {
    //   .loader-wrapper {
    //     &.no-animation {
    //       text-align: center;

    //       ion-icon {
    //         font-size: 5rem;
    //       }
    //     }
    //   }
    // }

    .footer {
      display: block;
      padding: 0.7rem 0;
      .round-button {
        float: right;
      }
    }
  }

  .header,
  .footer {
  }

  .header {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding-bottom: 0.5rem;

    ion-icon {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 0.9rem;
      font-family: BwModelicaBold;
      color: var(--ion-color-secondary);
      line-height: 0.9;
    }
  }

  .footer {
    color: var(--ion-color-secondary);
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
  }

  .content {
    color: var(--ion-color-secondary);
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
    background-color: #fff;
    border-radius: 5px;
    padding: 0.8rem 0.6rem;

    .item {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      margin-bottom: 1.1rem;
      font-family: BwModelicaRegular;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        &:first-child {
          color: rgba(var(--ion-color-secondary-rgb), 0.4);
        }

        &:last-child {
          display: flex;
          gap: 0.4rem;
          ion-icon {
            font-size: 0.9rem;
          }
        }
      }
    }

    .loader-wrapper {
      &.no-animation {
        text-align: center;

        ion-icon {
          font-size: 5.5rem;
        }
      }

      .circle-1,
      .circle-2,
      .circle-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
      }

      .circle-1 {
        height: 4.6rem;
        width: 4.6rem;
        border: 1px solid rgba(var(--ion-color-primary-rgb), 1);

        .logo-loaded {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--ion-color-primary);
          border-radius: 100%;
          height: 2.7rem;
          width: 2.7rem;

          .circle {
            position: relative;
            height: 1.7rem;
            width: 1.7rem;
            border-radius: 100%;
            border: 2px solid #fff;
          }
        }
      }

      .circle-2 {
        height: 5.5rem;
        width: 5.5rem;
        border: 0.5px solid rgba(var(--ion-color-primary-rgb), 0.5);
      }

      .circle-3 {
        margin: 0 auto;
        height: 6.3rem;
        width: 6.3rem;
        border: 0.2px solid rgba(var(--ion-color-primary-rgb), 0.2);
      }

      ion-icon {
        font-size: 2.85rem;
        // --animate-delay: 0.5s;
        --animate-duration: 1s;
      }

      .loading-text {
        font-family: BwModelicaLight;
        font-weight: 600;
        margin: 0.5rem 0 0 0;
        font-size: 0.85rem; //ios change
        line-height: 1.5;
        text-align: center;
        letter-spacing: -0.06rem; //ios change
      }
    }

    .load-complete {
      text-align: center;

      p {
        font-family: BwModelicaRegular;
        font-size: 0.87rem;
        letter-spacing: 0.01rem;
        span {
          font-family: BwModelicaBold;
        }
      }
    }
  }

  .footer {
    .yes-button {
      border: 1px solid var(--ion-color-primary);
      background-color: #fff;
      border-radius: 100px;
      text-transform: uppercase;
      text-align: center;
      padding: 0.5rem 0.6rem;
      width: 44%;
      float: left;
      font-family: BwModelicaBold;
      font-size: 0.85rem;
    }

    .amount-date {
      .amount {
        font-size: 1.3rem;
        font-family: BwModelicaBold;
      }

      .date {
        font-size: 0.7rem;
        color: rgba(var(--ion-color-secondary-rgb), 0.4);
      }
    }

    .round-button {
      height: 2.3rem;
      width: 2.3rem;
      float: right;
    }
  }
}

.transp-modal {
  --background: rgba(255, 255, 255, 0.7);
}

.date-picker-modal {
  // --width: 24rem;
  // --height: 37rem;
  // --border-radius: 8px;

  --background: rgba(44, 39, 45, 0.2);

  &::part(content) {
    backdrop-filter: blur(6px);
  }

  ion-content {
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 2rem;
    --padding-end: 2rem;

    ion-datetime {
      border-radius: 8px;
      padding: 1rem;
      font-size: 0.8rem !important;
    }
  }
}

.kwakol-modal-bottom-drawer {
  --backdrop-opacity: 1;
  --background: var(--ion-color-tertiary);
  --border-color: var(--ion-text-gray2-color);
  --border-width: 1px;
  --box-shadow: 0px -1px 4px rgba(19, 16, 17, 0.1);
  // --height: 24rem;
  // --width: 86%;
  --border-radius: 17px;

  ion-content {
    --background: var(--ion-color-tertiary);
  }

  &::part(handle) {
    background-color: var(--ion-light-green-color);
    width: 10%;
    margin-top: 1rem;
  }
}

.kwakol-modal-bottom-drawer2 {

  --width: 100%;
  --height: 100%;

  --backdrop-opacity: 1;

  &::part(handle) {
    background-color: var(--ion-color-primary);
  }

  &::part(backdrop) {
    background-color: rgba(var(--ion-color-secondary-rgb), 1);
  }

  --border-radius: 20px;
  --border-width: 0;

  ion-content {
    --background: var(--ion-color-tertiary);
    --padding-top: 2rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --color: var(--ion-color-secondary);

    // .round-button {
    //   margin: 0 auto;
    // }

    .content-wrapper {
      margin-top: 1rem;
      background-color: #fff;
      border: 1px solid rgba(var(--ion-color-primary-rgb), 0.25);
      border-radius: 5px;
      padding: 0.6rem;
    }

    .p1 {
      font-size: 0.7rem;
      letter-spacing: 0.01rem;
      text-align: center;
      margin: 0.5rem 0rem;
    }

    h3 {
      font-family: BwModelicaMedium;
      font-size: 1.22rem;
    }

    .pin-wrapper {
      text-align: center;
      ion-input {
        letter-spacing: 0.5rem;
        position: absolute;
        --color: rgba(81, 175, 78, 0.2); //#b3b3b3;
        font-size: 3rem;
        height: 3.4rem;
      }
    }

    // ion-grid.grid-keypad {
    //   --ion-grid-padding-left: 3rem;
    //   --ion-grid-padding-right: 3rem;
    //   --ion-grid-padding-bottom: 1rem;
    //   margin-top: 2.5rem;
    //   position: relative;

    //   ion-row {
    //     margin-bottom: 0.5rem;
    //     ion-col {
    //       ion-button {
    //         --color: var(--ion-color-secondary);
    //         --background: rgba(81, 175, 78, 0.2);
    //         --border-radius: 100%;
    //         width: 4rem;
    //         height: 4rem;
    //         font-size: 1.5rem;
    //         font-family: BwModelicaMedium;
    //       }
    //     }
    //   }
    // }

    ion-row.btn-row {
      margin-top: 1rem;
      ion-button {
        height: 3rem;
      }
    }

    .footer-text {
      text-align: center;
      margin-top: 1.5rem;
      font-size: 0.75rem;
      color: var(--ion-color-secondary);
      letter-spacing: 0.02rem;
    }
  }
}

/* Shared styles Pages */
/* Deposit, Account, Withdrawal */
// .currency {
//   background-color: var(--ion-light-green-color);
//   position: relative;
//   margin-bottom: 1rem;
//   width: 27%;
//   text-align: center;
//   padding: 0.8rem 1rem 0.8rem 0;
//   font-family: BwModelicaMedium;
//   font-size: 0.9rem;
//   border-radius: 5px;

//   ion-icon {
//     position: absolute;
//     top: 0.85rem;

//     &.dollar {
//       top: 0.9rem;
//       font-size: 0.85rem;
//       left: 0.8rem;
//     }
//     &.arrow-down {
//       right: 0.5rem;
//       font-size: 1rem;
//     }
//   }
// }

.upload {
  border: 2px dashed var(--ion-light-green2-color);
  padding: 0.7rem 0.6rem 0.7rem 5rem;
  position: relative;
  margin-bottom: 2rem;

  ion-icon {
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
    font-size: 2.5rem;
  }

  p:nth-of-type(1) {
    color: var(--ion-color-primary);
    margin-bottom: 0.3rem;
  }
  p:nth-of-type(2) {
    font-size: 0.65rem;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

// History Lists
.history-list {
  margin-top: 0.5rem;
  .history {
    span {
      float: right;
    }
    position: relative;
    padding: 0.6rem 0 0.6rem 3rem;
    border-bottom: 1px solid rgba(var(--ion-light-green-color-rgb), 0.4);

    ion-icon {
      position: absolute;
      left: 0;
      top: 0.5rem;
      font-size: 2.5rem;
    }

    h4 {
      margin-bottom: 0.2rem;
      font-size: 1rem;
      span {
        color: var(--ion-color-primary);
        font-family: BwModelicaMedium;
        font-size: 1rem;

        &.withdrawal,
        &.deposit,
        &.bonus {
          position: absolute;
          right: 0;
          top: 1.3rem;
        }

        &.withdrawal {
          color: rgba(var(--ion-text-gray-color-rgb), 0.9);
        }

        &.deposit,
        &.bonus {
          color: var(--ion-color-primary);
        }
      }
    }
    p {
      font-size: 0.8rem;
      color: var(
        --ion-text-gray2-color
      ); //rgba(var(--ion-text-gray-color-rgb), .8);
      font-family: BwModelicaHairline;
    }
  }
}

/* smaller devices */
@media only screen and (max-width: 375px) {
  .name-heading {
    margin: 0;
    p {
      margin: 0.1rem auto 0.5rem auto;
    }
  }
}

//Alert Styles
.kwakol-alert .alert-wrapper {
  background-color: var(--ion-light-green-color);
  padding-bottom: 0.6rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.3rem;

  &.sc-ion-alert-md,
  &.sc-ion-alert-ios {
    box-shadow: 0px 3px 4px 0px rgba(33, 31, 66, 0.1);
  }

  .alert-head h2 {
    font-family: BwModelicaBold;
    color: var(--ion-color-secondary);
    text-align: center;
    font-size: 1.15rem;
  }

  .alert-message {
    font-family: BwModelicaLight;
    color: var(--ion-color-secondary);
    text-align: center;
    font-size: 0.84rem;
    font-weight: bold;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .alert-button-group {
    .alert-button {
      border-radius: 100px;
      font-family: BwModelicaMedium;
      padding: 0.7rem 1.5rem;
      min-width: 6.76rem;

      .alert-button-inner.sc-ion-alert-md,
      .alert-button-inner.sc-ion-alert-ios {
        justify-content: center;
      }
    }
  }
}

.yes-button {
  color: var(--ion-color-secondary) !important;
  background-color: #fff !important;
  // margin-right: 1rem !important;
}

.no-button {
  color: #fff !important;
  background-color: var(--ion-color-primary) !important;
  margin-right: 1rem !important;
}

//Toast Styles
ion-toast {
  --color: #fbfbfb;
  font-family: BwModelicaLight;
  font-size: 0.8rem;
  --width: 100%;
  --border-radius: 0px;
  top: -45%;

  &::part(container) {
    padding-top: 1.5rem;
    .toast-content {
      padding: 1rem 0.3rem 0.3rem 0.3rem !important;
    }
  }

  &::part(message) {
    text-align: center;
    padding: 0 0.7rem;
    font-size: 0.85rem;
    letter-spacing: 0.02rem;
    font-family: BwModelicaLight;
    font-weight: 100;
  }
}

//Custom file upload style
.form__upload {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1000000;
}

.form__upload + .upload {
  text-decoration: none;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.file-name {
  margin-top: 0.2rem;
  text-align: right;
  font-size: 0.7rem;
  color: var(ion-text-gray2-color);
}

//For normalizing the disabled input on Home page
.native-input[disabled].sc-ion-input-md,
.native-input[disabled].sc-ion-input-ios {
  opacity: 1;
}

ion-refresher.refresher-native.refresher-refreshing
  ion-refresher-content
  .refresher-refreshing {
  margin-top: 2rem;
}

//Transactions and Transaction Lists
.transactions-list {
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
  border-radius: 10px;
  background-color: #fff;
  padding: 0.3rem 0rem;

  &.no-border {
    border: none;
    background-color: transparent;

    .transaction {
      padding: 0.8rem 0;
    }
  }

  .transaction {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.7rem 0rem;
    border-bottom: 0.005rem solid rgba(var(--ion-color-primary-rgb), 0.09);

    .trans-type-wrapper {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      ion-icon {
        font-size: 2rem;
      }

      .trans-type {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        h3 {
          font-size: 0.87rem;
          letter-spacing: -0.02rem;
          font-family: BwModelicaRegular;
          // font-weight: 600;
          // font-weight: bold;
          color: var(--ion-color-secondary);
        }
      }
    }

    .amount-date {
      .amount {
        text-align: right;
        font-family: BwModelicaBold;
        font-weight: 600;
      }
    }

    p.trans-type-p,
    .trans-date {
      font-size: 0.61rem;  //ios change
      font-family: BwModelicaLight;
      font-weight: 600;
      letter-spacing: -0.05rem; //ios change
      color: rgba(var(--ion-color-secondary-rgb), 0.3);
    }

    .trans-date {
      text-align: right;
      margin-top: 0.1rem;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.no-transactions {
  padding: 3rem 0;
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  &.less-padding {
    padding: 1.8rem 0;
  }

  &.more-padding {
    padding: 6rem 0;
  }

  &.mid-padding {
    padding: 3.5rem 0;
  }

  &.no-border {
    border: none;
    background-color: transparent;
  }

  p {
    width: 70%;
    text-align: center;
    letter-spacing: -0.02rem;
    font-size: 0.87rem;
    font-family: "BwModelicaRegular";
  }
}

.finish-kyc {
  padding: 0.5rem;
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;

  .progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(
        var(--ion-color-primary) 75%,
        rgba(var(--ion-color-secondary-rgb), 0.2) 0
      );
    font-family: BwModelicaBold;
    font-size: 0.6rem;
  }

  .text {
    p:first-child {
      color: rgba(var(--ion-color-secondary-rgb), 0.5);
    }

    p:last-child {
      font-family: BwModelicaRegular;
      font-size: 0.65rem;
      letter-spacing: 0.01rem;
    }
  }
}

.blur-text {
  text-shadow: 0 0 1rem #fff !important;
  color: transparent !important;
  transition: text-shadow ease 0.3s !important;

  &.green {
    text-shadow: 0 0 1rem var(--ion-color-primary) !important;
  }
}

.show-text {
  text-shadow: none;
  transition: text-shadow ease 0.3s;
  color: var(--ion-color-tertiary);

  &.regular {
    color: var(--ion-color-primary);
  }
}

.hide-text {
  opacity: 0;
  transition: opacity ease 0.3s;
}

.reveal-text {
  opacity: 1;
  transition: opacity ease 0.3s;
}

// MISCSS

div.backdrop {
  --animate-duration: 0.2s;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--ion-color-secondary-rgb), 0.7);
}

.default-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--ion-color-secondary);
  color: rgba(var(--ion-color-tertiary-rgb), 0.8);
  width: 2.7rem;
  height: 2.7rem;
  font-family: BwModelicaLight;
  font-size: 1.2rem;
}

ion-modal.otp-modal {

  ion-content {
    --padding-start: 1.5rem;
    --padding-end: 1.5rem;
  }

  .round-button {
    margin-top: 2rem;
  }

  .btn-col{
    .kwakol-btn{
        width: 90%;
        margin: 0 auto;
    }
  }

  .otp-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .otp-input {
    height: 3rem;
    width: 3rem;
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.4);
    background-color: var(--ion-color-tertiary);
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    outline: none;
    /*Hide number field arrows*/
    -moz-appearance: textfield;
  }

  .p2 {
    text-align: center;
    font-size: 0.65rem;
    letter-spacing: -0.04rem;
    margin: 2rem auto;
  }
}

.set-pin {
  &::part(handle) {
    background-color: var(--ion-color-primary);
  }

  --border-radius: 20px;
  --border-width: 0;

  color: var(--ion-color-secondary);

  .header {
    margin-top: 2rem;
    text-align: center;

    ion-icon {
        font-size: 2.5rem;
    }

    h3 {
        font-family: BwModelicaMedium;
    }
  }

  .pin-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 1rem 0;
    padding: 0 2.5rem;
  }

  .pin-input {
    height: 3.4rem;
    width: 3.4rem;
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.4);
    background-color: var(--ion-color-tertiary);
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3rem;
    outline: none;
    /*Hide number field arrows*/
    -moz-appearance: textfield;

    &.add-padding{
      padding-top: .8rem;
    }
  }

  .btn-row {
    padding: 0 1.3rem;
    margin-top: 1rem;
  }
}

.mat-calendar-table-header th{
  font-size: .6875rem;
}

.mat-calendar-body{
  font-size: .8125rem;
}

.mat-calendar-period-button,
.mat-calendar-body-label{
  font-size: .875rem;
}

.mat-icon-button{
  // width: 1.5rem !important;
  // height: 1.5rem !important;
}