// Common global styles for whole app

ion-content{
    --background: var(--ion-color-tertiary);
  }
  
  ion-content.page-content{
      --padding-start: 1.8rem;
      --padding-end: 1.8rem;
      --color: var(--ion-color-secondary);

      &.tab-page-white{
        --background: #FFF;
      }
  }
  
  ion-toast{
    --color: #FFF;
    // margin-top: 1.5rem;
    --width: 100%;
    --start: 0;
  }
  
  /** Typography Sylings **/
  h1{
    font-size: 1.7rem;
  }
  
  h2{
    font-size: 1.5rem;
  }
  
  h3{
    font-size: 1.15rem;
  }
  
  h4{
    font-size: 1.1rem;
  }
  
  h5{
    font-size: .9rem;
  }
  
  p{
    font-size: .875rem;
    font-family: BwModelicaLight;
    // font-weight: 400;
    letter-spacing: -0.01em;
  }
  
  .validator-text{
    // font-family: PoppinsBold;
    float: right;
    font-size: .8rem;
    background: var(--ion-color-danger);
    padding: .1rem .3rem;
    color: #FFF;
    border-radius: 100px;
  }
  
  /*
      Back button for subpages
  */
  .back-button{
      ion-icon{
          font-size: 1.3rem;
          position: absolute;
          top: 5rem;
          left: 1.2rem;
          z-index: 100;
          display: inline-block;
          &.wrapper{
            background-color: #FFF;
            padding: 1rem;
            border-radius: 8px;
          }
      }
  }
  
  /* Headings for subpages */
    h2.subpage-heading{
      margin: 5rem 0 2rem 0;
      text-align: right;
      // padding-right: 1.3rem;
      font-family: BwModelicaBold;
    }

    h1.subheader{
      font-family: BwModelicaRegular;
      margin-bottom: 1.5rem;
      width: 90%;
    }
  

//Grid style
ion-grid{
    --ion-grid-padding: 1.7rem;
    ion-col{ margin: 0px; }

    //For Auth pages
    &.auth-body{
        .row-logo{
            margin-top: 1.5rem;
            margin-bottom: 12rem;
            transition: margin-bottom ease-out .3s;

            ion-col.logo-area{
                margin-left: -1.8rem; //Accounts for the overall grid padding of 1.8rem
                img{
                  max-width: 70%;
                  transition: max-width ease-out .3s;

                  &.shrink{
                      max-width: 50%;
                  }
                }
            }

            &.slide-up{
                margin-bottom: 0px;
            }
          }
          
          h1{
            font-size: 2.5rem;
          }

          .bartum-input{
            margin-bottom: .8rem;
          }
    }

}

.auth-banner.small{
  padding: 6rem 1.35rem 2rem 1.35rem;
  margin: 0 -1.8rem;
  background: linear-gradient(103.58deg, #211F42 21.06%, #51AF4E 102.24%);

  h3{
      color: var(--ion-color-tertiary);
      font-family: BwModelicaBold;
      font-size: 1.25rem;
  }
}



/** 
    Kwakol Inputs
**/

ion-col{
  margin: 0.1rem auto;
  padding: 0;
}.kwakol-input{

    ion-icon{
        color: var(--ion-color-secondary);
        
        &.symbol{
            color: rgb(130, 130, 130);
            font-size: .8rem;
        }
    }
    
    ion-item{
        --background: #FFF;
        --border-width: .05rem;
        --border-radius: 7px;
        --border-color: rgba(var(--ion-color-primary-rgb), .45);
        --highlight-height: 0px;
        --highlight-color-focused: transparent;
        --highlight-color-invalid: transparent;
        --highlight-color-valid: transparent;
        --inner-border-width: 0px;
        --inner-padding-bottom: .5rem;
        --inner-padding-top: .5rem;
        margin-bottom: .6rem;


        &::part(native){
          border-bottom-color: rgba(var(--ion-color-primary-rgb), .5);
        }

        ion-label{
            opacity: 0.8;
        }

        &.select-box{
            --background: #fff;
        }
    
    }

    ion-input {
        --color: var(--ion-color-secondary);
        // font-size: initial;
        --ion-font-family: BwModelicaRegular;
        --placeholder-color: var(--ion-color-secondary);
        --placeholder-opacity: 1;
        --highlight-color-focused: transparent;
        --highlight-color-invalid: transparent;
        --highlight-color-valid: transparent;

        .has-focus.sc-ion-input-md{
          // pointer-events: 
        }

        .native-input.sc-ion-input-md,
        .native-input.sc-ion-input-ios{
            font-size: .9rem;
            caret-color: var(--ion-color-secondary);
        }
    }
}

//Kwakol Buttons
ion-button.kwakol-btn{
    --ion-font-family: BwModelicaMedium;
    --color: var(--ion-color-tertiary);
    --border-radius: 5px;
    margin: 0px;
    width: 100%;
    height: 3.3rem;
    --box-shadow: 5px 5px 15px 0px rgba(30, 51, 0, .1);

    &.round{
      --border-radius: 100px
    }

    &.kwakol-btn-inverse{
        // font-weight: bolder;
        --background: var(--ion-color-tertiary);
        --color: var(--ion-color-primary);
        --background-activated: var(--ion-color-tertiary);
        --background-focused: var(--ion-color-tertiary);
        --background-hover: var(--ion-color-tertiary);
        --border-color: var(--ion-color-tertiary);
        --border-style: solid;
        --border-width: 1px;
    }

    &.kwakol-btn-outline{
        --background: transparent;
        color: var(--ion-color-primary);
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --border-color: var(--ion-color-secondary);
        --border-style: solid;
        --border-width: 1px;

        &.white{
            color: #FFF;
            --border-color: #FFF !important;
        }
    }
}

/** 
    Authentication Pages
**/
.auth-form{
    .row-auth{

      ion-col{
        padding: 0;
      }

      .kwakol-input{
        .forgot-password{
          margin-top: 1rem;
          letter-spacing: .02em;
          a{
            color: var(--ion-color-secondary) !important;
            text-decoration: none;
            font-size: .8rem;
          }
        }
      }

      .cta-text{
        p{
          margin-top: .6rem;
          text-decoration: underline;
          color: var(--ion-text-gray-color);
          letter-spacing: .02em;
          font-family: BwModelicaLight;
          font-size: .8rem;
          text-align: center;
          a{
            color: var(--ion-color-primary);
          }
        }
      }
        
      .password-input{
        position: relative;
      }
      
      .passwordIcon{
        position: absolute;
        right: 1rem;
        font-size: 1.3rem;
        z-index: 1000;
      }
    }
}


/** 
    Tabs Area Styles
**/

.tab-page-header{
    padding: 2.5rem 0 .6rem 0;
    background-color: var(--ion-color-primary);
    position: relative;
    // border-radius: 0 0 16px 16px;
    
    h1{
      color: #FFF;
      font-size: 2rem;
      font-family: BwModelicaBold;
      margin-bottom: .3rem;
    }
    hr{
      height: .55rem;
      width: 25%;
      background-color: var(--ion-color-secondary);
      margin: 0px auto;
      border-radius: 10px;
    }
}



/** 
    Modals Styles
**/

.date-picker-modal{
  // --width: 24rem;
  // --height: 37rem;
  // --border-radius: 8px;

  --background: rgba(44, 39, 45, 0.2);

  &::part(content){
    backdrop-filter: blur(6px);
  }

  ion-content{
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 2rem;
    --padding-end: 2rem;

    ion-datetime{
      border-radius: 8px;
      padding: 1rem;
      font-size: .8rem !important;
    }
  }
}

.kwakol-modal-bottom-drawer{
  --backdrop-opacity: 1;
  --background: var(--ion-color-tertiary);
  --border-color: var(--ion-text-gray2-color);
  --border-width: 1px;
  --box-shadow: 0px -1px 4px rgba(19, 16, 17, 0.1);
  // --height: 24rem;
  // --width: 86%;
  --border-radius: 17px;

  ion-content{
    --background: var(--ion-color-tertiary);
  }

  &::part(handle){
    background-color: var(--ion-light-green-color);
    width: 10%;
    margin-top: 1rem;
  }
}


/* Shared styles Pages */
/* Deposit, Account, Withdrawal */
.currency{
  background-color: var(--ion-light-green-color);
  position: relative;
  margin-bottom: 1rem;
  width: 27%;
  text-align: center;
  padding: .8rem 1rem .8rem 0;
  font-family: BwModelicaMedium;
  font-size: .9rem;
  border-radius: 5px;

  ion-icon{
      position: absolute;
      top: 0.85rem;

      &.dollar{
          top: .9rem;
          font-size: .85rem;
          left: .8rem;
      }
      &.arrow-down{
          right: 0.5rem;
          font-size: 1rem;
      }
  }
}

.selected-bank{
  border: 1px solid var(--ion-light-green-color);
  box-shadow: 0px 3px 4px rgba(33, 31, 66, 0.1);
  padding: .625rem;
  border-radius: 10px;
  margin-bottom: 1rem;

  p{
      color: var(--ion-text-gray-color);
      letter-spacing: .02em;
      font-family: BwModelicaLight;
      margin: .3rem 0;
      span{ float: right; color: var(--ion-color-primary);}

      &:last-child{
          span{ color: var(--ion-color-secondary);}
      }
  }
}

.upload{
  border: 2px dashed var(--ion-light-green2-color);
  padding: .7rem .6rem .7rem 5rem;
  position: relative;
  margin-bottom: 7rem;

  ion-icon{
      position: absolute;
      left: 1.2rem;
      font-size: 2.5rem;
  }
  
  p:nth-of-type(1){
      color: var(--ion-color-primary);
      margin-bottom: .3rem;
  }
  p:nth-of-type(2){
      font-size: .65rem;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}


.history-list{
  margin-top: .5rem;
  .history{
      span{ float: right;}
      position: relative;
      padding: .6rem 0 .6rem 3rem;
      border-bottom: 1px solid rgba(var(--ion-light-green-color-rgb), .6);

      ion-icon{
          position: absolute;
          left: 0;
          top: .5rem;
          font-size: 2.5rem;
      }

      h4{
          margin-bottom: .2rem;
          span{
              color: var(--ion-color-primary);
              font-family: BwModelicaMedium;
              font-size: 1rem;

              &.with, &.dep{
                  position: absolute;
                  right: 0;
                  top: 1.2rem;
              }

              &.with{
                  color: rgba(var(--ion-text-gray-color-rgb), .9);
              }

              &.dep{
                  color: var(--ion-color-primary);
              }
          }
      }
      p{
          font-size: .8rem;
          color: var(--ion-text-gray2-color);//rgba(var(--ion-text-gray-color-rgb), .8);
          font-family: BwModelicaHairline;
      }
  }
}


  /* smaller devices */
@media only screen and (max-width: 375px) {
    .name-heading{
        margin: 0;
        p{ margin: .1rem auto .5rem auto; }
    }
}


//Alert Styles
.kwakol-alert .alert-wrapper{
  background-color: var(--ion-light-green-color);
  padding-bottom: .6rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.3rem;

  .alert-head h2{
    font-family: BwModelicaBold;
    color: var(--ion-color-secondary);
    text-align: center;
    font-size: 1.15rem;
  }

  .alert-message{
    font-family: BwModelicaLight;
    color: var(--ion-color-secondary);
    text-align: center;
    font-size: .84rem;
    font-weight: bold;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .alert-button-group{
    .alert-button{
      border-radius: 100px;
      font-family: BwModelicaMedium;
      padding: 0.7rem 1.5rem;
      min-width: 6.76rem;

      .alert-button-inner.sc-ion-alert-md,
      .alert-button-inner.sc-ion-alert-ios{
        justify-content:center;
      }
    }
  }
}

.yes-button{
    color: var(--ion-color-secondary) !important;
    background-color: #FFF !important;
    // margin-right: 1rem !important;
}

.no-button{
  color: #FFF !important;
  background-color: var(--ion-color-primary) !important;
  margin-right: 1rem !important;
}

//Toast Styles
ion-toast{
  --color: #FBFBFB;
  font-family: BwModelicaLight;
  font-size: .8rem;
  width: 90%;
  --border-radius: 100px;
  transform: translateX(-50%);
  left: 50%;
  top: -40%;

  &::part(container){
      .toast-content{
        padding: .3rem !important;
      }
  }

  &::part(message){
    padding-left: 1rem;
}
}

//For normalizing the disabled input on Home page
.native-input[disabled].sc-ion-input-md,
.native-input[disabled].sc-ion-input-ios{
    opacity: 1;
}

ion-refresher.refresher-native.refresher-refreshing ion-refresher-content .refresher-refreshing{
    margin-top: 2rem;
}