//Custom Loading Controller Style
.oneclick-loader{
  .loading-spinner{
    display: none;
  }
  
  .sc-ion-loading-md-h{
    --background: transparent;
  }
  
.loading-wrapper.sc-ion-loading-ios{
    backdrop-filter: none !important;
    background-color: transparent !important;
  }
  
  .loading-wrapper.sc-ion-loading-md,
  .loading-wrapper.sc-ion-loading-ios{
      background: transparent;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    .loading-content {
      margin-left: 0px;
    }
  }
}


// .loading-spinner.sc-ion-loading-ios + .loading-content.sc-ion-loading-ios{
//   color: var(--ion-color-primary);
// }


.spinner {
  width: 4.4rem;
  height: 4.4rem;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  border: .25rem solid #FFF;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce1{
  background-color: var(--ion-color-primary);
}

.double-bounce2 {
  background-color: var(--ion-color-secondary);
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}