h3,p{
    margin: 0;
}

.investments{
    margin-top: 1.8rem;
    .investment{
        border: 1px solid var(--ion-light-green-color);
        border-radius: 5px;
        font-size: .875rem;
        background-color: var(--ion-color-tertiary);
        padding: 1.9rem 1rem 1.9rem 4rem;
        margin-bottom: 1rem;
        position: relative;

        ion-icon{
            position: absolute;
            left: 0;
            top: 0;
            font-size: 4.2rem;
        }

        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 4.2rem;
        }

        span{
            float: right;
            font-family: BwModelicaBold;
            color: var(--ion-color-primary);
        }
    }
}

ion-button{
    position: fixed;
    bottom: 1rem;
    right: 1.6rem;
    width: 45%;
    height: 2.5rem;
    font-size: .8rem;
    ion-icon{
        font-size: .9rem !important;
    }
}

.tt-skeletons{
    ion-label{
        ion-skeleton-text.left{
            float: left;
        }
        ion-skeleton-text.mid{
            margin-left: 1rem;
        }
        ion-skeleton-text.right{
            float: right;
        }
    }
    ion-item{
        margin-bottom: .6rem;
        border-radius: 5px;
        --inner-border-width: 0px;
        --border-width: 1px;
        --border-color: var(--ion-light-green-color);
        --padding-top: .7rem;
        --padding-bottom: .7rem;
    }
}
