<!-- <ion-content> -->

<ion-tabs (ionTabsWillChange)="onTabChange()" #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon
        [ngClass]="{'active' : tabList.home}"
        src="assets/icon/tabs/home-active.svg"
      ></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="portfolio">
      <ion-icon
        [ngClass]="{'active' : tabList.portfolio}"
        src="assets/icon/tabs/portfolio-active.svg"
      ></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="history">
      <ion-icon
        [ngClass]="{'active' : tabList.history}"
        src="assets/icon/tabs/history-active.svg"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon
        [ngClass]="{'active' : tabList.explore}"
        src="assets/icon/tabs/explore-active.svg"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon
        [ngClass]="{'active' : tabList.profile}"
        src="assets/icon/tabs/profile-active.svg"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <div
    class="backdrop animate__animated animate__fadeIn"
    #backdrop
    *ngIf="backdropActive"
    (click)="closeModal()"
  ></div>

  <!-- Info Modal Begin -->
  <div
    #InfoModalDiv
    class="info-modal reset animate__animated animate__slideInUp"
    *ngIf="showInfoModal"
  >
    <div class="header">
      <ion-icon [src]="'assets/icon/v2-icons/'+ infoModalData.icon"></ion-icon>
      <h4>{{infoModalData.title}}</h4>
    </div>

    <div class="content">
      <p class="item" *ngFor="let item of infoModalData.content">
        <span>{{item.item}}</span>
        <span
          >{{item.value}}
          <ion-icon
            *ngIf="item.item === 'Reference' || item.item === 'Opening Balance'"
            (click)="util.clipboardCopy(item.item)"
            src="assets/icon/copy.svg"
          ></ion-icon
        ></span>
      </p>
    </div>

    <div class="footer">
      <div class="amount-date">
        <div class="amount">
          {{util.getAmountSign(infoModalDataType.toLowerCase())}}${{util.numberWithCommas(infoModalData.amount)}}
        </div>
        <div class="date">{{infoModalData.date}}</div>
      </div>
      <div class="round-button" (click)="closeModal()">
        <ion-icon src="assets/icon/close.svg"></ion-icon>
      </div>
    </div>
  </div>
  <!-- Info Modal End -->

  <!-- Loading Modal Begin -->
  <div
    #LoadingModalDiv
    class="info-modal reset animate__animated animate__slideInUp"
    [ngClass]="{'center-page': loadingModalType !== 'confirm'}"
    *ngIf="showLoadingModal"
  >
    <div class="content">
      <div class="loader-wrapper no-animation">
        <ion-icon *ngIf="loadingModalType !== 'confirm' && loadingModalType !== 'pin' && loadingModalType !== 'logout'" src="assets/imgs/v2-imgs/hour-glass.svg" alt=""></ion-icon>
        <ion-icon
          *ngIf="loadingModalType === 'confirm' || loadingModalType === 'logout'"
          src="assets/imgs/v2-imgs/red-flag.svg"
          alt=""
        ></ion-icon>
        
        <ion-icon
          *ngIf="loadingModalType === 'pin'"
          src="assets/imgs/v2-imgs/padlock.svg"
          alt=""
        ></ion-icon>

        <p class="loading-text" *ngIf="loadingModalType === 'inactive'">
          Your investment request for <span class="bolder">{{loadingModalData.plan}}</span> is being reviewed. You will get a notification
          once it is approved.
        </p>
        <p class="loading-text" *ngIf="loadingModalType === 'deposit'">
          Your deposit request is being reviewed. You will get a notification
          once it is approved.
        </p>
        <p class="loading-text" *ngIf="loadingModalType === 'withdraw'">
          Your cash withdrawal is being processed. You will get a notification
          once it is ready for pickup.
        </p>
        <p class="loading-text" *ngIf="loadingModalType === 'confirm'">
          Withdrawing from an active investment <br />
          might affect your profit. <br />
          Do you still want to proceed?
        </p>
        <p class="loading-text" *ngIf="loadingModalType === 'logout'">
          This will log you out of your app <br />
          You will need to login to continue use. <br />
          Do you still want to proceed?
        </p>
        <p class="loading-text" *ngIf="loadingModalType === 'pin'">
          You've successfully changed your PIN.
        </p>
      </div>
      <!-- <div class="load-complete" *ngIf="!isSending">
    <img
      src="assets/imgs/v2-imgs/img-cash.svg"
      class="animate__animated animate__slideInLeft"
      alt=""
    />
    <p>
      You successfully transferred <br />
      <span>${{sendAmount}}</span> to
      <span>
      {{transferUser?.email}}  <br />
      {{transferUser?.email}} </span>
    </p>
  </div> -->
    </div>

    <div class="footer">
      <div
        class="yes-button"
        *ngIf="loadingModalType === 'confirm'"
        (click)="continueHomeTask('withdraw')"
      >
        Yes, I'm Sure
      </div>
      <div
        class="yes-button"
        *ngIf="loadingModalType === 'logout'"
        (click)="logoutUser()"
      >
        Yes, I'm Sure
      </div>
      <div class="round-button" (click)="closeModal()">
        <ion-icon src="assets/icon/close.svg"></ion-icon>
      </div>
    </div>
  </div>
  <!-- Loading Modal End -->
</ion-tabs>

<!-- </ion-content> -->
