ion-tab-bar{
    --background: var(--ion-color-tertiary);
    --border: 1px solid var(--ion-color-tertiary);
    height: 4.3rem;
  }
  
  ion-tab-button{
    ion-icon{
      font-size: 3.8rem;
      opacity: .5;

      &.active{
        opacity: 1;
      }
    }



}  
