ion-tabs{
  // div.backdrop {
  //   --animate-duration: 0.2s;
  //   z-index: 100;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(var(--ion-color-secondary-rgb), 0.7);
  // }
}

ion-tab-bar{
    --background: var(--ion-color-tertiary);
    --border: 1px solid var(--ion-color-tertiary);
    height: 4.3rem;
  }
  
  ion-tab-button{
    ion-icon{
      font-size: 3.8rem;
      opacity: .5;

      &.active{
        opacity: 1;
      }
    }
}  

.loading-text{
  .bolder{
    font-family: BwModelicaBold;
  }
}
