<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left">KYC Verification</h2>

  <div class="progress-step">
    <div class="track-circle active"></div>
    <div class="track-line active"></div>
    <div class="track-circle active"></div>
    <div class="track-line" [ngClass]="{'active' : kycVerified === 'yes'}"></div>
    <div class="track-circle" [ngClass]="{'active' : kycVerified === 'yes'}"></div>
    <div class="track-line"></div>
    <div class="track-circle"></div>
  </div>

  <div class="texts-wrapper">
    <div class="track-text">Personal Details</div>
    <div class="track-text">KYC Verification</div>
  </div>

  <div class="img-wrapper">
    <img src="assets/imgs/kyc-img.svg">
  </div>

  <ion-row class="action-row">
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button class="kwakol-btn ion-text-uppercase" type="submit" (click)="callMetaMap()" [disabled]="kycVerified === 'yes' || kycVerified === 'no' || kycVerified === 'pending'">
        <span *ngIf="kycVerified === 'yes' || kycVerified === 'no' || kycVerified === 'pending'">KYC In Progress</span>
        <span *ngIf="!kycVerified || kycVerified === 'redo'">Continue</span>
      </ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center btn-col" *ngIf="!tempUser.has_pin">
      <ion-button class="kwakol-btn kwakol-btn-outline ion-text-uppercase" type="submit" (click)="openSetPinModal()">
        <span *ngIf="!kycVerified || kycVerified === 'redo'">Skip to Set Pin</span>
        <span *ngIf="kycVerified === 'yes' || kycVerified === 'no' || kycVerified === 'pending'">Set Pin</span>
      </ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center btn-col" *ngIf="tempUser.has_pin && !tempUser.username">
      <ion-button class="kwakol-btn kwakol-btn-outline ion-text-uppercase" type="submit" (click)="openEnterUsernameModal()">Set a username</ion-button>
    </ion-col>
  </ion-row>

  <!-- Set pin modal -->
  <ion-modal
    #setPinModal
    [initialBreakpoint]="0.85"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 0.85]"
    class="set-pin"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="handle-wrapper">
          <span class="handle"></span>
        </div> -->

        <div class="header">
          <ion-icon src="assets/icon/set-pin.svg"></ion-icon>
          <h3 *ngIf="!showConfirm">{{ 'Create your pin' }}</h3>
          <h3 *ngIf="showConfirm" class="animate__animated animate__zoomIn animate__faster">{{ 'Confirm your pin' }}</h3>
        </div>

        <div class="pin-wrapper">
          <input type="tel" maxlength="1" class="pin-input" [(ngModel)] ="inputs[0]" [ngClass]="{'add-padding': inputs[0] === '*'}"/>
          <input type="tel" maxlength="1" class="pin-input" [(ngModel)] ="inputs[1]" [ngClass]="{'add-padding': inputs[1] === '*'}"/>
          <input type="tel" maxlength="1" class="pin-input" [(ngModel)] ="inputs[2]" [ngClass]="{'add-padding': inputs[2] === '*'}"/>
          <input type="tel" maxlength="1" class="pin-input" [(ngModel)] ="inputs[3]" [ngClass]="{'add-padding': inputs[3] === '*'}"/>
        </div>
        
        <app-keypad *ngIf="!showConfirm" (keypadEmitter)="onKeypadChanged($event)" #appKeypad></app-keypad>
        <app-keypad *ngIf="showConfirm" (keypadEmitter)="onKeypadChanged($event)" #appKeypad></app-keypad>

        <ion-row class="btn-row">
          <ion-col size="12" class="ion-text-center btn-col">
            <ion-button *ngIf="!showConfirm" class="kwakol-btn ion-text-uppercase" type="submit" (click)="handlePinSubmit('continue')">{{'Continue'}}</ion-button>
            <ion-button *ngIf="showConfirm" class="kwakol-btn ion-text-uppercase" type="submit" (click)="handlePinSubmit('confirm')"> {{'Confirm'}}</ion-button>
          </ion-col>
        </ion-row>

      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Login with Pin -->

  <!-- Do Enter Username Modal -->
  <ion-modal
    #enterUsernameModal
    [initialBreakpoint]="0.80"
    [breakpoints]="[0, 0.30, 0.50, 0.70, 0.90]"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->
        <h3>Set a Username</h3>
        <p class="p0">
          This application now requires a username for access to all features.
        </p>

        <!-- <div class="content-wrapper"> -->
        <div class="investment-item" style="margin-top: 1rem">
          <div class="investment-name">
            <div class="img-wrapper">
              <!-- <img src="" alt=""> -->
              <div class="default-img">
                {{tempUser?.fullname.split('
                ')[0][0]}}{{(tempUser?.fullname.split(' ')[1]) ? tempUser?.fullname.split(' ')[1].trim()[0] : ''}}
              </div>
            </div>
            <div class="name">
              <h3>{{tempUser.fullname}}</h3>
              <p>{{tempUser.email}}</p>
            </div>
          </div>
          <!-- <h3>$545,7787</h3> -->
        </div>

        <div
          class="investment-item animate__animated animate__slideInDown"
          style="--animate-duration: 0.5s"
        >
          <ion-col size="12" class="kwakol-input">
            <div class="did-floating-label-content">
              <input
                class="did-floating-input"
                type="text"
                placeholder="username"
                [(ngModel)]="usernameEnterValue"
                required
                autocomplete="off"
                #enterUsernameModalRef
              />
              <label class="did-floating-label">Enter Username</label>
            </div>
          </ion-col>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="handleEnterUsername()"
            type="submit"
          >
            Confirm
          </ion-button>
        </ion-col>
        <!-- </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Enter Username Modal -->

</ion-content>
