.img-wrapper {
  text-align: center;
}

.action-row {
  margin-top: 8rem;
  ion-col {
    margin-bottom: 1rem;
  }
}

.set-pin {
  &::part(handle) {
    background-color: var(--ion-color-primary);
  }

  --border-radius: 20px;
  --border-width: 0;

  color: var(--ion-color-secondary);

  .header {
    margin-top: 2rem;
    text-align: center;

    ion-icon {
        font-size: 2.5rem;
    }

    h3 {
        font-family: BwModelicaMedium;
    }
  }

  .pin-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 1rem 0;
    padding: 0 3.5rem;
  }

  .pin-input {
    height: 3.4rem;
    width: 3.4rem;
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.4);
    background-color: var(--ion-color-tertiary);
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3rem;
    outline: none;
    /*Hide number field arrows*/
    -moz-appearance: textfield;
  }

  .btn-row {
    margin-top: 1rem;
  }
}
