<div
  class="backdrop animate__animated animate__fadeIn"
  #backdrop
  *ngIf="backdropActive"
></div>

<!-- Loading Modal Begin -->
<div
  #LoadingModalDiv
  class="info-modal center-page reset animate__animated animate__slideInUp"
  *ngIf="showLoadingModal"
>
  <div class="content">
    <div class="loader-wrapper no-animation">
      <ion-icon src="assets/imgs/v2-imgs/hour-glass.svg" alt=""></ion-icon>
      <p class="loading-text" *ngIf="!beneficiary">
        Your investment request for
        <span style="font-family: BwModelicaBold">{{account.name }}</span> is
        being reviewed. You will get a notification once it is approved.
      </p>
      <p class="loading-text" *ngIf="beneficiary">
        Your request to create an investment for {{beneficiary.firstname+'
        '+beneficiary.lastname}}<span style="font-family: BwModelicaBold">
          ({{account.name}})</span
        >
        is being reviewed. You will get a notification once it is approved.
      </p>
    </div>
  </div>

  <div class="footer">
    <div class="round-button" (click)="closeLoadingModal()">
      <ion-icon src="assets/icon/close.svg"></ion-icon>
    </div>
  </div>
</div>
<!-- Loading Modal End -->

<ion-content class="page-content" scrollY="false">
  <div
    *ngIf="!isCustomizeName"
    class="back-button"
    [routerLink]="fromPage"
    routerDirection="back"
  >
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <div *ngIf="isCustomizeName" class="back-button" (click)="leaveCustomName()">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 *ngIf="!isCustomizeName" class="subpage-heading left">
    Invest in {{account.name}}
  </h2>
  <h2
    *ngIf="isCustomizeName"
    class="subpage-heading left animate__animated animate__slideInRight"
    style="--animate-duration: 0.2s"
  >
    Customize Name
  </h2>

  <div class="investment-item" *ngIf="!isCustomizeName">
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          type="tel"
          placeholder="0.00"
          [(ngModel)]="ammount"
          autofocus
          required
          autocomplete="off"
        />
        <div>
          <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
          <span>USD</span>
        </div>
        <label class="did-floating-label">Enter Amount</label>
      </div>
    </ion-col>
    <ion-col size="12">
      <p class="wallet-balance">
        Wallet Balance:
        <span>${{util.numberWithCommas(util.roundUpDecimal(balance))}}</span>
      </p>
    </ion-col>
  </div>

  <div class="investment-item" *ngIf="isCustomizeName">
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          type="text"
          placeholder=" "
          [(ngModel)]="customName"
          autofocus
          required
          autocomplete="off"
          [maxlength]="15"
        />
        <label class="did-floating-label">Enter Name</label>
      </div>
    </ion-col>
    <ion-col size="12">
      <p class="eg">e.g My Plan, First</p>
    </ion-col>
  </div>

  <!-- <ion-row class="btn-row" [ngStyle]="footerStyles()"> -->
  <ion-row class="btn-row">
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button
        class="kwakol-btn ion-text-uppercase"
        type="button"
        (click)="continueToCustomize()"
        >Continue</ion-button
      >
    </ion-col>
  </ion-row>

  <!-- Pin Modal -->
  <ion-modal
    #pinEnterModal
    trigger="open-enter-pin"
    [initialBreakpoint]="0.8"
    [breakpoints]="[0, 0.25, 0.55, 0.8]"
    class="enter-pin"
    handle="true"
  >
    <ng-template>
      <ion-content scrollY="false">
        <div class="img-wrapper">
          <div class="round-button">
            <ion-icon
              [src]="'assets/icon/inv-type/'+ (getIconForInvName(account.name.toLowerCase()) || 'special-big') +'.svg'"
            ></ion-icon>
          </div>
        </div>

        <h3>${{ammount}}</h3>

        <p class="p0">
          to {{customName || beneficiary.firstname+' '+beneficiary.lastname ||
          ''}} (<span style="font-weight: 600">{{account.name}}</span>)
        </p>

        <p class="p1">Enter your pin to complete transaction</p>
        <div class="pin-wrapper">
          <ion-input
            [type]="inputPinTypePassword ? 'password' : 'text'"
            name="password"
            [maxlength]="4"
            [(ngModel)]="pin"
            disabled
            (click)="onTapPinInput()"
            [ngClass]="{'bullets' : inputPinTypePassword, 'text' : !inputPinTypePassword}"
          ></ion-input>
        </div>
        <app-keypad (keypadEmitter)="onPinInputChange($event)"></app-keypad>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
