<ion-content class="page-content tab-page-white">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading">Affiliate Link</h2>

  <h1 class="subheader">Earn rewards with our Affiliate Program</h1>

  <div class="rewards">
    <p>Total Clients <span>Total Rewards</span></p>
    <h3>{{ accountDeets.referral_clients }} <span>${{ accountDeets.referral_rewards }} </span></h3>
  </div>

  <p class="ref">Your referral URL is</p>
  <div class="referral-url">
    <p>
      {{ accountDeets.referral_url.substring(0, 33) + '...' }} 
    </p>
    <ion-icon (click)="copyLink()" src="assets/icon/copy.svg"></ion-icon>
  </div>

  <!-- <div class="action" (click)="goToReferralCode()">
    Referred by someone? Enter their code
    <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
  </div> -->

  </ion-content>

