<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2
    class="subpage-heading left"
    [ngClass]="{'slide-up': inputFocused , 'slide-down': !inputFocused}"
  >
    Create Account
  </h2>

  <div class="progress-step">
    <div class="track-circle"></div>
    <div class="track-line"></div>
    <div class="track-circle"></div>
    <div class="track-line"></div>
    <div class="track-circle"></div>
    <div class="track-line"></div>
    <div class="track-circle"></div>
  </div>

  <div class="texts-wrapper">
    <div class="track-text">Personal Details</div>
    <div class="track-text">KYC Verification</div>
  </div>

  <!-- <form class="auth-form" (ngSubmit)="continueReg()" #loginForm="ngForm"> -->
  <ion-row class="row-auth">
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          type="text"
          placeholder=" "
          #firstName
          [(ngModel)]="regCreds.firstname"
        />
        <label class="did-floating-label">First Name</label>
      </div>
    </ion-col>
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          type="text"
          placeholder=" "
          #middleName
          [(ngModel)]="regCreds.middlename"
        />
        <label class="did-floating-label">Middle Name</label>
      </div>
    </ion-col>
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          type="text"
          placeholder=" "
          #lastName
          [(ngModel)]="regCreds.lastname"
        />
        <label class="did-floating-label">Last Name</label>
      </div>
    </ion-col>
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input email"
          type="email"
          placeholder=" "
          [value]="regCreds?.email"
          [disabled]="true"
          #email
        />
        <!-- <label class="did-floating-label">Email</label> -->
      </div>
    </ion-col>
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          type="text"
          placeholder=" "
          #username
          [(ngModel)]="regCreds.username"
          (focus)="onInputsFocus()"
          (blur)="onInputsBlur()"
        />
        <label class="did-floating-label">@Username</label>
      </div>
    </ion-col>
    <ion-col size="12" class="kwakol-input" id="open-select-dob">
      <p class="p-input">{{regCreds.date_of_birth || 'Date of Birth'}}</p>
    </ion-col>
    <ion-col size="12" class="kwakol-input" id="open-select-country">
      <p class="p-input country">
        {{regCreds.country || 'Country'}}
        <img
          *ngIf="selectedCountryImg"
          [src]="'assets/imgs/flags/'+ selectedCountryImg +'.svg'"
        />
      </p>
    </ion-col>
    <ion-col size="12" class="kwakol-input">
      <div class="did-floating-label-content">
        <input
          class="did-floating-input"
          type="tel"
          placeholder=" "
          #phone
          [(ngModel)]="regCreds.phone"
          (focus)="onInputsFocus()"
          (blur)="onInputsBlur()"
        />
        <label class="did-floating-label">Phone Number</label>
      </div>
    </ion-col>
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button
        class="kwakol-btn ion-text-uppercase"
        type="submit"
        (click)="continueReg()"
        >Continue</ion-button
      >
    </ion-col>
  </ion-row>
  <!-- </form> -->

  <!-- Select Country -->
  <ion-modal
    #selectCountryModal
    trigger="open-select-country"
    [initialBreakpoint]="0.65"
    [breakpoints]="[0, 0.25, 0.5, 0.65]"
    class="select-country"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Select Country</h3>

        <!-- <div class="kwakol-ist">
          <div class="kwakol-list-item">

          </div>
        </div> -->

        <ion-list lines="inset">
          <ion-item
            *ngFor="let country of countries"
            (click)="selectCountry(country)"
          >
            <img [src]="'assets/imgs/flags/'+ country.img +'.svg'" />
            <ion-label>{{country.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Country -->

  <!-- Modal Select DOB -->
  <ion-modal
    #selectDOBModal
    trigger="open-select-dob"
    [initialBreakpoint]="0.8"
    swipeToClose="false"
    keepContentsMounted="true"
    class="select-dob"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Date of Birth</h3>
        
        <!-- <mat-card class="demo-inline-calendar-card"> -->
          <p style="margin: 0;" class="selected-date">{{(selectedDate | date) || 'No Date selected'}}</p>
          <mat-calendar [(selected)]="selectedDate" [maxDate]="currentDate"></mat-calendar>
        <!-- </mat-card> -->

        <ion-row class="btn-row">
          <ion-col size="6">
            <ion-button
              class="kwakol-btn kwakol-btn-outline ion-text-uppercase"
              (click)="closeDateModal()"
              >Cancel</ion-button
            >
          </ion-col>
          <ion-col size="6">
            <ion-button
              class="kwakol-btn ion-text-uppercase"
              (click)="selectDOB()"
              >Select</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Select DOB -->

  <!-- Enter OTP Modal -->
  <ion-modal
    #otpModal
    trigger="open-otp-modal"
    [initialBreakpoint]="0.75"
    class="otp-modal"
    handle="true"
  >
    <ng-template>
      <ion-content scrollY="false">
        <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div>
        <h3>Enter Code</h3>
        <p class="p1">
          We sent a One-Time-Password (OTP) to your email address.
        </p>

        <div class="otp-wrapper">
          <input
            type="tel"
            maxlength="1"
            class="otp-input"
            [(ngModel)]="otp1"
            (ngModelChange)="onPinInputChange()"
          />
          <input
            type="tel"
            maxlength="1"
            class="otp-input"
            [(ngModel)]="otp2"
            (ngModelChange)="onPinInputChange()"
          />
          <input
            type="tel"
            maxlength="1"
            class="otp-input"
            [(ngModel)]="otp3"
            (ngModelChange)="onPinInputChange()"
          />
          <input
            type="tel"
            maxlength="1"
            class="otp-input"
            [(ngModel)]="otp4"
            (ngModelChange)="onPinInputChange()"
          />
          <input
            type="tel"
            maxlength="1"
            class="otp-input"
            [(ngModel)]="otp5"
            (ngModelChange)="onPinInputChange()"
          />
          <input
            type="tel"
            maxlength="1"
            class="otp-input"
            [(ngModel)]="otp6"
            (ngModelChange)="onPinInputChange()"
          />
        </div>

        <p class="p2" (click)="tapToResendOTP()">{{resendOTPText}} <span *ngIf="!isResendingOTP">{{pinResendSecs}}s</span></p>

        <ion-row>
          <ion-col size="12" class="ion-text-center btn-col">
            <ion-button
              class="kwakol-btn ion-text-uppercase"
              type="submit"
              (click)="verifyOTP()"
              [disabled]="!otpComplete"
              >Verify</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal OTP -->
</ion-content>
