.back-button{
  z-index: 1000;
}



.btn-col {
  margin-top: 2rem;
}

.did-floating-input.email{
  border: 1px solid rgba(174, 174, 174, 0.3);
  color: var(--ion-text-gray-color);
}


h2.subpage-heading{
  //Input focus animation
  &.slide-up {
    margin-top: -10rem;
    transition: margin-top ease-out 0.3s;
  }

  &.slide-down {
    margin-top: 5rem;
    transition: margin-top ease-out 0.3s;
  }
}