<ion-content class="page-content">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left">Create Account</h2>

  <div class="progress-step">
    <div class="track-circle"></div>
    <div class="track-line"></div>
    <div class="track-circle"></div>
    <div class="track-line"></div>
    <div class="track-circle"></div>
    <div class="track-line"></div>
    <div class="track-circle"></div>
  </div>

  <div class="texts-wrapper">
    <div class="track-text">Personal Details</div>
    <div class="track-text">KYC Verification</div>
  </div>

  <form class="auth-form" (ngSubmit)="continueReg()" #loginForm="ngForm">
    <ion-row class="row-auth">
      <ion-col size="12" class="kwakol-input">
        <div class="did-floating-label-content">
          <input
            class="did-floating-input"
            type="text"
            placeholder=" "
            #firstName
          />
          <label class="did-floating-label">First Name</label>
        </div>
      </ion-col>
      <ion-col size="12" class="kwakol-input">
        <div class="did-floating-label-content">
          <input
            class="did-floating-input"
            type="text"
            placeholder=" "
            #lastName
          />
          <label class="did-floating-label">Last Name</label>
        </div>
      </ion-col>
      <ion-col size="12" class="kwakol-input">
        <div class="did-floating-label-content">
          <input
            class="did-floating-input"
            type="email"
            placeholder=" "
            [value]="'akim.akim@email.com'"
            [disabled]="true"
            #email
          />
          <!-- <label class="did-floating-label">Email</label> -->
        </div>
      </ion-col>
      <ion-col size="12" class="kwakol-input">
        <div class="did-floating-label-content">
          <input
            class="did-floating-input"
            type="text"
            placeholder=" "
            #username
          />
          <label class="did-floating-label">@Username</label>
        </div>
      </ion-col>
      <ion-col size="12" class="kwakol-input" id="open-select-dob">
        <p class="p-input">Date of Birth</p>
      </ion-col>
      <ion-col size="12" class="kwakol-input" id="open-select-country">
        <p class="p-input">Country</p>
      </ion-col>
      <ion-col size="12" class="kwakol-input">
        <div class="did-floating-label-content">
          <input class="did-floating-input" type="tel" placeholder=" " #phone />
          <label class="did-floating-label">Phone Number</label>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center btn-col">
        <ion-button class="kwakol-btn ion-text-uppercase" type="submit"
          >Continue</ion-button
        >
      </ion-col>
    </ion-row>
  </form>

  <!-- Select Country -->
  <ion-modal
    #selectCountryModal
    trigger="open-select-country"
    [initialBreakpoint]="0.65"
    [breakpoints]="[0, 0.25, 0.5, 0.65]"
    class="select-country"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Select Country</h3>

        <!-- <div class="kwakol-ist">
          <div class="kwakol-list-item">

          </div>
        </div> -->

        <ion-list lines="inset">
          <ion-item>
            <img src="assets/imgs/flags/nigeria.svg" />
            <ion-label>Nigeria</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/imgs/flags/usa.svg" />
            <ion-label>United States of America</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/imgs/flags/uk.svg" />
            <ion-label>United Kingdom</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/imgs/flags/ghana.svg" />
            <ion-label>Ghana</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/imgs/flags/sa.svg" />
            <ion-label>South Africa</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/imgs/flags/brazil.svg" />
            <ion-label>Brazil</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/imgs/flags/portugal.svg" />
            <ion-label>Portugal</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/imgs/flags/france.svg" />
            <ion-label>France</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Country -->

  <!-- Modal Select DOB -->
  <ion-modal
    #selectDOBModal
    trigger="open-select-dob"
    [initialBreakpoint]="0.65"
    [breakpoints]="[0, 0.25, 0.5, 0.65]"
    class="select-dob"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Date of Birth</h3>
        <ion-datetime presentation="date" mode="md" size="cover"></ion-datetime>

        <ion-row class="btn-row">
          <ion-col size="6">
            <ion-button class="kwakol-btn kwakol-btn-outline ion-text-uppercase"
              >Cancel</ion-button
            >
          </ion-col>
          <ion-col size="6">
            <ion-button class="kwakol-btn ion-text-uppercase"
              >Select</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Select DOB -->

  <!-- Enter OTP Modal -->
  <ion-modal
    #otpModal
    trigger="open-otp-modal"
    [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.25, 0.5, 0.65, 0.75]"
    class="otp-modal"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div>
        <h3>Enter Code</h3>
        <p class="p1">
          We sent a One-Time-Password (OTP) to your email address.
        </p>

        <div class="otp-wrapper">
          <input type="tel" maxlength="1" class="otp-input" />
          <input type="tel" maxlength="1" class="otp-input" />
          <input type="tel" maxlength="1" class="otp-input" />
          <input type="tel" maxlength="1" class="otp-input" />
          <input type="tel" maxlength="1" class="otp-input" />
          <input type="tel" maxlength="1" class="otp-input" />
        </div>

        <p class="p2">Resend OTP in 59s</p>

        <ion-row>
          <ion-col size="12" class="ion-text-center btn-col">
            <ion-button class="kwakol-btn ion-text-uppercase" type="submit" (click)="verifyOTP()">Verify</ion-button>
          </ion-col>
        </ion-row>

      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal OTP -->
</ion-content>
