<ion-content class="page-content tab-page-white">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading">Account Details</h2>


  <div class="details">
    <div class="detail">
      Account Number
      <span>{{ accountDeets.bank_account_number }}</span>
    </div>
    <div class="detail">
      Account Name
      <span>{{ accountDeets.bank_account_name }}</span>
    </div>
    <div class="detail">
      Bank Name
      <span>{{ accountDeets.bank_name }}</span>
    </div>
    <!-- <div class="detail">
      Sort Code
      <span></span>
    </div>
    <div class="detail">
      Bank Address
      <span>Wuse II</span>
    </div> -->
  </div>

  <ion-row class="row-btn">
    <ion-col size="12" class="ion-text-center btn-col">
      <ion-button class="kwakol-btn ion-text-uppercase" type="button" (click)="requestUpdate()">Request Update</ion-button>
    </ion-col>
  </ion-row>

  </ion-content>

