h3,
h4,
p {
  margin: 0;
}

ion-header {
  background-color: var(--ion-color-tertiary);
}

.header-md::after {
  background-image: none;
}

h2.subpage-heading.left {
  padding-left: 3.2rem;
  color: var(--ion-color-secondary);
}

.summary-block {
  color: var(--ion-color-tertiary);
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
  background-color: var(--ion-color-secondary);
  padding: 1.5rem;
  margin: 0px auto 1rem auto;

  .top {
    display: flex;
    justify-content: space-between;

    .balance,
    .inv {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      p {
        color: rgba(255, 255, 255, 0.35);
        font-size: 0.65rem;
        font-family: BwModelicaHairline;
        letter-spacing: 0.05rem;
        font-weight: 600;
      }

      h3 {
        font-family: BwModelicaMedium;
        font-size: 1.4rem;
      }
    }

    .inv {
      align-items: flex-end;
      .investment {
        padding: 0.35rem 0.7rem 0.35rem 0.3rem;
        border-radius: 3px;
        background: #d8c680;
        display: flex;
        align-items: center;
        color: var(--ion-color-secondary);
        font-family: BwModelicaBold;
        gap: 0.3rem;
        font-size: 0.97rem;
        letter-spacing: 0.01rem;

        &.levadura {
          background: #d8c680;
        }

        &.marigold {
          background: #af9685;
        }

        &.junzi {
          background: #295513;
        }

        &.antipasto {
          background: #41b651;
        }

        &.veterano {
          background: #5e5d5c;
        }

        .icon-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1.3rem;
          width: 1.3rem;
          border-radius: 100px;
          background-color: #fff;
        }
      }
    }
  }

  .bottom {
  }
}

.cta-wrapper {
  margin: 3rem 0 0 0;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    .btn {
      background-color: var(--ion-color-primary);
      box-shadow: 0px 3px 4px rgba(33, 31, 66, 0.1);
      border-radius: 100%;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        font-size: 1.6rem;
      }
    }
    p {
      font-size: 0.6rem;
      color: rgba(var(--ion-color-tertiary-rgb), 0.6);
      font-family: BwModelicaLight;
      letter-spacing: 0.04rem;
    }
  }
}

.sub-header {
  margin-top: 2rem;
  padding: 0rem 1.3rem;
  border-bottom: none;
  color: rgba(var(--ion-color-secondary-rgb), 0.45);
  font-family: BwModelicaHailine;
  font-weight: 600;
}

ion-content {
  --padding-top: 0.8rem;
  --padding-bottom: 1.5rem;
  --padding-start: 1.3rem;
  --padding-end: 1.3rem;
  --background: var(--ion-color-tertiary);
}

.transactions-list {
  border: none;
  background-color: transparent;
}
