<div
  class="backdrop animate__animated animate__fadeIn"
  #backdrop
  *ngIf="backdropActive"
  (click)="closeModal()"
></div>

<!-- Info Modal Begin -->
<div
#InfoModalDiv
class="info-modal reset animate__animated animate__slideInUp"
*ngIf="showInfoModal"
>
<div class="header">
  <ion-icon [src]="'assets/icon/v2-icons/'+ infoModalData.icon"></ion-icon>
  <h4>{{infoModalData.title}}</h4>
</div>

<div class="content">
  <p class="item" *ngFor="let item of infoModalData.content">
    <span>{{item.item}}</span>
    <span
      >{{item.value}}
      <ion-icon
        *ngIf="item.item === 'Reference' || item.item === 'Opening Balance'"
        (click)="util.clipboardCopy(item.item)"
        src="assets/icon/copy.svg"
      ></ion-icon
    ></span>
  </p>
</div>

<div class="footer">
  <div class="amount-date">
    <div class="amount">
      {{util.getAmountSign(infoModalDataType.toLowerCase())}}${{util.numberWithCommas(util.roundUpDecimal(infoModalData.amount))}}
    </div>
    <div class="date">{{infoModalData.date}}</div>
  </div>
  <div class="round-button" (click)="closeModal()">
    <ion-icon src="assets/icon/close.svg"></ion-icon>
  </div>
</div>
</div>
<!-- Info Modal End -->

<!-- Loading Modal Begin -->
<div
  #LoadingModalDiv
  class="info-modal reset animate__animated animate__slideInUp"
  [ngClass]="{'center-page': loadingModalType === 'alert' || loadingModalType === 'alert-statement'}"
  *ngIf="showLoadingModal"
>
  <div class="content">
    <div class="loader-wrapper no-animation">

      <img 
        *ngIf="loadingModalType === 'alert' || loadingModalType === 'alert-statement'"
        src="assets/imgs/v2-imgs/hour-glass.svg">

      <!-- <ion-icon
        *ngIf="loadingModalType === 'alert' || loadingModalType === 'alert-statement'"
        src="assets/imgs/v2-imgs/hour-glass.svg"
        alt=""
      ></ion-icon> -->

      <img 
        *ngIf="loadingModalType === 'confirm'"
        src="assets/imgs/v2-imgs/red-flag.svg">

      <!-- <ion-icon
        *ngIf="loadingModalType === 'confirm'"
        [src]="'assets/imgs/v2-imgs/red-flag.svg'"
        alt=""
      ></ion-icon> -->


      <!-- <p class="loading-text" *ngIf="loadingModalType">
        Your liquidation request is being processed. <br/> You will receive an email when it is approved.
      </p> -->
      <p class="loading-text" *ngIf="loadingModalType === 'alert'">
        Your <span *ngIf="transType === 'deposit'">deposit</span>
        <span *ngIf="transType === 'withdrawal'">withdrawal</span> request is
        being reviewed. <br />
        You'll get a notification once it is approved.
      </p>
      <p class="loading-text" *ngIf="loadingModalType === 'alert-statement'">
        Your statement request is being processed.<br />
        You'll receive it in your email within the next 20 minutes.
      </p>
      <p class="loading-text" *ngIf="loadingModalType === 'confirm'">
        Withdrawing from an active investment <br />
        might affect your profit. <br />
        Do you still want to proceed?
      </p>
    </div>
  </div>

  <div class="footer">
    <div
      class="yes-button"
      *ngIf="loadingModalType === 'confirm'"
      (click)="openEnterWithdrawalAmount()"
    >
      Yes, I'm Sure
    </div>
    <div class="round-button" (click)="closeModal()">
      <ion-icon src="assets/icon/close.svg"></ion-icon>
    </div>
  </div>
</div>
<!-- Loading Modals End -->

<ion-header>
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>

  <h2 class="subpage-heading left">{{beneficiary.fullname}}</h2>

  <div class="summary-block">
    <div class="top">
      <div class="balance">
        <p>Available Balance</p>
        <h3>${{util.numberWithCommas(util.roundUpDecimal((+beneficiary.balance + +stat.profit_balance)))}}</h3>
      </div>
      <div class="inv">
        <p>Beneficiary Investment</p>
        <div class="investment {{beneficiary.subscription_name.toLowerCase()}}">
          <!-- <div class="investment {{investment.subscription.name.toLowerCase()}}"> -->
          <div class="icon-wrapper">
            <ion-icon
              [src]="'assets/icon/inv-type/'+ (getIconForInvName(beneficiary.subscription_name.toLowerCase()) || 'special-big') +'.svg'"
            ></ion-icon>
          </div>
          {{beneficiary.subscription_name}}
          <!-- {{investment.subscription.name}} -->
        </div>
      </div>
    </div>
    <div class="bottom"></div>
    <div class="cta-wrapper">
      <div class="cta" (click)="openEnterDepositFromWalletAmount()">
        <div class="btn">
          <ion-icon src="assets/icon/v2-icons/cta-deposit.svg"></ion-icon>
        </div>
        <p>Deposit</p>
      </div>
      <div class="cta" (click)="openLoadingModal('confirm')">
        <div class="btn">
          <ion-icon src="assets/icon/v2-icons/cta-withdraw.svg"></ion-icon>
        </div>
        <p>Withdraw</p>
      </div>
      <div class="cta" (click)="openMoreOptionsModal()">
        <div class="btn">
          <ion-icon src="assets/icon/v2-icons/cta-more.svg"></ion-icon>
        </div>
        <p>More</p>
      </div>
    </div>
  </div>

  <div class="sub-header">
    <ion-segment value="history" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="history" mode="md">
        <ion-label>History</ion-label>
      </ion-segment-button>
      <ion-segment-button value="statistics">
        <ion-label>Statistics</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="activeSegment === 'history'" class="segment segment-history">
    <div class="transactions-list">
      <div
        class="transaction"
        *ngFor="let trans of history"
        (click)="openInfoModal(trans.type.toLowerCase(), trans)"
      >
        <div class="trans-type-wrapper">
          <ion-icon
            [src]="'assets/icon/v2-icons/'+getIconForType(trans.type.toLowerCase())+'.svg'"
          ></ion-icon>
          <div class="trans-type">
            <h3>{{trans.type | capitalize}}</h3>
            <p class="trans-type-p">
              {{trans.comment.slice(0,50).length > 50 ? trans.comment.slice(0,45)+'...' :trans.comment.slice(0,45)}}
          </div>
        </div>
        <div class="amount-date">
          <div
            class="amount"
          >
            {{util.getAmountSign(trans.type.toLowerCase())}}${{util.numberWithCommas(util.roundUpDecimal(trans.amount))}}
          </div>
          <div class="trans-date">{{trans.status === 'pending' ?  'pending' : (trans.created_at | date) }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Statistics Segment... -->
  <div
    *ngIf="activeSegment === 'statistics'"
    class="segment segment-statistics"
  >
    <div class="stat-wrapper">
      <div class="stat-item">
        <h3>{{stat.projected_performance}}%</h3>
        <p>Projected Performance</p>
      </div>
      <div class="stat-item">
        <h3>{{util.numberWithCommas(util.roundUpDecimal(stat.last_month_performance.split('%')[0]))}}%</h3>
        <p>Last Month's Performance</p>
      </div>
      <div class="stat-item">
        <h3>${{util.numberWithCommas(util.roundUpDecimal(stat.profit_balance))}}</h3>
        <p>My Total Profit</p>
      </div>
      <div class="stat-item">
        <h3>${{util.numberWithCommas(util.roundUpDecimal(beneficiary.balance))}}</h3>
        <p>My Total Balance</p>
      </div>
      <!-- <div class="stat-item">
        <h3>$1,000.50</h3>
        <p>My Total Deposits</p>
      </div>
      <div class="stat-item">
        <h3>$125.03</h3>
        <p>My Total Withdrawals</p>
      </div>
      <div class="stat-item">
        <h3>2</h3>
        <p>Free Withdrawals Left</p>
      </div> -->
    </div>
  </div>

  <!-- Deposit from wallet to beneficiary modal -->
  <ion-modal
    #doDepositFromWalletToBeneficiaryModal
    [initialBreakpoint]="0.62"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Deposit from wallet</h3>

        <ion-col>
          <p class="wallet-balance left">
            Wallet Ballance: <span>${{util.numberWithCommas(util.roundUpDecimal(walletBal))}}</span>
          </p>
        </ion-col>

        <div
          class="investment-item animate__animated animate__slideInDown"
          style="--animate-duration: 0.5s"
        >
          <ion-col size="12" class="kwakol-input">
            <div class="did-floating-label-content">
              <input
                class="did-floating-input"
                type="tel"
                placeholder="0.00"
                [(ngModel)]="depositFromWalletToBeneficiaryAmount"
                required
                autocomplete="off"
                #doDepositFromWalletToBeneficiaryRef
              />
              <div>
                <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
                <span>USD</span>
              </div>
              <label class="did-floating-label">Enter Amount</label>
            </div>
          </ion-col>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="openEnterPinModal('deposit')"
            type="submit"
          >
            Continue
          </ion-button>
        </ion-col>
        <!-- </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Deposit from wallet to beneficiary modal  -->

  <!-- Withdraw to wallet modal -->
  <ion-modal
    #withdrawToWalletModal
    [initialBreakpoint]="0.73"
    class="kwakol-modal-bottom-drawer2 transfer-investment"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
      <ion-icon src="assets/icon/padlock.svg"></ion-icon>
    </div> -->
        <h3>Withdraw to wallet</h3>

        <div class="investment-item" style="margin-top: 1rem">
          <div class="investment-name">
            <div class="default-img">
              {{beneficiary?.fullname.split('
              ')[0][0]}}{{beneficiary?.fullname.split(' ')[1] ?
              beneficiary?.fullname.split(' ')[1].trim()[0] : ''}}
            </div>
            <div class="name">
              <p>{{beneficiary.subscription_name}}</p>
              <!-- <h3>{{selectedInvestment?.name}}</h3> -->
              <h3>{{beneficiary.fullname}}</h3>
            </div>
          </div>
          <h3>${{util.numberWithCommas(util.roundUpDecimal(beneficiary.balance))}}</h3>
        </div>

        <div
          class="investment-item animate__animated animate__slideInDown"
          style="--animate-duration: 0.5s; margin-top: 1rem"
        >
          <ion-row>
            <ion-col size="12" class="kwakol-input">
              <div class="did-floating-label-content">
                <input
                  class="did-floating-input"
                  type="tel"
                  placeholder="0.00"
                  [(ngModel)]="withdrawAmount"
                  required
                  autocomplete="off"
                  #withdrawAmountRef
                />
                <div>
                  <ion-icon [src]="'assets/imgs/flags/usa.svg'"></ion-icon>
                  <span>USD</span>
                </div>
                <label class="did-floating-label">Enter Amount</label>
              </div>
            </ion-col>
            <ion-col size="12">
              <!-- <p class="wallet-balance">
                Free withdrawals left:
                <span>3</span>
              </p> -->
            </ion-col>
          </ion-row>
        </div>

        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="openEnterPinModal('withdrawal')"
            type="submit"
          >
            Withdraw
          </ion-button>
        </ion-col>
        <!-- </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Withdraw to wallet modal -->

  <!-- More options modal -->
  <ion-modal
    #moreOptionsModal
    [initialBreakpoint]="0.28"
    class="kwakol-modal-bottom-drawer2"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>More Options</h3>

        <div class="content-wrapper">
          <div class="item" (click)="requestAccountStatement()">
            <div class="round-button">
              <ion-icon
                src="assets/icon/v2-icons/round-btns/note.svg"
              ></ion-icon>
            </div>
            <p>Request Account Statement</p>
          </div>
          <div class="item" (click)="closeInvestment()">
            <div class="round-button">
              <ion-icon src="assets/icon/close.svg"></ion-icon>
            </div>
            <p>Close Investment</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End More Options Modal -->

  <!-- Account Statement modal -->
  <ion-modal
    #accountStatementModal
    [initialBreakpoint]="0.37"
    class="kwakol-modal-bottom-drawer2"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Generate Account Statement</h3>
        <p class="modal-sub">Choose a timeframe for your statement</p>
        <div class="content-wrapper" style="margin-bottom: 0.7rem">
          <ion-row class="inputs-wrapper">
            <ion-col
              size="12"
              class="kwakol-input"
              (click)="openDateModal('from')"
              style="margin-bottom: 0.4rem"
            >
              <p class="p-input">{{date.from|| 'From'}}</p>
            </ion-col>
            <ion-col
              size="12"
              class="kwakol-input"
              (click)="openDateModal('to')"
            >
              <p class="p-input">{{date.to || 'To'}}</p>
            </ion-col>
          </ion-row>
        </div>
        <ion-col size="12" class="ion-text-center btn-col">
          <ion-button
            class="kwakol-btn ion-text-uppercase"
            (click)="generateAccountStatement()"
            type="submit"
          >
            Generate Statement
          </ion-button>
        </ion-col>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Account Statement Modal -->

  <!-- Modal Select Date -->
  <ion-modal
    #selectDateModal
    [initialBreakpoint]="0.75"
    swipeToClose="false"
    keepContentsMounted="true"
    class="select-dob"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <h3>Timeframe <span *ngIf="dateState === 'from'">From</span><span *ngIf="dateState === 'to'">To</span></h3>

        <!-- <mat-card class="demo-inline-calendar-card"> -->
        <p style="margin-top: .7rem" class="selected-date">
          {{(selectedDate | date) || 'No Date selected'}}
        </p>
        <mat-calendar
          [(selected)]="selectedDate"
          (selectedChange)="getSelectedDate($event)"
          [maxDate]="currentDate"
        ></mat-calendar>
        <!-- </mat-card> -->

        <ion-row class="btn-row">
          <ion-col size="6">
            <ion-button
              class="kwakol-btn kwakol-btn-outline ion-text-uppercase"
              (click)="closeDateModal()"
              >Cancel</ion-button
            >
          </ion-col>
          <ion-col size="6">
            <ion-button
              class="kwakol-btn ion-text-uppercase"
              (click)="selectDate()"
              [disabled]="!selectedDate"
              >Select</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Modal Select DOB -->

  <!-- Pin Modal -->
  <ion-modal
    #pinEnterModal
    trigger="open-enter-pin"
    [initialBreakpoint]="0.8"
    [breakpoints]="[0, 0.25, 0.5, 0.6, 0.8]"
    class="enter-pin"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <div class="img-wrapper">
          <div class="default-img">
            {{beneficiary?.fullname.split('
            ')[0][0]}}{{beneficiary?.fullname.split(' ')[1] ?
            beneficiary?.fullname.split(' ')[1].trim()[0] : ''}}
          </div>
        </div>

        <p
          style="margin: 0.5rem 0; text-align: center"
          *ngIf="transType === 'withdrawal'"
        >
          Withdraw
        </p>

        <h3 *ngIf="transType === 'withdrawal'">${{withdrawAmount}}</h3>
        <h3 *ngIf="transType === 'deposit'">
          ${{depositFromWalletToBeneficiaryAmount}}
        </h3>
        <p class="p0">
          <span *ngIf="transType === 'deposit'">to</span>
          <span *ngIf="transType === 'withdrawal'">from</span>
          {{beneficiary.fullname || ''}} (<span class="plan-name"
            >{{beneficiary.subscription_name}}</span
          >)
        </p>

        <p class="p1">Enter your pin to complete transaction</p>
        <div class="pin-wrapper">
          <ion-input
            [type]="inputPinTypePassword ? 'password' : 'text'"
            name="password"
            [maxlength]="4"
            [(ngModel)]="pin"
            disabled
            (click)="onTapPinInput()"
            [ngClass]="{'bullets' : inputPinTypePassword, 'text' : !inputPinTypePassword}"
          ></ion-input>
        </div>
        <app-keypad (keypadEmitter)="onPinInputChange($event)"></app-keypad>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
