<ion-header>
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <h2 class="subpage-heading left">Frequently Asked Questions</h2>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">

  <ion-row class="faqs-wrapper">
    <ion-col size="6">
      <div class="thumbnail" (click)="viewFAQDetails()" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9)), url('../../../../assets/imgs/v2-imgs/feed1.jpg');">
        <div class="icon-wrapper">
          <ion-icon src="assets/icon/v2-icons/play.svg"></ion-icon>
        </div>
        <p>How to transfer funds to your investment</p>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="thumbnail" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9)), url('../../../../assets/imgs/v2-imgs/feed1.jpg');">
        <div class="icon-wrapper">
          <ion-icon src="assets/icon/v2-icons/play.svg"></ion-icon>
        </div>
        <p>How to transfer funds to your investment</p>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="thumbnail" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9)), url('../../../../assets/imgs/v2-imgs/feed2.jpg');">
        <div class="icon-wrapper">
          <ion-icon src="assets/icon/v2-icons/play.svg"></ion-icon>
        </div>
        <p>How to transfer funds to your investment</p>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="thumbnail" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9)), url('../../../../assets/imgs/v2-imgs/feed1.jpg');">
        <div class="icon-wrapper">
          <ion-icon src="assets/icon/v2-icons/play.svg"></ion-icon>
        </div>
        <p>How to transfer funds to your investment</p>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
