ion-content{
    --background: var(--ion-color-primary);

    .img-wrapper{
        margin-top: 12rem;
        margin-bottom: 2rem;
        text-align: center;

        .deposit-confirm{
            width: 18rem;
        }
    }

    .message{
        text-align: center;
        color: #FFF;

        h2{
            font-family: BwModelicaMedium;
            font-size: 1.4rem;
        }

        p{
            font-family: BwModelicaHairline;
            letter-spacing: -0.01em;
            font-weight: 600;
            /* line-height: 100%; */
            font-size: 0.85rem;
            margin: 0 auto;
            width: 80%;
        }
    }


    .btn-row{
        margin-top: 17rem;
    }
}