$loader-size: 1.1rem;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size * 0.36);
$check-top: $check-height + 0.3;
$check-thickness: 2px;
$check-color: #FFF;

ion-content {
  --background: rgba(255, 255, 255, 0.7);
}

.loader-wrapper {
  // border: 1px solid red;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);

  .circle-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.6rem;
    width: 4.6rem;
    border: 1px solid rgba(var(--ion-color-primary-rgb), 1);
    border-radius: 100%;

    .logo-loaded {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--ion-color-primary);
      border-radius: 100%;
      height: 2.7rem;
      width: 2.7rem;

      .circle {
        position: relative;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 100%;
        border: 2px solid #fff;

        // ion-icon.loaded-check {
        //     --animate-duration: 0.5s;
        //     font-size: .8rem;
        // }
      }
    }
  }

  .circle-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: 5.5rem;
    border: 0.5px solid rgba(var(--ion-color-primary-rgb), 0.5);
    border-radius: 100%;
  }

  .circle-3 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.3rem;
    width: 6.3rem;
    border: 0.2px solid rgba(var(--ion-color-primary-rgb), 0.2);
    border-radius: 100%;
  }

  ion-icon {
    font-size: 2.85rem;
  }

  .loading-text{
    margin: .5rem 0 0 0;
    font-size: .82rem;
    text-align: center;
  }
}

.checkmark {
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-top;
    position: absolute;
  }
}

@keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: $check-width;
      opacity: 1;
    }
    40% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
    100% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
  }