<ion-header [ngClass]="{'dark': moonVal && !sunVal}">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <div class="time-icons">
    <ion-icon *ngIf="!sunVal" src="assets/icon/sun.svg" (click)="switchMode()"></ion-icon>
    <ion-icon *ngIf="sunVal" src="assets/icon/sun-active.svg"></ion-icon>
    <ion-icon *ngIf="!moonVal" src="assets/icon/moon.svg" (click)="switchMode()"></ion-icon>
    <ion-icon *ngIf="moonVal" src="assets/icon/moon-active.svg"></ion-icon>
  </div>
</ion-header>

<ion-content class="page-content" [ngClass]="{'dark': moonVal && !sunVal}">

  <div class="feed-heading">
    <p class="date">{{ feed.published | date}}</p>
    <h5>
    {{ feed.title }}
    </h5>
    <p class="author">by {{ feed.author }}</p>
  </div>

  <div class="feed-area">
    <div [innerHTML]="feed.body">
    </div>
  </div>

  </ion-content>