<ion-header [ngClass]="{'dark': moonVal && !sunVal}">
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>
  <div class="time-icons">
    <ion-icon *ngIf="!sunVal" src="assets/icon/sun.svg" (click)="switchMode()"></ion-icon>
    <ion-icon *ngIf="sunVal" src="assets/icon/sun-active.svg" (click)="switchMode()"></ion-icon>
    <ion-icon *ngIf="!moonVal" src="assets/icon/moon.svg" (click)="switchMode()"></ion-icon>
    <ion-icon *ngIf="moonVal" src="assets/icon/moon-active.svg" (click)="switchMode()"></ion-icon>
  </div>
</ion-header>

<ion-content class="page-content" [ngClass]="{'dark': moonVal && !sunVal}">

  <div class="feed-heading">
    <p class="date">February 21, 2022</p>
    <h5>
      10 Common Investment Terms Everyone Needs to Know
    </h5>
    <p class="author">by Ruth Umoru</p>
  </div>

  <div class="feed-area">
    <p class="section">
      For most of us, technical investment terms can be confusing. Whether or not you’re new to the investment game, here is a list of ten important investment terms you should know.
    </p>

    <h6>Asset</h6>
    <p>An asset is anything that has the potential to earn money for you in the short or long run. Assets are a store of value that can easily be converted to cash. It is reasonable to expect an ASSET to produce some value for you. Assets include cash, bond, stock, real estate, investments</p>

    <h6>Asset Allocation</h6>
    <p>This summarizes your investment strategy. The various categories of assets that you put your money into is your asset allocation. An optimal ASSET ALLOCATION helps you balance risk and reward by allocating assets into various classes according to age, investment goal, risk tolerance and investment tenor.</p>

    <h6>Bond</h6>
    <p>This is money that you borrow to a corporation or government. Investing in BONDS is like lending money with a promise that the principal will be returned with interest. In the event that nothing happens, like bankruptcy, your interest and principal will be paid on the maturity date.</p>

    <h6>Stocks</h6>
    <p>Owning stocks means you have a small ownership stake in a company or companies. You buy STOCKS in the hopes that the company performs well and the value of your stocks increase, allowing you to sell for a higher price and make profit.</p>

    <h6>Dividends</h6>
    <p>This is a portion of a publicly listed company’s profit that is paid out to shareholders regularly. DIVIDEND payments are determined by the company’s board of directors and are a reward paid to shareholders for investing in a company.</p>

    <h6>Interest</h6>
    <p>The money you earn on an investment over a period of time is called interest. INTEREST earned on an investment can be reinvested to earn more money.</p>

    <h6>Money Market Funds</h6>
    <p>These are low risk, highly liquid, and short term funds that typically invest in government securities like treasury bills, commercial paper, certificates of deposits and other short term assets. MONEY MARKET FUNDS are one of the most invested funds in the Nigerian market. A mutual fund is a typical example of a money market fund.</p>

    <h6>Mutual Funds</h6>
    <p>When a group of investors pool money together to buy stocks, bonds and other instruments, they have invested in a mutual fund. professional fund managers manage MUTUAL FUNDS and make the sell or buy decisions of the stocks in the fund. Mutual funds also allow small investors to easily invest in professionally managed and diverse asset portfolios.</p>
  </div>

  </ion-content>