ion-header {
  position: relative;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background: var(--ion-color-tertiary);
  padding: 5rem 1.35rem 0.7rem 1.35rem;
}

.header-md::after {
  background-image: none;
}

h2.subpage-heading.left {
  color: var(--ion-color-secondary);
  margin-top: 0rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

ion-row.news-wrapper {
    margin: 0 -0.6rem;
  ion-col {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    .news {
      border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
      border-radius: 5px;
      width: 91%;
      padding: 0.6rem;

      .img-wrapper {
        width: 100%;
        text-align: center;
        img {
          width: 100%;
        }
      }

      h4 {
        font-family: BwModelicaBold;
        font-size: 0.92rem;
        margin-top: 0.3rem;
      }

      p {
        margin: 0;
        font-size: 0.7rem;
        letter-spacing: 0.02rem;
        color: rgba(var(--ion-color-primary-rgb), 0.9);
      }
    }
  }
}
