<ion-header>
  <div class="auth-banner small">
    <h3 class="title">Profile</h3>
  </div>
  <div class="sub-header">
    <div class="user-item">
      <div class="user-name">
        <div class="img-wrapper">
          <div class="default-img">
            {{user.fullname.split(' ')[0][0]}}{{user.fullname.split(' ')[1][0]}}
          </div>
        </div>
        <div class="name">
          <h3>{{ user.fullname }}</h3>
          <p>{{user.username}}</p>
        </div>
      </div>
      <div class="round-small-button" (click)="goToEditProfile()">Edit Profile</div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <div class="actions">
    <div class="action" (click)="goToBeneficiariesPage()">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/beneficiary.svg'"
          ></ion-icon>
        </div>
        Beneficiaries
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="openAccountManagerModal()">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/user.svg'"
          ></ion-icon>
        </div>
        Account Manager
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="goToNextOfKin()">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/heart.svg'"
          ></ion-icon>
        </div>
        Next of Kin
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/chat.svg'"
          ></ion-icon>
        </div>
        Support
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="goToChangePasswordPage()">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/change-pass.svg'"
          ></ion-icon>
        </div>
        Change Password
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" >
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/change-pin.svg'"
          ></ion-icon>
        </div>
        Change PIN
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
  </div>

  <div class="actions bottom">
    <h3 class="about-head">About Kwakol</h3>
    <div class="action" (click)="goToLinks('https://www.kwakol.com')">
      Visit our Website
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div
      class="action"
      (click)="goToLinks('https://www.kwakolmarkets.com/faqs')"
    >
      FAQs
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div
      class="action"
      (click)="goToLinks('https://www.kwakolmarkets.com/terms-and-conditions')"
    >
      Terms and Conditions
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
  </div>

  <ion-button
    class="kwakol-btn ion-text-uppercase btn-bottom"
    type="button"
    (click)="logOut()"
  >
    Log Out
  </ion-button>


  <!-- Account Manager modal -->
  <ion-modal
    #accountManagerModal
    [initialBreakpoint]="0.18"
    [breakpoints]="[0, 0.18]"
    class="kwakol-modal-bottom-drawer2"
    handle="true"
  >
    <ng-template>
      <ion-content>
        <!-- <div class="round-button">
          <ion-icon src="assets/icon/padlock.svg"></ion-icon>
        </div> -->
        <h3>Account Manager</h3>

        <div class="item">
          <div>
            <div class="default-img">
              {{user.fullname.split(' ')[0][0]}}{{user.fullname.split(' ')[1][0]}}
            </div>
            Eyitope Oladapo
          </div>
          <div>
            <div class="round-button">
              <ion-icon
                [src]="'assets/icon/v2-icons/round-btns/call.svg'"
              ></ion-icon>
            </div>
            <div class="round-button">
              <ion-icon
                [src]="'assets/icon/v2-icons/round-btns/mail.svg'"
              ></ion-icon>
            </div>
          </div>
        </div>
        
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- End Account Manager Modal -->

</ion-content>
