<ion-header>
  <div class="auth-banner small">
    <h3 class="title">Profile</h3>
  </div>
  <div class="sub-header">
    <div class="user-item">
      <div class="user-name">
        <div class="img-wrapper">
          <div class="default-img">
            {{user.fullname.split(' ')[0][0]}}{{user.fullname.split(' ')[1][0]}}
          </div>
        </div>
        <div class="name">
          <h3>{{ user.fullname }}</h3>
          <p>@jenewari</p>
        </div>
      </div>
      <div class="round-small-button">Edit Profile</div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <div class="actions">
    <div class="action" (click)="goToPage('/account-details')">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/beneficiary.svg'"
          ></ion-icon>
        </div>
        Beneficiaries
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="goToPage('/account-details')">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/user.svg'"
          ></ion-icon>
        </div>
        Account Manager
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="goToPage('/account-details')">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/heart.svg'"
          ></ion-icon>
        </div>
        Next of Kin
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="goToPage('/account-details')">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/chat.svg'"
          ></ion-icon>
        </div>
        Support
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="goToPage('/account-details')">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/change-pass.svg'"
          ></ion-icon>
        </div>
        Change Password
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="goToPage('/account-details')">
      <div class="action-name">
        <div class="round-button">
          <ion-icon
            [src]="'assets/icon/v2-icons/round-btns/change-pin.svg'"
          ></ion-icon>
        </div>
        Change PIN
      </div>
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <!-- <div class="action" (click)="goToPage('/affiliate-link')">
      Affiliate Link
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="requestPasswordReset()">
      Password Reset
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div> -->
    <!-- <div class="action">
      Help
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div> -->
    <!-- <div class="action">
      Kwakol Gold Card
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div> -->
  </div>

  <div class="actions bottom">
    <h3 class="about-head">About Kwakol</h3>
    <div class="action" (click)="goToLinks('https://www.kwakol.com')">
      Visit our Website
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div
      class="action"
      (click)="goToLinks('https://www.kwakolmarkets.com/faqs')"
    >
      FAQs
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div
      class="action"
      (click)="goToLinks('https://www.kwakolmarkets.com/terms-and-conditions')"
    >
      Terms and Conditions
      <ion-icon class="arrow" src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
  </div>

  <ion-button
    class="kwakol-btn ion-text-uppercase btn-bottom"
    type="button"
    (click)="logOut()"
  >
    Log Out
  </ion-button>
</ion-content>
