<ion-content [fullscreen]="true" class="page-content tab-page-white">
  <div class="auth-banner small">
    <h3>Profile</h3>
  </div>

  <div class="headings">
    <ion-icon src="assets/icon/profile.svg"></ion-icon>
    <h3>{{ user.fullname }}</h3>
    <!-- <ion-button class="kwakol-btn round ion-text-capitalize" type="button" (click)="editProfile()" [disabled]="true">
      Edit Profile
    </ion-button> -->
  </div>

  <div class="details">
    <div class="detail">
      Phone Number
      <span>{{ user.phone || 'N/A'}}</span>
    </div>
    <div class="detail">
      Email
      <span>{{ user.email }}</span>
    </div>
  </div>

  <div class="actions">
    <div class="action" (click)="goToPage('/account-details')">
      Account Details
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <!-- <div class="action">
      Kwakol Gold Card
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div> -->
    <div class="action" (click)="goToPage('/affiliate-link')">
      Affiliate Link
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <div class="action" (click)="requestPasswordReset()">
      Password Reset
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div>
    <!-- <div class="action">
      Help
      <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
    </div> -->
    
    <h3 class="about-head">About Kwakol</h3>
    <div class="actions bottom">
      <div class="action">
        Visit our Website
        <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
      </div>
      <!-- <div class="action">
        FAQs
        <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
      </div> -->
      <!-- <div class="action">
        Terms and Conditions
        <ion-icon src="assets/icon/arrow-forward.svg"></ion-icon>
      </div> -->
    </div>

    <ion-button class="kwakol-btn ion-text-uppercase btn-bottom" type="button" (click)="logOut()">
      Log Out
    </ion-button>

  </div>


  </ion-content>

