<ion-header>
  <div class="back-button" [routerLink]="fromPage" routerDirection="back">
    <ion-icon src="assets/icon/arrow-back.svg"></ion-icon>
  </div>

  <h2 class="subpage-heading left">Beneficiaries</h2>
</ion-header>

<ion-content class="page-content">
  <div class="beneficiaries-list" *ngIf="beneficiaries.length > 0">
    <div
      class="investment-item animate__animated animate__fadeIn"
      *ngFor="let ben of beneficiaries"
      (click)="goToBeneficiaryDetailsPage(ben)"
    >
      <div class="investment-name">
        <div class="img-wrapper">
          <!-- <img src="" alt=""> -->
          <div class="default-img">
            {{ben.fullname.split(' ')[0][0]}}{{ben.fullname.split(' ')[1][0]}}
          </div>
        </div>
        <div class="name">
          <p>Levadura</p>
          <h3>{{ben.fullname}}</h3>
        </div>
      </div>
      <h3>${{util.numberWithCommas(ben.balance)}}</h3>
    </div>
  </div>

  <div class="no-beneficiary" *ngIf="beneficiaries.length <= 0">
    It's a bit empty here because you <br/> haven't added any beneficiaries yet.
  </div>

  <div class="add-beneficiary" (click)="goToCreateBeneficiaryPage()">
    <div class="round-button">
      <ion-icon
        src="assets/icon/v2-icons/add-green.svg"
      ></ion-icon>
    </div>
    Add Beneficiary
  </div>
</ion-content>
